﻿@model MiniProject262.Models.m_medical_item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>m_medical_item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medical_item_category_id" class="control-label"></label>
                <input asp-for="medical_item_category_id" class="form-control" />
                <span asp-validation-for="medical_item_category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="composition" class="control-label"></label>
                <input asp-for="composition" class="form-control" />
                <span asp-validation-for="composition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medical_item_segmentation_id" class="control-label"></label>
                <input asp-for="medical_item_segmentation_id" class="form-control" />
                <span asp-validation-for="medical_item_segmentation_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manufacturer" class="control-label"></label>
                <input asp-for="manufacturer" class="form-control" />
                <span asp-validation-for="manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="indication" class="control-label"></label>
                <input asp-for="indication" class="form-control" />
                <span asp-validation-for="indication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dosage" class="control-label"></label>
                <input asp-for="dosage" class="form-control" />
                <span asp-validation-for="dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="directions" class="control-label"></label>
                <input asp-for="directions" class="form-control" />
                <span asp-validation-for="directions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contraindication" class="control-label"></label>
                <input asp-for="contraindication" class="form-control" />
                <span asp-validation-for="contraindication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="caution" class="control-label"></label>
                <input asp-for="caution" class="form-control" />
                <span asp-validation-for="caution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="packaging" class="control-label"></label>
                <input asp-for="packaging" class="form-control" />
                <span asp-validation-for="packaging" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_max" class="control-label"></label>
                <input asp-for="price_max" class="form-control" />
                <span asp-validation-for="price_max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_min" class="control-label"></label>
                <input asp-for="price_min" class="form-control" />
                <span asp-validation-for="price_min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image_path" class="control-label"></label>
                <input asp-for="image_path" class="form-control" />
                <span asp-validation-for="image_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_by" class="control-label"></label>
                <input asp-for="created_by" class="form-control" />
                <span asp-validation-for="created_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_on" class="control-label"></label>
                <input asp-for="created_on" class="form-control" />
                <span asp-validation-for="created_on" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_by" class="control-label"></label>
                <input asp-for="modified_by" class="form-control" />
                <span asp-validation-for="modified_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_on" class="control-label"></label>
                <input asp-for="modified_on" class="form-control" />
                <span asp-validation-for="modified_on" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deleted_by" class="control-label"></label>
                <input asp-for="deleted_by" class="form-control" />
                <span asp-validation-for="deleted_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deleted_on" class="control-label"></label>
                <input asp-for="deleted_on" class="form-control" />
                <span asp-validation-for="deleted_on" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_delete" /> @Html.DisplayNameFor(model => model.is_delete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
