﻿@model MiniProject262.Models.m_medical_item

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>m_medical_item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_item_category_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_item_category_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.composition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.composition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_item_segmentation_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_item_segmentation_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.indication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.indication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contraindication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contraindication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.packaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.packaging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image_path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modified_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modified_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modified_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_delete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_delete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
