﻿@{
	ViewData["Title"] = "CariDokter";
}
@model PageinatedList<MiniProject262.ViewModels.VMCariObat>
@using Microsoft.AspNetCore.Http;

<div id="contentWrapper" class="pt-2">
	<div class="container-fluid">
		<input id="roleStats" type="hidden" value="@Context.Session.GetInt32("idrole")" />
		<input id="userName" type="hidden" value="@Context.Session.GetString("username")" />
		<input id="userId" type="hidden" value="@Context.Session.GetInt32("iduser")" />
		<div class="card">
			<div class="card-header">
				<div class="text-center col-12">
					<div class="input-group">
						<h5 class="mr-2">Hasil Pencarian berdasarkan kata kunci:  </h5>
						@if (ViewBag.Filter1 != null && ViewBag.Filter3 != null)
						{
							<button class=" btn bg-fuchsia mr-2"> Kategori: @ViewBag.Filter1 </button>
						}
						@if (ViewBag.Filter2 != null && ViewBag.Filter3 != null)
						{
							<button class="btn bg-gradient-maroon mr-2"> Kata Kunci: @ViewBag.Filter2 </button>
						}
						@if (ViewBag.Filter3 != null)
						{
							<button class="btn bg-gradient-red mr-2"> Jenis Obat: @ViewBag.Filter3</button>
						}
						@if (ViewBag.Filter4 != null && ViewBag.Filter3 != null)
						{
							<button class="btn bg-purple mr-2"> Min Harga: @ViewBag.Filter4 </button>
						}
						@if (ViewBag.Filter5 != null)
						{
							<button class="btn bg-gradient-red mr-2"> Max Harga: @ViewBag.Filter5</button>
						}

					</div>
					<div class="input-group">
						<button class="btn btn-outline-info float-right ml-auto" id="btn-create">Cari Ulang</button>
					</div>
				</div>
			</div>
			<div class="card card-solid">
				<div class="=card-body pb-0">
					<div class="row d-flex align-items-stretch">

						@foreach (var item in Model)
						{
							<div class="col-12 col-md-6">
								<div class="card bg-light">
									<div class="card-header text-muted ">
										<h5 style="color: #17a2b8"><b> @item.name</b></h5>
										<p>@item.packaging</p>
										<p>Rp. @item.price_min - Rp. @item.price_max</p>
									</div>

									<div class="card-body pt-0 bg-info">
										<div class="row">
											<div class="col-7">
												<br />
												<h2 class="lead"><b> @item.indication </b></h2>
												<ul class="ml-4 mb-0 fa-ul text-muted">
												</ul>
											</div>
											<div class="col-5 text-center">
												@if (item.image == null)
												{
													<img src="~/adminlte/dist/img/user6-128x128.jpg" alt="" class="img-circle img-fluid">
												}
												else
												{
													<img src="~/mediaUpload/@item.image" alt="" class="img-fluid img-circle" />
												}
											</div>
										</div>
									</div>
									<div class="card-footer bg-info">
										<div class="card-footer bg-info">
											<div class="row">
												<div id="orderBtn-@item.id" class="orderBtn col-6">
													<input id="itemHarga-@item.id" type="hidden" value="@item.price_max" />
													<button class="btn btn-sm btn-success btn-block mr-1 btn-tambah" value="@item.id" onclick='cartClick("@item.id")'>
														Tambah ke Keranjang
													</button>
												</div>
												<div id="qtyCount-@item.id" class="qtyCount col-6">
													<div class="qty">
														<span id="minus-@item.id" class="minus bg-dark" onclick='btnMinus("@item.id")'>-</span>
														<input id="counter-@item.id" type="number" class="count" name="qty" value="1" min="0">
														<span id="plus-@item.id" class="plus bg-dark" onclick='btnPlus("@item.id")'>+</span>
													</div>
												</div>
												<div class="col-6">
													<a class="btn btn-sm btn-outline-light btn-block mr-1">
														Detail
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="card-footer text-muted bg-info footer-checkout">
					<div class="row">
						<div class="col">
							<p><input type="text" class="bg-transparent text-white" id="totalBarang" value="0" disabled />Produk | Estimasi Harga: Rp. <input type="text" class="bg-transparent text-white" style="width:300px" id="totalHarga" value="0" disabled /></p>
						</div>
						<div class="row">
							<a class="btn btn-primary float-right">
								Checkout
							</a>
						</div>
					</div>
				</div>
			</div>
			@{
				var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
				var nextDisabled = !Model.HasNextPage ? "disabled" : "";
			}

		</div>
		<div class="float-right">
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.PageIndex - 1)"
			   asp-route-currentFilter="@ViewData["CurrentFilter"]"
			   asp-route-pSize="@ViewData["CurrentpSize"]"
			   class="btn btn-outline-info @prevDisabled">
				Sebelumnya
			</a>
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.PageIndex + 1)"
			   asp-route-currentFilter="@ViewData["CurrentFilter"]"
			   asp-route-pSize="@ViewData["CurrentpSize"]"
			   class="btn btn-outline-info @nextDisabled">
				Selanjutnya
			</a>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="id-body">
				<p>One fine body&hellip;</p>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script type="text/javascript">
	let arrObat;
	$(document).ready(function () {
		if (window.sessionStorage.getItem('obatList') == null) {
			arrObat = [];
			$(".qtyCount").hide();
			$(".footer-checkout").hide();
		}
		else {
			$(".qtyCount").hide();
			var getObat = JSON.parse(sessionStorage.getItem("obatList"));
			arrObat = getObat;
			let totalBarang = getObat.length;
			var totalHarga = 0;
			for (var i = 0; i < getObat.length; i++) {
				totalHarga = totalHarga + parseInt(getObat[i].price);

				$("#qtyCount" + "-" + getObat[i].id).show();
				$("#orderBtn" + "-" + getObat[i].id).hide();
				$("#counter" + "-" + getObat[i].id).val(getObat[i].qty);
			}

			$('#totalBarang').val(totalBarang);
			$('#totalHarga').val(totalHarga);
			$(".footer-checkout").show();
		}

		//else {
		//	if (window.sessionStorage.getItem('counter' + "-" + id) == $('#counter' + "-" + id).val()) {
		//		$("#qtyCount" + "-" + id).show();
		//		$("#orderBtn" + "-" + id).hide();
		//		$(".footer-checkout").show();
		//	}
		//	else {
		//		$(".qtyCount").hide();
		//		$(".footer-checkout").hide();
		//	}
		//}
	})

	function cartClick(id) {
		var totalBarang = $('#totalBarang').val(parseInt($('#totalBarang').val()) + 1);
		var harga = $('#itemHarga' + "-" + id).val();
		var totalHarga = $('#totalHarga').val(parseInt($('#totalHarga').val()) + parseInt(harga));
		var qty = $('#counter' + "-" + id).val();

		arrObat.push({ id: id, qty: qty, price: harga});
		sessionStorage.setItem("obatList", JSON.stringify(arrObat));
		/*window.sessionStorage.setItem('idBarang', JSON.stringify(id));*/

		if (totalBarang.val() > 0) {
			$(".footer-checkout").show();
		}
		else if (totalBarang.val() == 0 || totalBarang.val() == null) {
			$(".footer-checkout").hide();
		}

		$("#qtyCount" + "-" + id).show();
		$("#orderBtn" + "-" + id).hide();
	}

	function btnPlus(id) {
		$('#counter' + "-" + id).prop('disabled', true);
		$('#counter' + "-" + id).val(parseInt($('#counter' + "-" + id).val()) + 1);
		var harga = $('#itemHarga' + "-" + id).val();
		var totalHarga = $('#totalHarga').val(parseInt($('#totalHarga').val()) + parseInt(harga));

		obatIndex = arrObat.findIndex(x => x.id == id);
		arrObat[obatIndex].qty = $('#counter' + "-" + id).val();
		arrObat[obatIndex].price = harga * arrObat[obatIndex].qty;

		//arrObat.push({ id: id, qty: arrObat[obatIndex].qty, price: totalHarga.val() });
		sessionStorage.setItem("obatList", JSON.stringify(arrObat));
	}

	function btnMinus(id) {
		$('#counter' + "-" + id).prop('disabled', true);
		/*var totalHarga = parseInt($('#totalHarga').val());*/
		var harga = $('#itemHarga' + "-" + id).val();
		if ($('#counter' + "-" + id).val() - 1 == 0) {
			harga = $('#itemHarga' + "-" + id).val();
			var totalHarga = $('#totalHarga').val(parseInt($('#totalHarga').val()) - parseInt(harga));
			$("#qtyCount" + "-" + id).hide();
			$("#orderBtn" + "-" + id).show();
			$('#totalBarang').val(parseInt($('#totalBarang').val()) - 1);
			//$('#totalHarga').val(0);

			obatIndex = arrObat.findIndex(x => x.id == id);
			console.log(obatIndex);
			arrObat.splice(obatIndex, 1);
			sessionStorage.setItem("obatList", JSON.stringify(arrObat));
		}
		else {
			$('#counter' + "-" + id).val(parseInt($('#counter' + "-" + id).val()) - 1);
			harga = $('#itemHarga' + "-" + id).val();
			var totalHarga = $('#totalHarga').val(parseInt($('#totalHarga').val()) - parseInt(harga));

			obatIndex = arrObat.findIndex(x => x.id == id);
			arrObat[obatIndex].qty = $('#counter' + "-" + id).val();
			arrObat[obatIndex].price = harga * arrObat[obatIndex].qty;
			sessionStorage.setItem("obatList", JSON.stringify(arrObat));
		}

		if (parseInt($('#totalHarga').val()) < 0) {
			$('#totalHarga').val(0);
		}
	}

	$("#btn-create").click(function () {
		$("#id-body").empty();
		$("#id-body").load('/m_medical_item/SearchObat')
		$("#modal-default").modal("show");
	})

	$("#btn-login").click(function () {
		$(".modal-title").text("Login Med.Id");
		$("#id-body").empty();
		$("#id-body").load('/Home/Login');
		$("#modal-default").modal("show");
	})

	//$(document).ready(function () {
	//	$('#counter').prop('disabled', true);
	//	$(document).on('click', '.plus', function () {
	//		$('#counter').val(parseInt($('.count').val()) + 1);
	//	});
	//	$(document).on('click', '.minus', function () {
	//		$('.count').val(parseInt($('.count').val()) - 1);
	//		if ($('.count').val() == 0) {
	//			$('.count').val(1);
	//		}
	//	});
	//});

	//$(".btn-order").click(function () {
	//	$(".qtyCount").show();
	//	$(".orderBtn").hide();
	//	$(".footer-checkout").show();
	//})
</script>

<style>
	.qty .count {
		color: #000;
		display: inline-block;
		vertical-align: top;
		font-size: 25px;
		font-weight: 700;
		line-height: 30px;
		padding: 0 2px;
		min-width: 35px;
		text-align: center;
	}

	.qty .plus {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		color: white;
		width: 30px;
		height: 30px;
		font: 30px/1 Arial,sans-serif;
		text-align: center;
		border-radius: 50%;
	}

	.qty .minus {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		color: white;
		width: 30px;
		height: 30px;
		font: 30px/1 Arial,sans-serif;
		text-align: center;
		border-radius: 50%;
		background-clip: padding-box;
	}

	.minus:hover {
		background-color: #717fe0 !important;
	}

	.plus:hover {
		background-color: #717fe0 !important;
	}
	/*Prevent text selection*/
	span {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	input {
		border: 0;
		width: 2%;
	}

		nput::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input:disabled {
			background-color: white;
		}
</style>