﻿@model MiniProject262.ViewModels.VMCariObat

@{
	ViewData["Title"] = "Create";
	Layout = null;
}

<style>
	label.error {
		color: red;
		font-size: 1rem;
		display: block;
		margin-top: 5px;
	}

	input.error, textarea.error {
		border: 1px dashed red;
		font-weight: 300;
		color: red;
	}
</style>

<div>
	<div>
		<h2 style="color: #17a2b8"><b>Cari Obat & Alat Kesehatan</b></h2>
		<p>Masukkan minimal 1 kata kunci untuk pencarian anda</p>
		<br />
		<form asp-action="HasilObat" id="create-form" method="get">
			<div class="form-group">
				<label style="color: #17a2b8">Kategori</label>
				<select id="IdCategory" name="kateObat" value="@ViewData["CurrentFilter1"]" class="form-control" asp-items="@(new SelectList(ViewBag.KateObat,"name","name"))"></select>
			</div>

			<div class="form-group">
				<label style="color: #17a2b8">Nama Obat</label><br />
				<input type="text" name="namaObat" value="@ViewData["CurrentFilter2"]" class="form-control" placeholder="Nama obat atau indikasi" />
			</div>

			<div class="form-group">
				<label style="color: #17a2b8">Jenis Obat</label><br />
				<div class="form-check form-control">
					<input class="form-check-input" type="radio" name="jenisObat" id="jenisObat1" value="Bebas" checked>
					<label class="form-check-label" for="exampleRadios1">
						Hanya cari obat bebas (tanpa resep)
					</label>
				</div>
				<div class="form-check form-control">
					<input class="form-check-input" type="radio" name="jenisObat" id="jenisObat2" value="Keras">
					<label class="form-check-label" for="exampleRadios2">
						Cari semua obat (termasuk obat keras)
					</label>
				</div>

				@*<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" />*@
				@*<select id="search-text" name="spesial" value="@ViewData["CurrentFilter2"]" class="form-control" asp-items="@(new SelectList(ViewBag.ListSpec,"name","name"))"></select>*@
			</div>

			<div class="form-group">
				<label style="color: #17a2b8">Harga</label>
				<div class="row">
					<input type="text" name="hargaMin" class="form-control col-5" placeholder="Rp. 0" />
					<p class="text-center col-2">sampai</p>
					<input type="text" name="hargaMax" class="form-control col-5" placeholder="Rp. 100.000.000" />
				</div>
				@*<input type="text" name="SearchString" value="@ViewData["CurrentFilter3"]" class="form-control float-right" />*@
			</div>
			<div class="form-group">
				<br />
				<button data-id="id" id="btn-search" type="submit" class="btn btn-info col-4 float-right">Cari</button>
				<button type="reset" class="btn btn-outline-primary col-4" onclick="this.form.reset();return false">Atur Ulang</button>
			</div>
		</form>
	</div>
	<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $("#btn-search").click(function () {
        $(".error").hide();
        var hasError = false;
        var searchVal = $("#search-text").val();
        if (searchVal == ' ') {
            $("#search-text").after('<span class="error" style="color:red"><i>Pilihan Spesialisasi Harus Diisi</i></span>');
            hasError = true;
        }
        if (hasError == true) { return false; }
    });
</script>