﻿@model MiniProject262.Models.m_specialization

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>


<div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Create" id="create-form">
        <h2 style="color: #17a2b8"><b>Tambah Spesialisasi</b></h2>
        <br />
        <div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Nama*</label>
                <input asp-for="name" class="form-control" id="name" name="name" />
                <span asp-validation-for="name" class="text-danger" id="validatename"></span>
            </div>

        </div>
        <!-- /.card-body -->

        <div>
            <button type="button" class="btn btn-outline-primary float-right" id="save">Simpan</button>
            <button data-dismiss="modal" class="btn btn-outline-danger col-2">Batal</button>
        </div>
    </form>
    <!-- jQuery Validation -->
    @*<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>*@
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#save").click(function () {
            debugger
            var name = $("#name").val();
            var dataForm = $("#create-form").serialize();
            if (name == "") {
                $("#validatename").html("data tidak boleh kosong")
                $("#validatename").show()
                return false
            }
            $.ajax({
                url: '/m_specialization/Create',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "error") {
                        $("#validatename").html(respon.message)
                        $("#validatename").show()
                    } else {

                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                }
            })
        })
    })


    //jQuery.validator.addMethod("lettersonly", function (value, element) {
    //    return this.optional(element) || /^[a-z]+$/i.test(value);
    //}, "Jangan masukan angka!");

    //$(document).ready(function () {
    //    $("#create-form").validate({
    //        rules: {
    //            name: {
    //                required: true
    //            }
    //        },
    //        messages: {
    //            name: {
    //                required: "nama tidak boleh kosong"
    //            }
    //        },
    //        submitHandler: function (form) {
    //            var dataform = $(form).serialize();
    //            form.submit();
    //        }

    //    });
    //});
</script>
