﻿@model PageinatedList<MiniProject262.Models.m_specialization>

@{
    ViewData["Title"] = "Index";
}

<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-cyan">
                    <h3 class="card-title">SPESIALISASI</h3>
                    <div>
                        <div class="input-group">
                            <div>
                                <form asp-action="Index" method="get">
                                    <div class="input-group">
                                        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search by Nama" />
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                                <div>
                                    <form asp-action="Index" method="get" id="form-search">
                                        @Html.DropDownList("pSize", new SelectList(ViewBag.pageSize, "Value", "Text"), new { @class = "form-control col-sm-3", @id = "pSize" })
                                    </form>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <button class="btn btn-outline-light float-right" id="btn-create">Tambah</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap bg-info">
                        <thead>
                            <tr>
                                <th>Nama</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-8">@Html.DisplayFor(modelItem => item.name)</td>
                                    <td>
                                        <button class="btn btn-primary btn-edit" data-id="@item.id">UBAH</button>
                                        <button class="btn btn-danger btn-delete" data-id="@item.id">HAPUS</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="float-right">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-pSize="@ViewData["CurrentpSize"]"
                   class="btn btn-default fas fa-arrow-alt-circle-left @prevDisabled">
                </a>
                <a>
                    @Model.PageIndex
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-pSize="@ViewData["CurrentpSize"]"
                   class="btn btn-default fas fa-arrow-alt-circle-right @nextDisabled">
                </a>
            </div>
        </div>
</div>


<script>
    $("#btn-create").click(function () {
        $(".modal-title").text("Tambah Spesialisasi Dokter");
        $("#id-body").empty();
        $("#id-body").load('/m_specialization/Create');
        $("#modal-default").modal("show");
    })
    $(".btn-edit").click(function () {
        var id = $(this).data("id");
        $(".modal-title").text("Ubah Spesialisasi Dokter");
        $("#id-body").empty();
        $("#id-body").load('/m_specialization/Edit/' + id);
        $("#modal-default").modal("show");
    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");
        $(".modal-title").text("Hapus Spesialisasi Dokter");
        $("#id-body").empty();
        $("#id-body").load('/m_specialization/Delete/' + id);
        $("#modal-default").modal("show");
    })
    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#pSize").val(selected);
        $("#form-search").submit();
    })
</script>




<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title">default modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>one fine body&hellip;</p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#create-form").validate({
                rules: {
                    name: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "nama tidak boleh kosong"
                    }
                },
                submithandler: function (form) {
                    var dataform = $(form).serialize();
                    form.submit();
                }

            });
        });
    </script>
</div>

