﻿@model MiniProject262.Models.m_wallet_default_nominal

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="modal-body">
    <h2 class="text-info">Tambah Nominal</h2>
    <form id="form-create" method="post">
        <div class="form-group col-10 mx-auto">
            <label for="nominal" class="col-form-label">Nominal*</label>
            <input type="text" class="form-control" id="nominal" asp-for="nominal" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="validateInput"></span>
        </div>
        <ul class="form-group col-10 mx-auto">
            <li class="float-right" style="list-style:none">
                <button type="button" class="btn btn-sm btn-info" style="width:65px; height:31px; margin-right:6px" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-sm btn-info" id="btn-simpan" data-toggle="modal">Simpan</button>
            </li>
        </ul>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#btn-simpan").click(function () {
            var regex = /^[0-9]+$/i;
            var dataValue = $("#form-create").serialize();
            var noms = $("#nominal").val();

            if (noms == "") {
                $("#validateInput").html('* silahkan masukkan nominal')
                $("#validateInput").show();
                return false;
            }
            else if (!noms.match(regex)) {
                $("#validateInput").html('* input hanya boleh angka (ex: 50000, 75000)')
                $("#validateInput").show();
                return false;
            }
            else {
                $.ajax({
                    url: '/Wallet/CreateConfirmed',
                    dataType: 'json',
                    data: dataValue,
                    method: 'post',
                    success: function (respon) {
                        if (respon.status == "success") {
                            toastr.success('Nominal berhasil ditambahkan')
                            setTimeout(function () {
                                window.location.href = '/Wallet/Index';
                            }, 1000);
                        }
                        else {
                            $("#validateInput").html(respon.message)
                            $("#validateInput").show();
                        }
                    }
                })
            }
        })

        $("#form-create").keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });

        $("#nominal").on("keyup", function () {
            $("#validateInput").hide();
        });
    })
    //jQuery.validator.addMethod("digitsonly", function (value, element) {
    //    return this.optional(element) || /^[0-9]+$/i.test(value);
    //}, "* input hanya boleh angka (ex: 50000, 75000)");

    //$(document).ready(function () {
    //    $("#form-create").validate({
    //        rules: {
    //            nominal: {
    //                required: true,
    //                digitsonly: true
    //            }
    //        },
    //        messages: {
    //            nominal: {
    //                required: "* silahkan isi nominal"
    //            }
    //        },
    //        submitHandler: function (form) {
    //            form.submit();
    //        }
    //    });
    //});
</script>

@*<style>
        label.error {
            color: red;
            font-size: 1rem;
            font-style: italic;
        }

        input.error {
            font-weight: 300;
            color: red;
        }
    </style>*@