﻿@model MiniProject262.Models.m_wallet_default_nominal

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Hapus Nominal</h2><br>
    <dl class="row">
        <dd class="col-sm-10 mx-auto text-center">
           Anda akan menghapus kategori @String.Format("{0:C}", Model.nominal) ?
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <ul class="form-group col-10 mx-auto">
            <li class="float-right" style="list-style:none">
                <button type="button" class="btn btn-sm btn-info" style="width:65px; height:31px; margin-right:6px" data-dismiss="modal">Tidak</button>
                <button type="submit" class="btn btn-sm btn-info" style="width:65px; height:31px" data-toggle="modal">Ya</button>
            </li>
        </ul>
    </form>
</div>