﻿@model MiniProject262.Models.m_wallet_default_nominal

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Ubah Nominal</h2>
    <form asp-action="Edit" id="form-edit">
        <input type="hidden" asp-for="id" />
        <div class="form-group col-10 mx-auto">
            <label for="nominal" class="col-form-label">Nominal*</label>
            <input type="text" class="form-control" id="nominal" asp-for="nominal" style="border:1px solid #17a2b8">
            <span asp-validation-for="nominal" class="text-danger"></span>
        </div>
        <ul class="form-group col-10 mx-auto">
            <li class="float-right" style="list-style:none">
                <button type="button" class="btn btn-sm btn-info" style="width:65px; height:31px; margin-right:6px" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-sm btn-info" data-toggle="modal">Simpan</button>
            </li>
        </ul>
    </form>
</div>

<script>
    jQuery.validator.addMethod("digitsonly", function (value, element) {
        return this.optional(element) || /^[0-9]+$/i.test(value);
    }, "* input hanya boleh angka (ex: 50000, 75000)");

    $(document).ready(function () {
        $("#form-edit").validate({
            rules: {
                nominal: {
                    required: true,
                    digitsonly: true
                }
            },
            messages: {
                nominal: {
                    required: "* silahkan isi nominal"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        font-style: italic;
    }

    input.error {
        font-weight: 300;
        color: red;
    }
</style>