﻿@model IEnumerable<MiniProject262.ViewModels.VMUser>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-8 mx-auto">
                            <form asp-action="Index" method="get" id="form-search">
                                <div class="input-group">
                                    <input id="myInput" type="search" placeholder="Search by nominal" aria-controls="example1" class="form-control form-control-sm col-sm-3" name="SearchString" style="border:1px solid #17a2b8" value="@ViewData["CurrentFilter"]" />
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-sm btn-info form-control form-control-sm" style="border-top-right-radius:3px; border-bottom-right-radius:3px">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-info" style="margin-left:auto; height:31px; padding:1px 8px" id="btn-create">
                                        Tambah
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <table id="myTable" class="table" style="border:1px solid #17a2b8; border-radius:8px">
                            <thead class="bg-info text-center">
                                <tr role="row">
                                    <th tabindex="0" aria-label="Nominal dompet elektronik" style="border-bottom: 1px solid #17a2b8">Nominal</th>
                                    <th style="border-bottom: 1px solid #17a2b8">#</th>
                                    <th style="border-bottom: 1px solid #17a2b8">Dibuat oleh</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@String.Format("{0:C}", item.nominal)</td>
                                            <td>
                                                <a class="btn btn-sm btn-info bg-transparent border-0 btn-edit" data-id="@item.id"><i class="fas fa-pen text-info"></i></a>
                                                <a class="btn btn-sm btn-info bg-transparent border-0 btn-delete" data-id="@item.id"><i class="fas fa-trash text-info"></i></a>
                                            </td>
                                            <td>
                                                @item.fullname
                                            </td>
                                        </tr>

                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content" style="border:2px solid #17a2b8; border-radius:10px">
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Wallet/Create');
        $("#modal-default").modal("show");
    })

    $(".btn-edit").click(function () {
        var id = $(this).data("id");
        $("#id-body").empty();
        $("#id-body").load('/Wallet/Edit/' + id);
        $("#modal-default").modal("show");
    })

    $(".btn-delete").click(function () {
        var id = $(this).data("id");
        $("#id-body").empty();
        $("#id-body").load('/Wallet/Delete/' + id);
        $("#modal-default").modal("show");
    })

</script>
