﻿@model MiniProject262.ViewModels.VMDetailDokter
@using Microsoft.AspNetCore.Http;

@{
	ViewData["Title"] = "Details";
}

<div>
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 style="color: #17a2b8"><b>Detail Dokter</b></h1>
				</div>
				@*<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right mr-4">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">User Profile</li>
				</ol>
			</div>*@
			</div>
		</div><!-- /.container-fluid -->
	</section>



	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<input id="roleStats" type="hidden" value="@Context.Session.GetInt32("idrole")" />
			<input id="userName" type="hidden" value="@Context.Session.GetString("username")" />
			<input id="userId" type="hidden" value="@Context.Session.GetInt32("iduser")" />
			<div class="row">
				<div class="col-md-4">

					<!-- Profile Image -->

					<div class="text-center">
						<img class="img-fluid img-circle col-6"
							 src="~/adminlte/dist/img/Screenshot 2021-09-30 at 18-52-53 上白石 萌歌 ( moka____k) • Instagram photos and videos.png"
							 alt="User profile picture">

						<!-- /.card-body -->
					</div>
					<br />
					<!-- /.card -->
					<!-- About Me Box -->
					<div class="card card-outline">
						<div class="card-header  bg-info">
							<h3 class="card-title"><i class="fas fa-book mr-2"></i>Tindakan Medis</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							@foreach (var efg in ViewBag.EFG)
							{
								<p>
									@efg.tindakanMedis
								</p>
							}
							<hr>
						</div>
						<!-- /.card-body -->
					</div>
					<div class="card card-primary">
						<div class="card-header bg-info">
							<h3 class="card-title"><i class="fas fa-building mr-2"></i>Riwayat Praktek</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							@foreach (var item in ViewBag.ABCD)
							{
								<div>
									<h5>
										<b> @item.rumahSakit,@item.namaLokasi</b>
									</h5>
									<div class="form-group">
										<label class="text-muted small">@Model.specialization</label>
										<label class="text-muted small float-right">
											@item.tahun -
											@if (item.deleted_on == null)
											{
												<label>sekarang</label>
											}
											@if (item.deleted_on != null)
											{
												<label>@item.deleted_on.Year</label>
											}
										</label>
									</div>
								</div>
							}
							<hr>

						</div>
						<!-- /.card-body -->
					</div>
					<div class="card card-primary">
						<div class="card-header bg-info">
							<h3 class="card-title"><i class="fas fa-pencil-ruler mr-2"></i>Pendidikan</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							@foreach (var bcd in ViewBag.BCD)
							{
								<div>
									<h5>
										<b> @bcd.institution_name</b>
									</h5>
									<div class="form-group">
										<label class="text-muted small">@bcd.major</label>
										<label class="text-muted small float-right">@bcd.start_year</label>
									</div>
								</div>
							}


							<hr>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-5">
							<br />
							<br />

							<div class="form-group mr-5">
								<h2 class="mr-4"><b>@Model.fullname</b></h2>

							</div>

							<h5 class="mr-4">@Model.specialization</h5>
							<p class="mr-4">
								@foreach (var item in ViewBag.RONALDO)
								{
									@if (Model.doctor_id == item.doctor_id)
									{
										@item.tahun
										break;
									}

								}
								tahun pengalaman
							</p>
						</div>
						<div class="col-md-5">
							<br />
							<br />
							<br />
							<button class="btn btn-info float-right">Chat Dokter</button>
							<br />
							<br />
							<label class="float-right mr-4" style="color: #17a2b8">Rp 30000</label>
						</div>

					</div>
					<br />
					<br />
					<br />
					<h5 style="color: #17a2b8" class="ml-4">Lokasi Praktek</h5>
					@foreach (var item in ViewBag.ABC)
					{
						if (item.id == Model.id)
						{
							<div class="card mr-5 ml-4">
								<div class="card-header p-2">
									<input id="dokId" type="hidden" value="@item.id" />
									<input id="btnId" type="hidden" value="@item.mdeical_facility_id" />
									<h3 class="ml-3"><b>@item.rumahSakit</b></h3>
									<label class="float-right mr-5" style="color: #17a2b8">
										Konsultasi mulai dari<br /> Rp.
										@foreach (var berg in ViewBag.BERG)
										{

											@if (berg.id == item.id && berg.DoctorOffice_id == item.DoctorOffice_id)
											{
												@berg.price_start_from
												break;
											}
										}

									</label>
									<label class="ml-5">@item.specialization</label>

									<div class="input-group">
										<label class="ml-5">
											<i class="fas fa-map-marker-alt mr-2"></i>@item.full_address
											,
										</label>
										@if (item.parent_id == 0)
										{
											<label class="mr-1">@item.abbreviation</label> <label>@item.namaLokasi</label>
										}
									</div>


								</div><!-- /.card-header -->
								<div>
									<table class="table table-hover">
										<tbody>
											<tr data-widget="expandable-table" aria-expanded="false" class="btn-table">
												<td>
													<div class="form-group">
														<i class="expandable-table-caret fas fa-caret-right fa-fw btn-klm"></i>
														<label id="btn-idx">Jadwal Praktek</label>
													</div>
												</td>
											</tr>
											<tr class="expandable-body d-none">
												<td>
													<div class="p-0" style="display: none;">
														<div class="row">
															<div class="col-md-10">
																<table class="table table-hover">

																	<tbody>
																		@foreach (var cde in ViewBag.CDE)
																		{
																			<tr>
																				@if (cde.doctor_id == Model.doctor_id && cde.id == item.DoctorBackup_id)
																				{
																					<td class="col-6" id="@cde.day">

																						@cde.day<br />
																					</td>
																					<td><label>@cde.time_schedule_start</label> <b>s/d</b> <label>@cde.time_schedule_end</label><br /></td>

																				}

																			</tr>

																		}
																	</tbody>
																</table>
															</div>
															<div class="flex-md-column">
																<br />
																<button class="btn btn-info d-md-flex btn-janjiDetail">Buat Janji</button>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									<!-- /.tab-pane -->
								</div>
								<!-- /.tab-content -->
							</div>
						}
					}
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
	</section>
	<!-- /.row -->
</div>

<script type="text/javascript">
	$(".btn-janjiDetail").click(function () {
		var rsId = $("#btnId").val();
		var role = $("#roleStats").val();
		var username = $("#userName").val();
		var userid = $("#userId").val();
		alert(role);
		alert(username);
		alert(userid);
		var id = $("#dokId").val();
		if (role == 0) {
			toastr.error('Harap Login terlebih dahulu');
			$(".modal-title").text("Login Med.Id");
			$("#id-body").empty();
			$("#id-body").load('/Home/Login');
			$("#modal-default").modal("show");
		}
		if (role != 0) {
			$(".modal-title").text("Buat Janji");
			$("#id-body").empty();
			$("#id-body").load('/t_appointment/IndexDetails/' + id);
			$("#modal-default").modal("show");
		}
	})
</script>