﻿@model IEnumerable<MiniProject262.ViewModels.VMDetailDokter>

@{
    ViewData["Title"] = "Index";
}




<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 style="color: #17a2b8"><b>Detail Dokter</b></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right mr-4">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <!-- Profile Image -->

                    <div class="text-center">
                        <img class="img-fluid img-circle col-6"
                             src="~/adminlte/dist/img/Screenshot 2021-09-30 at 18-52-53 上白石 萌歌 ( moka____k) • Instagram photos and videos.png"
                             alt="User profile picture">

                        <!-- /.card-body -->
                    </div>
                    <br />
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-outline">
                        <div class="card-header  bg-info">
                            <h3 class="card-title"><i class="fas fa-book mr-2"></i>Tindakan Medis</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card card-primary">
                        <div class="card-header bg-info">
                            <h3 class="card-title"><i class="fas fa-building mr-2"></i>Riwayat Praktek</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card card-primary">
                        <div class="card-header bg-info">
                            <h3 class="card-title"><i class="fas fa-pencil-ruler mr-2"></i>Pendidikan</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <br />
                            <br />
                            @foreach (var item in Model)
                            {
                                <div class="form-group mr-5">
                                    <h3 class="mr-4"><b>@item.fullname</b></h3>

                                </div>
                            }
                                <p class="mr-4">Dokter Anak</p>
                                <p class="mr-4">4 Tahun Pengalaman</p>
                            </div>
                        <div class="col-md-5">
                            <br />
                            <br />
                            <br />
                            <button class="btn btn-info float-right">Chat Dokter</button>
                            <br />
                            <br />
                            <label class="float-right mr-4" style="color: #17a2b8">Rp 30000</label>
                        </div>

                    </div>
                    <br />
                    <br />
                    <br />
                    <h5 style="color: #17a2b8" class="ml-4">Lokasi Praktek</h5>
                    <div class="card mr-5 ml-4">
                        <div class="card-header p-2">
                            <h3 class="ml-3"><b>RS. Mitra</b></h3>
                            <p class="ml-5">poliklinik Anak</p>
                            <p class="ml-5"><i class="fas fa-map-marker-alt mr-2"></i>Jl.Kebenaran Kec,kota</p>
                        </div><!-- /.card-header -->
                        <div>
                            <table class="table table-hover">
                                <tbody>
                                    <tr data-widget="expandable-table" aria-expanded="false" class="btn-table">
                                        <td>
                                            <div class="form-group">
                                                <i class="expandable-table-caret fas fa-caret-right fa-fw btn-klm"></i>
                                                <label id="btn-idx">Jadwal Praktek</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="expandable-body d-none">
                                        <td>
                                            <div class="p-0" style="display: none;">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        Senin
                                                                    </td>
                                                                    <td>18:00 - 21:00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Selasa
                                                                    </td>
                                                                    <td>18:00 - 21:00</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div>
                                                        <br />
                                                        <button class="btn btn-info ">Buat Janji</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </section>   <!-- /.row -->
</div>


