﻿@model MiniProject262.Models.m_bank
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Create";
	Layout = null;
}

<section class="content pt-3">
	<div class="card card-primary">
		<div class="card-header">
			<input id="roleStats" type="hidden" value="@Context.Session.GetInt32("idrole")" />
			<input id="userId" type="hidden" asp-for="created_by" value="@Context.Session.GetInt32("iduser")" />
			<input id="dtNow" type="hidden" asp-for="created_on" value="@DateTime.Now" />
			<h3 class="card-title">Tambah Bank</h3>
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<form asp-action="Create" data-ajax-method="POST" id="create-form">
			<div class="card-body">
				<div class="form-group">
					<label asp-for="name" class="control-label"></label>
					<input id="namaBank" asp-for="name" class="form-control" required />
					<span id="spanNama" asp-validation-for="name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="va_code" class="control-label"></label>
					<input id="vaCode" asp-for="va_code" class="form-control" required />
					<span id="spanVa" asp-validation-for="va_code" class="text-danger"></span>
				</div>
			</div>

			<!-- /.card-body -->

			<div class="card-footer">
				<input id="bankSubmit" type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</section>

<script type="text/javascript">
	var role = $("#roleStats").val();
	$(document).ready(function () {
		$("#bankSubmit").click(function () {
			var namaBank = $("#namaBank").val();
			var vaCode = $("#vaCode").val();

			if (namaBank == "") {
				$("#spanNama").html('* masukkan nama bank');
				$("#spanNama").show();
			}

			if (vaCode == "") {
				$("#spanVa").html('* masukkan kode va');
				$("#spanVa").show();
			}

			if (role == 0) {
				toastr.error('Harap Login terlebih dahulu');
				$(".modal-title").text("Login Med.Id");
				$("#id-body").empty();
				$("#id-body").load('/Home/Login');
				$("#modal-default").modal("show");
			}
		})
	})
</script>

@*<h1>Create</h1>

	<h4>m_bank</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="name" class="control-label"></label>
					<input asp-for="name" class="form-control" />
					<span asp-validation-for="name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="va_code" class="control-label"></label>
					<input asp-for="va_code" class="form-control" />
					<span asp-validation-for="va_code" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="created_by" class="control-label"></label>
					<input asp-for="created_by" class="form-control" />
					<span asp-validation-for="created_by" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="created_on" class="control-label"></label>
					<input asp-for="created_on" class="form-control" />
					<span asp-validation-for="created_on" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="modified_by" class="control-label"></label>
					<input asp-for="modified_by" class="form-control" />
					<span asp-validation-for="modified_by" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="modified_on" class="control-label"></label>
					<input asp-for="modified_on" class="form-control" />
					<span asp-validation-for="modified_on" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="deleted_by" class="control-label"></label>
					<input asp-for="deleted_by" class="form-control" />
					<span asp-validation-for="deleted_by" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="deleted_on" class="control-label"></label>
					<input asp-for="deleted_on" class="form-control" />
					<span asp-validation-for="deleted_on" class="text-danger"></span>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="is_delete" /> @Html.DisplayNameFor(model => model.is_delete)
					</label>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>*@

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
