﻿@model MiniProject262.Models.m_bank
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Delete";
	Layout = null;
}

<section class="content pt-3">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Are you sure you want to delete this data @Model.name?</h3>
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<div class="card-body">
			<form asp-action="Delete">
				<input id="roleStats" type="hidden" value="@Context.Session.GetInt32("idrole")" />
				<input type="hidden" asp-for="id" />
				<!-- /.card-body -->
				<div class="card-footer bg-transparent">
					<input type="submit" value="Delete" class="btn btn-danger" />
					<a asp-action="Index" class="btn btn-secondary">Back to List</a>
				</div>
			</form>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function () {
		var role = $("#roleStats").val();
		if (role == 0) {
			toastr.error('Harap Login terlebih dahulu');
			$(".modal-title").text("Login Med.Id");
			$("#id-body").empty();
			$("#id-body").load('/Home/Login');
			$("#modal-default").modal("show");
		}
	})
</script>

@*<h1>Delete</h1>

	<h3>Are you sure you want to delete this?</h3>
	<div>
		<h4>m_bank</h4>
		<hr />
		<dl class="row">
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.name)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.name)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.va_code)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.va_code)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.created_by)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.created_by)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.created_on)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.created_on)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.modified_by)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.modified_by)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.modified_on)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.modified_on)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.deleted_by)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.deleted_by)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.deleted_on)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.deleted_on)
			</dd>
			<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.is_delete)
			</dt>
			<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.is_delete)
			</dd>
		</dl>

		<form asp-action="Delete">
			<input type="hidden" asp-for="id" />
			<input type="submit" value="Delete" class="btn btn-danger" /> |
			<a asp-action="Index">Back to List</a>
		</form>
	</div>*@
