﻿@model MiniProject262.Models.m_bank
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Edit";
	Layout = null;
}

<section class="content pt-3">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Tambah Bank</h3>
			<input id="roleStats" type="hidden" value="@Context.Session.GetInt32("idrole")" />
		</div>
		<!-- /.card-header -->
		<!-- form start -->
		<div class="card-body">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="id" />
				<div class="form-group">
					<label asp-for="name" class="control-label"></label>
					<input asp-for="name" class="form-control" />
					<span asp-validation-for="name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="va_code" class="control-label"></label>
					<input asp-for="va_code" class="form-control" />
					<span asp-validation-for="va_code" class="text-danger"></span>
				</div>
				<!-- /.card-body -->
				<div class="card-footer">
					<input type="submit" value="Edit" class="btn btn-primary" />
					<a asp-action="Index" class="btn btn-secondary">Back to List</a>
				</div>
			</form>
		</div>

	</div>
</section>

<script type="text/javascript">
	$(document).ready(function () {
		var role = $("#roleStats").val();
		if (role == 0) {
			toastr.error('Harap Login terlebih dahulu');
			$(".modal-title").text("Login Med.Id");
			$("#id-body").empty();
			$("#id-body").load('/Home/Login');
			$("#modal-default").modal("show");
		}
	})
</script>

@*<h1>Edit</h1>

	<h4>m_bank</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="id" />
				<div class="form-group">
					<label asp-for="name" class="control-label"></label>
					<input asp-for="name" class="form-control" />
					<span asp-validation-for="name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="va_code" class="control-label"></label>
					<input asp-for="va_code" class="form-control" />
					<span asp-validation-for="va_code" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="created_by" class="control-label"></label>
					<input asp-for="created_by" class="form-control" />
					<span asp-validation-for="created_by" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="created_on" class="control-label"></label>
					<input asp-for="created_on" class="form-control" />
					<span asp-validation-for="created_on" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="modified_by" class="control-label"></label>
					<input asp-for="modified_by" class="form-control" />
					<span asp-validation-for="modified_by" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="modified_on" class="control-label"></label>
					<input asp-for="modified_on" class="form-control" />
					<span asp-validation-for="modified_on" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="deleted_by" class="control-label"></label>
					<input asp-for="deleted_by" class="form-control" />
					<span asp-validation-for="deleted_by" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="deleted_on" class="control-label"></label>
					<input asp-for="deleted_on" class="form-control" />
					<span asp-validation-for="deleted_on" class="text-danger"></span>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="is_delete" /> @Html.DisplayNameFor(model => model.is_delete)
					</label>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>

	@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}*@
