﻿@model PageinatedList<MiniProject262.Models.m_bank>
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Index";
}

<div class="container-fluid">
	<div class="card">
		<div class="card-header bg-cyan">
			<h3 class="card-title pb-2">BANK</h3>
			<input id="roleStats" type="hidden" value="@Context.Session.GetInt32("idrole")" />
			<div>
				<div class="input-group">
					<div>
						<form asp-action="Index" method="get" id="form-search">
							<div class="input-group">
								<input type="text" id="myInput" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search by Nama" />
								<button type="submit" class="btn btn-default mr-2 btn-sm">
									<i class="fas fa-search"></i>
								</button>
								@Html.DropDownList("pSize", new SelectList(ViewBag.pageSize, "Value", "Text"), new { @class = "form-control col-sm-3", @id = "pSize" })
							</div>
							<p>@ViewBag.counter data ditemukan</p>
						</form>
					</div>
					<div class="ml-auto">
						<button class="btn btn-success float-right" id="btn-create">Tambah</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body table-responsive p-0">
			<table class="table table-hover text-nowrap bg-info">
				<thead>
					<tr>
						<th>
							Nama<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="button fas fa-sort text-white ml-2">A/Z</a>
						</th>
						<th>Virtual Account</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody class="bg-white">
					@foreach (var item in Model)
					{
						<tr>
							<td class="col-8">@Html.DisplayFor(modelItem => item.name)</td>
							<td class="col-8">@Html.DisplayFor(modelItem => item.va_code)</td>
							<td>
								<button class="btn btn-primary btn-edit" data-id="@item.id">UBAH</button>
								<button class="btn btn-danger btn-delete" data-id="@item.id">HAPUS</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<!-- /.card-body -->
	@{
		var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
		var nextDisabled = !Model.HasNextPage ? "disabled" : "";
	}
	<div class="float-right">
		<a asp-action="Index"
		   asp-route-sortOrder="@ViewData["CurrentSort"]"
		   asp-route-pageNumber="@(Model.PageIndex - 1)"
		   asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   asp-route-pSize="@ViewData["CurrentpSize"]"
		   class="btn btn-default fas fa-arrow-alt-circle-left @prevDisabled">
		</a>
		<a>
			@Model.PageIndex
		</a>
		<a asp-action="Index"
		   asp-route-sortOrder="@ViewData["CurrentSort"]"
		   asp-route-pageNumber="@(Model.PageIndex + 1)"
		   asp-route-currentFilter="@ViewData["CurrentFilter"]"
		   asp-route-pSize="@ViewData["CurrentpSize"]"
		   class="btn btn-default fas fa-arrow-alt-circle-right @nextDisabled">
		</a>
	</div>
</div>
<!-- /.card -->
<!-- jQuery -->
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- jQuery Validation -->
<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Toastr -->
<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.css">
<!-- Toastr -->
<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.min.css">
<!-- Toastr -->
<script src="~/adminlte/plugins/toastr/toastr.min.js"></script>
<!-- Font Awesome -->
<link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="id-body">
				<p>One fine body&hellip;</p>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	<script type="text/javascript">
		$(document).ready(function () {
			$("#create-form").validate({
				rules: {
					name: {
						required: true
					}
				},
				messages: {
					name: {
						required: "nama tidak boleh kosong"
					}
				},
				submitHandler: function (form) {
					var dataform = $(form).serialize();
					form.submit();
				}

			});
		});
	</script>
</div>
<!-- /.modal -->

<script>
	var role = $("#roleStats").val();
	$("#btn-create").click(function () {
		if (role == 0) {
			toastr.error('Harap Login terlebih dahulu');
			$(".modal-title").text("Login Med.Id");
			$("#id-body").empty();
			$("#id-body").load('/Home/Login');
			$("#modal-default").modal("show");
		}
		else {
			$("#id-body").empty();
			$("#id-body").load('/m_bank/Create')
			$("#modal-default").modal("show");
		}
	})
	$(".btn-edit").click(function () {
		var id = $(this).data("id");
		if (role == 0) {
			toastr.error('Harap Login terlebih dahulu');
			$(".modal-title").text("Login Med.Id");
			$("#id-body").empty();
			$("#id-body").load('/Home/Login');
			$("#modal-default").modal("show");
		}
		else {
			$("#id-body").empty();
			$("#id-body").load('/m_bank/Edit/' + id);
			$("#modal-default").modal("show");
		}

	})
	$(".btn-delete").click(function () {
		var id = $(this).data("id");
		if (role == 0) {
			toastr.error('Harap Login terlebih dahulu');
			$(".modal-title").text("Login Med.Id");
			$("#id-body").empty();
			$("#id-body").load('/Home/Login');
			$("#modal-default").modal("show");
		}
		else {
			$("#id-body").empty();
			$("#id-body").load('/m_bank/Delete/' + id);
			$("#modal-default").modal("show");
		}
	})

	$("#pSize").change(function () {
		var selected = $(this).children("option:selected").val()
		$("#pSize").val(selected);
		$("#form-search").submit();
	})

	$(document).ready(function () {
		$("#myInput").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	})
</script>


@*<h1>Index</h1>

	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.va_code)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.created_by)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.created_on)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.modified_by)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.modified_on)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.deleted_by)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.deleted_on)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.is_delete)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.va_code)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.created_by)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.created_on)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.modified_by)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.modified_on)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.deleted_by)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.deleted_on)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.is_delete)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>*@
