﻿@model MiniProject262.Models.m_education_level

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}


<div class="card card-primary">
    <div class="card-header bg-info">
        <h3 class="card-title" style="color:white">HAPUS</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="name" />
        <input type="hidden" asp-for="created_by" />
        <input type="hidden" asp-for="created_on" />
        <input type="hidden" asp-for="modified_by" />
        <input type="hidden" asp-for="modified_on" />
        <input type="hidden" asp-for="deleted_by" />
        <input type="hidden" asp-for="deleted_on" />
        <input type="hidden" asp-for="is_delete" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <div class="card-body">
            <div class="form-group">
                <h4>Anda akan menghapus @Model.name ?</h4>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card-footer">
            <input type="submit" value="Ya" class="btn btn-primary float-lg-right col-2" />
            <button data-dismiss="modal" class="btn btn-danger col-2">Tidak</button>
        </div>
    </form>
</div>