﻿@model MiniProject262.Models.m_customer_relation

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}


<div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="name" />
        <input type="hidden" asp-for="created_by" />
        <input type="hidden" asp-for="created_on" />
        <input type="hidden" asp-for="modified_by" />
        <input type="hidden" asp-for="modified_on" />
        <input type="hidden" asp-for="deleted_by" />
        <input type="hidden" asp-for="deleted_on" />
        <input type="hidden" asp-for="is_delete" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <h2 style="color: #17a2b8"><b>Hapus Hubungan</b></h2><br />
        <div>
            <div class="form-group">
                <h4>Anda akan menghapus @Model.name ?</h4>
            </div>
            <!-- /.card-body -->
        </div>
        <div>
            <input type="submit" value="Ya" class="btn btn-outline-primary float-lg-right col-2" />
            <button data-dismiss="modal" class="btn btn-outline-danger col-2">Batal</button>
            @*<button id="btn-back" class="btn btn-outline-danger col-2">Batal</button>*@
        </div>
    </form>
</div>


<script>
    $("#btn-back").click(function () {

        $("#id-body").empty();
        $("#id-body").load('/m_customer_relation/Index')
        $("#modal-default").modal("show");
    })
</script>