﻿@model MiniProject262.Models.m_customer_relation

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

<div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Edit" id="create-form">
        <input type="hidden" asp-for="created_by" />
        <input type="hidden" asp-for="created_on" />


        <input type="hidden" asp-for="is_delete" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <h2 style="color: #17a2b8"><b>Ubah Hubungan</b></h2><br />
        <div>
            <div class="form-group" id="create-form" data-ajax-method="POST">
                <label asp-for="name" class="control-label">Nama*</label>
                <input asp-for="name" class="form-control" id="name" name="name" />
                <span asp-validation-for="name" class="text-danger" id="validatename"></span>
            </div>
            <!-- /.card-body -->
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary float-right" id="save">Simpan</button>
            <button data-dismiss="modal" class="btn btn-outline-danger col-2">Batal</button>
            @*<button id="btn-back" class="btn btn-outline-danger col-2">Batal</button>*@
        </div>
    </form>
    <!-- jQuery Validation -->
    <script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
</div>

<script>

    $(document).ready(function () {
        $("#save").click(function () {
            debugger
            var name = $("#name").val();
            var dataForm = $("#create-form").serialize();
            if (name == "") {
                $("#validatename").html("data tidak boleh kosong")
                $("#validatename").show()
                return false
            }
            $.ajax({
                url: '/m_customer_relation/Edit',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "error") {
                        $("#validatename").html(respon.message)
                        $("#validatename").show()
                    } else {

                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                }
            })
        })
    })

    $("#btn-back").click(function () {

        $("#id-body").empty();
        $("#id-body").load('/m_customer_relation/Index')
        $("#modal-default").modal("show");
    })

    //jQuery.validator.addMethod("lettersonly", function (value, element) {
    //    return this.optional(element) || /^[a-z]+$/i.test(value);
    //}, "Jangan masukan angka!");

    //$(document).ready(function () {
    //    $("#create-form").validate({
    //        rules: {
    //            name: {
    //                required: true,
    //                lettersonly: true
    //            }
    //        },
    //        messages: {
    //            name: {
    //                required: "nama tidak boleh kosong"
    //            }
    //        },
    //        submitHandler: function (form) {
    //            var dataform = $(form).serialize();
    //            form.submit();
    //        }

    //    });
    //});
</script>