﻿@model IEnumerable<MiniProject262.Models.m_customer_relation>

@{
    ViewData["Title"] = "Index";
}

<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">

        <div class="col-12">
            <div class="card">
                <div class="card-header bg-cyan">
                    <h3 class="card-title">HUBUNGAN PASIEN</h3>

                    <div>
                        <div class="input-group">
                            <div>
                                <form asp-action="Index" method="get">
                                    <div class="input-group">
                                        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search by Nama" />
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="ml-auto">
                                <button class="btn btn-outline-light float-right" id="btn-create">Tambah</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap bg-info">
                        <thead>
                            <tr>
                                <th>Nama</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-8">@Html.DisplayFor(modelItem => item.name)</td>
                                    <td>
                                        <button class="btn btn-primary btn-edit" data-id="@item.id">UBAH</button>
                                        <button class="btn btn-danger btn-delete" data-id="@item.id">HAPUS</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- jQuery -->
            <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
            <!-- jQuery Validation -->
            <script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
            <!-- jQuery UI 1.11.4 -->
            <script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>

            <!-- Toastr -->
            <link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.css">
            <!-- Toastr -->
            <link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.min.css">
            <!-- Toastr -->
            <script src="~/adminlte/plugins/toastr/toastr.min.js"></script>
            <!-- Font Awesome -->
            <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
        </div>
    </div>
</div>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    <!-- /.modal-dialog -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#create-form").validate({
                rules: {
                    name: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "nama tidak boleh kosong"
                    }
                },
                submitHandler: function (form) {
                    var dataform = $(form).serialize();
                    form.submit();
                }

            });
        });
    </script>
</div>
<!-- /.modal -->


<script>
    $("#btn-create").click(function () {
        $(".modal-title").text("Tambah Hubungan Pasien");
        $("#id-body").empty();
        $("#id-body").load('/m_customer_relation/Create')
        $("#modal-default").modal("show");
    })
    $(".btn-edit").click(function () {
        var id = $(this).data("id");
        $(".modal-title").text("Ubah Hubungan Pasien");
        $("#id-body").empty();
        $("#id-body").load('/m_customer_relation/Edit/' + id);
        $("#modal-default").modal("show");
    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");
        $(".modal-title").text("Hapus Hubungan Pasien");
        $("#id-body").empty();
        $("#id-body").load('/m_customer_relation/Delete/' + id);
        $("#modal-default").modal("show");
    })
</script>
