﻿@model MiniProject262.ViewModels.VMSpesialisasiDokter
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = null;
    
}


<div class="modal-body">
    <h3 class="text-info">Pilih Spesialisasi Anda</h3>

    <form id="add-form" asp-action="AddSpesialisasi" method="POST">
        <input type="hidden" asp-for="doctor_id" value="@ViewBag.idDoc" />
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Spesialisasi*</label>
            <select class="form-control" id="spes" style="border:1px solid #17a2b8" asp-for="specialization_id" asp-items="@(new SelectList(ViewBag.ls,"id","name"))">
                <option value="" disabled selected>--Pilih--</option>
            </select>
            <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
        </div>
        <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-lg btn-info" id="login">Batal</button>
            <button type="button" class="btn btn-lg btn-info btn-submit" id="login">Simpan</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $(".btn-submit").click(function () {
            alert("alert")
            var spesial = $("#spes").val();
            if (spesial == null) {
                $("#divMessage").html('* Spesialisasi Tidak Boleh Kosong')
                $("#divMessage").show();
                return false;
            }
    //    $("#add-form").validate({
    //        rules: {
    //            specialization_id: {
    //                required: true
    //            },
    //        },
    //        messages: {
    //            gender: {
    //                required: "*Spesialisasi tidak boleh kosong!"
    //            },
    //        }
                $("#add-form").submit();
        })
    })

    $(document).ready(function () {
        $("#spes").change(function () {
            $("#divMessage").hide();
        });
    });
</script>
@*<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 100;
        color: red;
    }
</style>*@