﻿@model PageinatedList<MiniProject262.ViewModels.VMAlamat>
<!-- Main content -->

<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <partial name="ProfileCard" />
            </div>
            <div class="col-md-9">
                <div class="card ">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link" asp-action="Index">Profile</a></li>
                            <li class="nav-item"><a class="nav-link active" asp-action="Alamat">Alamat</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="WithdrawBal">Tarik Saldo</a></li>
                        </ul>
                    </div>
                    <div class=" card-header bg-info">
                        <form asp-action="Alamat" method="get" id="form-search">
                            <div class="row justify-content-between">

                                <div class="input-group col-2">
                                    <input id="myInput" type="search" name="SearchString" class="form-control float-right" placeholder="Search..." />
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm col-1">
                                    @Html.DropDownList("pSize", new SelectList(ViewBag.pageSize, "Value", "Text"), new { @class = "form-control", @id = "pSize" })
                                </div>
                            </div><br />
                            <div class="input-group input-group-sm float-right" style="width: 150px;">
                                @Html.DropDownList("sortOrder", new SelectList(ViewBag.srtalamat, "Value", "Text"), new { @class = "form-control", @id = "sortOrder" })
                            </div>
                        </form><br />
                    </div>
                    <div class="bg-info card-header">
                        <div class="float-left  ">
                            <button type="submit" class="btn btn-light" asp-action="DeleteSelectedAlamat" id="btn-deletealmt">
                                Hapus
                            </button>
                        </div>
                        <div class="float-right ">
                            <a asp-action="Alamat" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="fas fa-sort" style="color:white">A-Z</a>|
                            <button type="button" class="btn btn-light" id="btn-create">
                                Tambah
                            </button>
                        </div>

                    </div>
                    
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">

                            <tbody id="myTable">
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td scope="row">
                                            <input type="checkbox" class="custom-checkbox chk-id" name="id_alamat" value="@item.id">
                                        </td>
                                        <td>
                                            <h4> @item.label </h4>
                                            <h5 style="color:dimgrey">@item.recipient,@item.recipient_phone_number</h5>
                                            <h5 style="color:dimgrey">@item.address,@item.wilayah</h5>
                                        </td>
                                        <td class="col-2">
                                            <a class="btn btn-primary btn-edit" style="color:white" data-id="@item.id">Ubah</a> |
                                            <a class="btn btn-danger btn-delete" style="color:white" data-id="@item.id">Hapus</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right mx-auto">
                            @{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

                            <a asp-action="Pasien"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default  @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Pasien"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div>
</div>
<!-- /.card -->
<!-- /.content -->


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $("#btn-create").click(function () {

        $("#id-body").empty();
        $("#id-body").load('/Profile/TambahAlamat');
        $("#modal-default").modal("show");
    })

    $(".btn-edit").click(function () {

        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Profile/EditAlamat/' + id);
        $("#modal-default").modal("show");

    })

    $(".btn-delete").click(function () {

        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Profile/DeleteAlamat/' + id);
        $("#modal-default").modal("show");

    })

    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#pSize").val(selected);
        $("#form-search").submit();
    })

    $("#sortOrder").change(function () {
        debugger
        var selected = $(this).children("option:selected").val()
        $("#sortOrder").val(selected);
        $("#form-search").submit();
    })

    //$(".chk-id").click(function () {

    //    var id = $(this).val()
    //    alert(id.id_customer_member)
    //})

    $("#btn-deletealmt").click(function () {
        var favorite = [];
        $.each($("input[name='id_alamat']:checked"), function () {
            favorite.push($(this).val());
        });
        debugger
        var data = favorite.join(",");
        $("#id-body").empty();
        $("#id-body").load('/Profile/DeleteSelectedAlamat?data=' + data);
        $("#modal-default").modal("show");

    });


</script>

