﻿
@{
    ViewData["Title"] = "Autentikasi Sukses";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Autentikasi</h2><br>
    <div class="form-group col-8 mx-auto text-center">
        @*<span id="timer"></span>*@
        <h5>Proses autentikasi berhasil</h5>
    </div><br>
    @*<div class="d-flex justify-content-center">
        <button type="button" class="btn btn-lg btn-info" data-dismiss="modal" style="width: 115px; height: 42px; font-size: 1rem">Close</button>
    </div>*@
</div>

@*<script>
     $(document).ready(function () {
        var countDownDate = new Date();
        countDownDate.setSeconds(countDownDate.getSeconds() + 5)
        countDownDate = countDownDate.getTime()

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

            $("#modal-default").on("hidden.bs.modal", function () {
                clearInterval(x);
            });
            $("#id-body").on("change", function () {
                clearInterval(x);
            });
            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
                $("#modal-default").modal("hide");
            }
        }, 1000);
    })
</script>*@