﻿
@{
    ViewData["Title"] = "Autentikasi Gagal";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Autentikasi</h2><br>
    <div class="form-group col-8 mx-auto text-center">
        <h5>Proses autentikasi gagal</h5>
    </div><br>
</div>