﻿@model MiniProject262.ViewModels.VMCusWallet
@{
    ViewData["Title"] = "Custom Nominal";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Isi Nominal Lain</h2>
    <form id="form-custom">
        <div class="form-group col-10 mx-auto">
            <input type="hidden" asp-for="customer_id">
            <label for="custom_nominal" class="col-form-label">Isi nominal lain</label>
            <input type="text" class="form-control" id="cusnominal" name="cus_nominal" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="validateInput"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" data-dismiss="modal" class="btn btn-lg btn-outline-info" id="btn-batal" style="width:115px; height:42px; font-size:1rem; margin-right: 20px">Batal</button>
            <button type="button" data-toggle="modal" class="btn btn-lg btn-info" id="btn-okk" style="width: 115px; height: 42px; font-size: 1rem; margin-left: 20px">Ok</button>
        </div>
    </form>
</div>

<script>
    function addCommas(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    $("#btn-okk").click(function () {
        var tempnom = $("#cusnominal").val();
        var tenom = parseInt(tempnom);
        var tnom = addCommas(tempnom);
        var regex = /^[0-9]+$/i;
        var saldo = $("#saldo").val();
        var ssaldo = parseInt(saldo);
        var dataValue = $("#form-custom").serialize();

        if (tempnom == "") {
            $("#validateInput").html('* silahkan masukkan nominal')
            $("#validateInput").show();
            return false;
        }
        else if (!tempnom.match(regex)) {
            $("#validateInput").html('* input hanya boleh angka (ex: 50000, 75000)')
            $("#validateInput").show();
            return false;
        }
        else if (tenom > ssaldo) {
            $("#validateInput").html('* nominal tidak boleh lebih besar saldo')
            $("#validateInput").show();
            return false;
        }
        else {
            $.ajax({
                url: '/Profile/CusNom',
                dataType: 'json',
                data: dataValue,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        toastr.success('Nominal lain berhasil ditambahkan')
                        document.getElementById("btn-other-val").innerHTML = "Rp" + tnom;
                        $("#btn-other-val").val(tempnom);
                        $("#btn-other-val").show();
                        $("#modal-default").modal("hide");
                    }
                    else {
                        $("#validateInput").html(respon.message)
                        $("#validateInput").show();
                    }
                }
            })
        }
    })

        $("#cusnominal").on("keyup", function () {
            $("#validateInput").hide();
        })

        $("#form-custom").keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        })
</script>