﻿@model MiniProject262.ViewModels.VMAlamat

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<div class="border-bottom">
    <h2>Hapus!</h2>
</div>

<h3>Apakah anda ingin menghapus alamat @Model.label?</h3>
<div>
    <form asp-action="DeleteAlamat">
        <div class="float-right">
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="biodata_id" />
            <input type="hidden" asp-for="label" />
            <input type="hidden" asp-for="recipient" />
            <input type="hidden" asp-for="recipient_phone_number" />
            <input type="hidden" asp-for="location_id" />
            <input type="hidden" asp-for="postal_code" />
            <input type="hidden" asp-for="address" />
            <input type="hidden" asp-for="created_by" />
            <input type="hidden" asp-for="created_on" />
            <input type="hidden" asp-for="modified_by" />
            <input type="hidden" asp-for="modified_on" />
            <a class="btn btn-warning" asp-action="Index">Tidak</a>
            <input type="submit" value="Ya" class="btn btn-danger" />
        </div>
    </form>
</div>
