﻿@model MiniProject262.ViewModels.VMPasien

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<div class="border-bottom">
    <h2>Hapus!</h2>
</div>

<h3>Apakah anda ingin menghapus pasien @Model.fullname?</h3>
<div>
    <form asp-action="DeletePasien">
        <div class="float-right">
            <input type="hidden" asp-for="id_customer_member" />
            <input type="hidden" asp-for="parent_biodata_id" />
            <input type="hidden" asp-for="customer_id" />
            <input type="hidden" asp-for="customer_relation_id" />
            <input type="hidden" asp-for="created_by_cusmem" />
            <input type="hidden" asp-for="created_on_cusmem" />
            <input type="hidden" asp-for="modified_by_cusmem" />
            <input type="hidden" asp-for="modified_on_cusmem" />
            <a class="btn btn-warning" asp-action="Pasien">Tidak</a>
            <input type="submit" value="Ya" class="btn btn-danger" />
        </div>
    </form>
</div>
