﻿@model IEnumerable<MiniProject262.ViewModels.VMAlamat>

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<div class="border-bottom">
    <h2>Hapus!</h2>
</div>
<h3>
    Apakah anda ingin menghapus alamat?
</h3>
@foreach (var item in Model)
{


    <h4>-@item.label</h4>



}
@using (Html.BeginForm("DeleteSelectedAlamat", "Profile", FormMethod.Post))
{
    @foreach (var item in Model)
    {
        <input type="hidden" name="deleteselect" id="deleteselect" value="@item.id" />
    }
<div class="float-right">
    <button class="btn btn-warning" data-dismiss="modal">Batal</button>
    <input type="submit" value="Ya" class="btn btn-danger" />
</div>
}

<!--<div>
    <form asp-action="DeleteSelected">
        <div class="float-right">-->
@*@foreach (var item in collection)
    {

    }*@
<!--<input type="hidden" value="" />
            <a class="btn btn-warning" asp-action="Pasien">Tidak</a>
            <input type="submit" value="Ya" class="btn btn-danger" />
        </div>
    </form>
</div>-->

<script>

    //$("#btn-deletechk").click(function () {
    //    var favorite = [];
    //    $.each($("input[name='id_customer_member']:checked"), function () {
    //        favorite.push($(this).val());
    //    });
    //    debugger
    //    var data = favorite.join(",");
    //    $("#id-body").empty();
    //    $("#id-body").load('/Profile/DeleteSelected?data=' + data);
    //    $("#modal-default").modal("show");

    //});
</script>