﻿@model MiniProject262.ViewModels.VMPasien

@{
    Layout = null;

}

<h4>Tambah Pasien</h4>

<div class="container-fluid">

    <div class="card card-primary mx-auto">
        <!-- form start -->
        <form asp-action="EditPasien" id="create-form" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <input type="hidden" class="form-control" asp-for="id_customer_member">
                    <input type="hidden" class="form-control" asp-for="parent_biodata_id">
                    <input type="hidden" class="form-control" asp-for="biodata_id">
                    <input type="hidden" class="form-control" asp-for="customer_id">
                    <input type="hidden" class="form-control" asp-for="created_on_biodata">
                    <input type="hidden" class="form-control" asp-for="created_on_customer">
                    <input type="hidden" class="form-control" asp-for="created_on_cusmem">
                    <input type="hidden" class="form-control" asp-for="created_by_cusmem">
                    <label>Nama Lengkap*</label>
                    <input type="text" class="form-control" asp-for="fullname" placeholder="Nama Lengkap">
                    <span asp-validation-for="fullname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tanggal Lahir</label>
                    <input type="date" class="form-control" asp-for="dob" placeholder="dd/mm/yyyy">
                    <span asp-validation-for="dob" class="text-danger"></span>
                </div>
                <div class="form-group row ">
                    <label class="col-6 mx-auto">Jenis Kelamin*</label>
                    <div class=" form-check col-2 mx-auto">
                        <input class="form-check-input" type="radio" asp-for="gender" value="M" id="gender1">
                        <label class="form-check-label" for="gender1">
                            Pria
                        </label>
                    </div>
                    <div class="form-check col-2 mx-auto">
                        <input class="form-check-input" type="radio" asp-for="gender" value="F" id="gender2">
                        <label class="form-check-label" for="gender2">
                            Wanita
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    <label> Golongan Darah/Rhesus</label>
                    <div class="row ">
                        <select class="form-control col-6 mx-auto" asp-for="blood_group_id" asp-items="@(new SelectList(ViewBag.message,"id","code"))"></select><br />
                        <div class=" form-check col-2 mx-auto">
                            <input class="form-check-input" type="radio" asp-for="rhesus_type" value="Rh+" id="rhesus1">
                            <label class="form-check-label" for="rhesus1">
                                Rh+
                            </label>
                        </div>
                        <div class="form-check col-2 mx-auto">
                            <input class="form-check-input" type="radio" asp-for="rhesus_type" value="Rh-" id="rhesus2">
                            <label class="form-check-label" for="rhesus2">
                                Rh-
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label>Tinggi Badan</label>
                            <div class="input-group mx-auto">
                                <input type="text" class="form-control " asp-for="height" placeholder="Tinggi Badan">
                                <div class="input-group-append col-2">
                                    <div>
                                        cm
                                    </div>
                                </div>
                                <span asp-validation-for="height" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4 mx-auto">
                            <label>Berat Badan</label>
                            <div class="input-group mx-auto">
                                <input type="text" class="form-control" asp-for="weight" placeholder="Berat Badan">
                                <div class="input-group-append col-2">
                                    <div>
                                        kg
                                    </div>
                                </div>
                                <span asp-validation-for="weight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Relasi</label>
                        <select class="form-control" asp-for="customer_relation_id" asp-items="@(new SelectList(ViewBag.relation,"id","name"))"></select>
                    </div><br />
                    <div class="card-footer float-right">
                        <button class="btn btn-warning" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
