﻿@model MiniProject262.ViewModels.VMSpesialisasiDokter
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = null;

}


<div class="modal-body">
    <h3 class="text-info">Ubah Spesialisasi Anda</h3>

    <form id="edit-form" asp-action="EditSpesialisasi" method="POST">
        <input type="hidden" class="form-control" asp-for="id" />
        <input type="hidden" class="form-control" asp-for="doctor_id" />
        <input type="hidden" class="form-control" asp-for="created_by" />
        <input type="hidden" class="form-control" asp-for="created_on" />
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Spesialisasi*</label>
            <select class="form-control" style="border:1px solid #17a2b8" asp-for="specialization_id" asp-items="@(new SelectList(ViewBag.ls,"id","name"))">
                <option value="" disabled selected>--Pilih--</option>
            </select>

            <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
        </div>
        <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-lg btn-info btn-submit" id="login">Batal</button>
            <button type="submit" class="btn btn-lg btn-info btn-submit" id="login">Simpan</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#edit-form").validate({
            rules: {
                specialization_id: {
                    required: true
                },
            },
            messages: {
                gender: {
                    required: "*Spesialisasi tidak boleh kosong!"
                },
            }
        })
    })
</script>
<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 100;
        color: red;
    }
</style>