﻿
@model MiniProject262.ViewModels.VMProfil


@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
@*<div class="card card-primary">*@
<form asp-action="Save" id="edit-form" data-ajax-method="POST">
    <input type="hidden" asp-for="id" value="@Model.id" />
    <input type="hidden" asp-for="customer_id" value="@Model.customer_id" />
    <input type="hidden" asp-for="biodata_id" value="@Model.biodata_id" />
    <input type="hidden" asp-for="email" value="@Model.email" />
    <input type="hidden" asp-for="password" value="@Model.password" />
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="fullname" class="control-label">Nama Lengkap*</label>
            <input type="text" id="fullname" name="fullname" value="@Html.DisplayFor(model => model.fullname)" class="form-control col-10" />
            <span asp-validation-for="fullname" id="validate-fullname" style="color:red;display:none" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="dob" class="control-label">Tanggal Lahir*</label>
            <input type="date" id="dob" name="dob" class="form-control col-10" value="@Html.DisplayFor(model => model.dob, "ShortDate")" />
            <span asp-validation-for="dob" id="validate-dob" style="color:red;display:none" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="dob" class="control-label">Tanggal Lahir*</label>
            <input type="date" id="dob" class="form-control col-10" asp-for="dob" asp-format="{0:dd/MM/yyyy}" />
            <span asp-validation-for="dob" id="validate-dob" style="color:red;display:none" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="mobile_phone" class="control-label">Nomor Handphone*</label>
            <input type="text" id="mobile_phone" name="mobile_phone" value="@Html.DisplayFor(model => model.mobile_phone)" class="form-control col-10" />
            <span asp-validation-for="mobile_phone" id="validate-mobile_phone" style="color:red;display:none" class="text-danger"></span>
        </div>
    </div>
    <div class="float-right">
        <input type="submit" value="Ubah" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
    </div>
</form>
@*</div>*@


<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>


<!-- jQuery Validation -->
<!--<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>-->
<script src="~/adminlte/plugins/jquery-ui/jquery-ui.js"></script>
<script src="~/adminlte/plugins/jquery-1.11.3.min.js"></script>
<script src="~/adminlte/plugins/jquery-ui.js"></script>
<script>
    $(function () {
        $('#txtDatePicker').datepicker(
            {
                dateFormat: 'dd/MM/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1950:2100'
            });
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#edit-form").validate({
            rules: {
                name: {
                    required: true
                },
                dob: {
                    required: true
                },
                mobile_phone: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "nama tidak boleh kosong"
                },
                dob: {
                    required: "tanggal lahir tidak boleh kosong"
                },
                mobile_phone: {
                    required: "nomor handphone tidak boleh kosong"
                }
            },
            submitHandler: function (form) {
                var dataform = $(form).serialize();
                form.submit();
            }

        });
    });

</script>