﻿@model MiniProject262.ViewModels.VMProfil
@{
    Layout = null;
}

<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- jQuery Validation -->
<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>

@*<div class="modal-body">*@
@*<h3 class="text-info">Set Password</h3>*@

<form id="form-setpass" method="post">
    <p>Masukkan masukkan password anda saat ini!</p>
    <div class="form-group col-10 mx-auto">
        <input type="hidden" asp-for="id" value="@Model.id" />
        <input type="hidden" asp-for="customer_id" value="@Model.customer_id" />
        <input type="hidden" asp-for="biodata_id" value="@Model.biodata_id" />
        <input type="hidden" asp-for="fullname" value="@Model.fullname" />
        <input type="hidden" asp-for="dob" value="@Model.dob" />
        <input type="hidden" asp-for="mobile_phone" value="@Model.mobile_phone" />
        <input type="hidden" asp-for="email" value="@Model.email" />
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password*</label>
            <input type="password" class="form-control" id="pass1" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="validatePass1"></span>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Masukkan ulang password*</label>
            <input type="password" class="form-control" id="pass2" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="validatePass2"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info btn-submit">Simpan</button>
        </div>
        <input type="hidden" id="passwordold" asp-for="password" value="@Model.password" />
    </div>
</form>
@*</div>*@

<script>
    $(".btn-submit").click(function () {
        var password1 = $("#pass1").val();
        var password2 = $("#pass2").val();
        var passwordold = $("#passwordold").val();
        var dataform = $("#form-setpass").serialize();
        if (password1 == "" && password2 == "") {
            $("#validatePass1").html('* Password tidak boleh kosong')
            $("#validatePass1").show();
            $("#validatePass2").html('* Password tidak boleh kosong')
            $("#validatePass2").show();
            return false;
        }
        else if (password1 == "" && password2 != "") {
            $("#validatePass1").html('* Password tidak boleh kosong')
            $("#validatePass1").show();
            return false;
        }
        else if (password1 != "" && password2 == "") {
            $("#validatePass2").html('* Masukkan ulang password')
            $("#validatePass2").show();
            return false;
        }
        else if (password1 != password2) {
            $("#validatePass2").html('* Password tidak sama')
            $("#validatePass2").show();
            return false;
        }
        else if (passwordold != password1) {
            $("#validatePass1").html('* Password tidak sesuai dengan password yang digunakan')
            $("#validatePass1").show();
            return false;
        }

        $("#id-body-edit").empty();
        $("#id-body-edit").load('/Profile/Newpassword', dataform)
        $("#modal-edit").modal("show");


    })


</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>
