﻿@model MiniProject262.ViewModels.VMProfil

@{
    Layout = null;
}

@*<div class="modal-body">*@
    <form id="form-verif">
        <p>Masukkan email Anda. Kami akan melakukan pengecekan</p>
        <div class="form-group col-10 mx-auto">
            <label for="recipient-name" class="col-form-label">e-mail*</label>
            <input type="hidden" asp-for="id" value="@Model.id" />
            <input type="hidden" asp-for="customer_id" value="@Model.customer_id" />
            <input type="hidden" asp-for="biodata_id" value="@Model.biodata_id" />
            <input type="hidden" asp-for="fullname" value="@Model.fullname" />
            <input type="hidden" asp-for="dob" value="@Model.dob" />
            <input type="hidden" asp-for="mobile_phone" value="@Model.mobile_phone" />
            <input type="hidden" asp-for="password" value="@Model.password" />
            <input type="text" class="form-control" id="email" name="email" style="border:1px solid #17a2b8">
            <span class="font-italic test" style="color:red;display:none" id="validateEmail"></span>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info" id="sendOTP" data-toggle="modal" style="padding:10px 50px">Kirim OTP</button>
        </div>
    </form>
@*</div>*@

<script>
    $(document).ready(function () {
        $("#sendOTP").click(function () {
            alert("f")
            var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            var email = $("#email").val();
            var dataForm = $("#form-verif").serialize();
            if (email == "") {
                $("#validateEmail").html('* silahkan isi email anda')
                $("#validateEmail").show();
                return false;
            }
            else if (!email.match(emailPattern)) {
                $("#validateEmail").html('* email yang dimasukkan tidak valid')
                $("#validateEmail").show();
                return false;
            }
            else {
                $.ajax({
                    url: '/Profile/sendEmail',
                    dataType: 'json',
                    data: dataForm,
                    method: 'post',
                    success: function (respon) {
                        if (respon.status == "success") {
                            toastr.success('Kode OTP telah dikirim ke email anda')
                            $(".modal-title").remove();
                            $("#id-body-edit").empty();
                            $("#id-body-edit").load('/Profile/OTP', respon.data);
                            $("#modal-edit").modal("show");
                        }
                        else {
                            /*toastr.error("Login Failed </br> " + respon.message)*/
                            //if (respon.message != null && email != "") {

                            $("#validateEmail").html('* email yang dimasukkan sudah terdaftar')
                            $("#validateEmail").show();
                            //}
                        }
                    }
                })
            }
        })
    })

    $(document).ready(function () {
        $("#email").on("keyup", function () {
            $("#validateEmail").hide();
        });
    });

    $(document).ready(function () {
        $("#form-verif").keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    });

</script>



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>-->
<!-- Google Font: Source Sans Pro -->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
<!-- Font Awesome -->
<!--<link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">-->
<!-- icheck bootstrap -->
<!--<link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">-->
<!-- Theme style -->
<!--<link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>-->
<!-- /.login-logo -->
<!--<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form id="form-verif" asp-action="EditEmail" asp-controller="Profile" method="post">
            <div class="input-group mb-3">
                <input type="email" class="form-control" name="Email" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="id" value="@Model.id" />
            <input type="hidden" asp-for="customer_id" value="@Model.customer_id" />
            <input type="hidden" asp-for="biodata_id" value="@Model.biodata_id" />
            <input type="hidden" asp-for="fullname" value="@Model.fullname" />
            <input type="hidden" asp-for="dob" value="@Model.dob" />
            <input type="hidden" asp-for="mobile_phone" value="@Model.mobile_phone" />
            <input type="hidden" asp-for="password" value="@Model.password" />
        </form>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info" id="sendOTP" data-toggle="modal" style="padding:10px 50px">Kirim OTP</button>
        </div>
    </div>-->
<!-- /.login-card-body -->
<!--</div>
</div>-->
<!-- /.login-box -->
<!-- jQuery -->
<!--<script src="../../plugins/jquery/jquery.min.js"></script>-->
<!-- Bootstrap 4 -->
<!--<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- AdminLTE App -->
<!--<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>-->
<!-- /.modal-content -->
<!--</div>-->
<!-- /.modal-dialog -->
<!--</div>-->
<!-- /.-->
<!--<script>
    $(document).ready(function () {
        $("#sendOTP").click(function () {
            var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            var email = $("#email").val();
            var dataForm = $("#form-verif").serialize();
            if (email == "") {
                $("#validateEmail").html('* silahkan isi email anda')
                $("#validateEmail").show();
                return false;
            }
            else if (!email.match(emailPattern)) {
                $("#validateEmail").html('* email yang dimasukkan tidak valid')
                $("#validateEmail").show();
                return false;
            }
            $.ajax({
                url: '/Profile/sendMail',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        toastr.success('Kode OTP telah dikirim ke email anda')
                        $(".modal-title").remove();
                        $("#id-body").empty();
                        $("#id-body").load('/Profile/OTP', respon.data);
                        $("#modal-default").modal("show");
                    }
                    else {
                        /*toastr.error("Login Failed </br> " + respon.message)*/
                        if (respon.message != null && email != "") {
                            $("#validateEmail").html(respon.message)
                            $("#validateEmail").show();
                        }
                    }
                }
            })
        })
    })

</script>-->
