﻿@model MiniProject262.ViewModels.VMProfil

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | User Profile</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~adminlte/dist/css/adminlte.min.css">
</head>

</html>

@if (ViewBag.iduser == 5)
{


    <!-- Main content -->

    <body class="hold-transition sidebar-mini">
        <div id="contentWrapper" class="pt-2">
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">

                            <partial name="ProfileCard" />
                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card card-primary card-outline">
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link active" href="#Profile" data-toggle="tab">Profile</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                                        </ul>
                                    </div>
                                    <!--card-header-->
                                    <div>
                                        <form id="form">
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="active tab-pane" id="Profile">
                                                        <!-- Post-->
                                                        <!-- About Me Box -->
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">About Me</h3>
                                                                <button type="button" class="btn btn-primary float-right" id="edit-show">UBAH</button>
                                                            </div>
                                                            <input type="hidden" asp-for="id" value="@Model.id" />
                                                            <input type="hidden" asp-for="customer_id" value="@Model.customer_id" />
                                                            <input type="hidden" asp-for="biodata_id" value="@Model.biodata_id" />
                                                            <input type="hidden" asp-for="email" value="@Model.email" />
                                                            <input type="hidden" asp-for="password" value="@Model.password" />
                                                            <input type="hidden" asp-for="dob" value="@Model.dob" />
                                                            <input type="hidden" asp-for="fullname" value="@Model.fullname" />
                                                            <input type="hidden" asp-for="mobile_phone" value="@Model.mobile_phone" />
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <strong>Nama Lengkap</strong>

                                                                <h3 class="text-muted">
                                                                    @Html.DisplayFor(model => model.fullname)
                                                                </h3>

                                                                <hr>

                                                                <strong> Tanggal Lahir</strong>

                                                                <h3 class="text-muted">@Html.DisplayFor(model => model.dob)</h3>

                                                                <hr>

                                                                <strong> Nomor Handphone</strong>

                                                                <h3 class="text-muted">
                                                                    <span class="tag tag-danger">@Html.DisplayFor(model => model.mobile_phone)</span>
                                                                </h3>

                                                                <hr>

                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Data Akun</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <div>
                                                                    <strong> Email</strong>
                                                                    <button type="button" class="btn btn-primary float-right" id="editEmail-show">UBAH</button>
                                                                </div>
                                                                <h3 class="text-muted">
                                                                    @Html.DisplayFor(model => model.email)
                                                                </h3>

                                                                <hr>

                                                                <strong> Password</strong>
                                                                <div>
                                                                    <input disabled style="border-left:none; border-right:none; border-top:none; border-bottom:none" type="password" class="text-muted" value="@Html.DisplayFor(model => model.password)" />
                                                                    <button type="button" class="btn btn-primary float-right" id="editPassword-show">UBAH</button>
                                                                    <hr>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                    </div>
                                                    <div class="tab-pane" id="timeline"></div>
                                                    <div class="tab-pane" id="settings"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-edit" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title bg-info">UBAH</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="id-body-edit">
                        <p>Modal body text goes here.</p>
                    </div>
                </div>
            </div>
        </div>


    </body>

}

@if (ViewBag.iduser == 4)
{
    <!-- Main content -->

    <body class="hold-transition sidebar-mini">
        <div id="contentWrapper" class="pt-2">
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">

                            <partial name="ProfileDokterCard" />
                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card card-primary card-outline">
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link active" href="#Spesialisasi" data-toggle="tab">Spesialisasi</a></li>
                                            <li class="nav-item"><a class="nav-link active" href="#Tindakan" data-toggle="tab">Tindakan</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#Aktifitas" data-toggle="tab">Aktifitas</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#Konsultasi" data-toggle="tab">Konsultasi</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#Pengaturan" data-toggle="tab">Pengaturan</a></li>
                                        </ul>
                                    </div>
                                    <!--card-header-->
                                    <div>
                                        <form id="form">
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="active tab-pane" id="Spesialisasi">
                                                        <!-- Post-->
                                                        <!-- Spesialisasi Box -->
                                                        <!-- /.card -->
                                                    </div>
                                                    <div class="tab-pane" id="Tindakan">
                                                        <!-- Post-->
                                                        <!-- Tindakan Box -->
                                                        <!-- /.card -->
                                                    </div>
                                                    <div class="tab-pane" id="Aktifitas">
                                                        <!-- Post-->
                                                        <!-- Aktifitas Box -->
                                                        <!-- /.card -->
                                                    </div>
                                                    <div class="tab-pane" id="Konsultasi">
                                                        <!-- Post-->
                                                        <!-- Konsultasi Box -->
                                                        <!-- /.card -->
                                                    </div>
                                                    <div class="tab-pane" id="Pengaturan">
                                                        <!-- Post-->
                                                        <!-- Pengaturan Box -->
                                                        <!-- /.card -->
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}




<!-- jQuery -->
<script src="~adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~adminlte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~adminlte/dist/js/demo.js"></script>

<script>
    $("#edit-show").click(function () {
        alert("f")
        var dataform = $("#form").serialize();
        $.ajax({
            url: '/Profile/edit1',
            dataType: 'json',
            data: dataform,
            method: 'post',
            success: function (respon) {
                if (respon.status == 'success') {

                    $("#id-body-edit").empty();
                    $("#id-body-edit").load('/Profile/Edit/', respon.data);
                    $("#modal-edit").modal("show");
                }
            }
        })
    })
    $("#editEmail-show").click(function () {
        alert("f")
        var dataform = $("#form").serialize();
        $.ajax({
            url: '/Profile/edit1',
            dataType: 'json',
            data: dataform,
            method: 'post',
            success: function (respon) {
                if (respon.status == 'success') {

                    $("#id-body-edit").empty();
                    $("#id-body-edit").load('/Profile/EditEmail/', respon.data);
                    $("#modal-edit").modal("show");
                }
            }
        })
    })
    $("#editPassword-show").click(function () {
        alert("f")
        var dataform = $("#form").serialize();
        $.ajax({
            url: '/Profile/edit1',
            dataType: 'json',
            data: dataform,
            method: 'post',
            success: function (respon) {
                if (respon.status == 'success') {

                    $("#id-body-edit").empty();
                    $("#id-body-edit").load('/Profile/Editpassword/', respon.data);
                    $("#modal-edit").modal("show");
                }
            }
        })
    })
                //$("#editEmail-show").click(function () {
                //    $("#id-body-editEmail").empty();
                //    $("#id-body-editEmail").load('/Profile/EditEmail/');
                //    $("#modal-editEmail").modal("show");
                //})
</script>
