﻿@model MiniProject262.ViewModels.VMProfil
@{
    Layout = null;
}

<!--<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>-->
<!-- jQuery Validation -->
<!--<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>-->
<!-- jQuery UI 1.11.4 -->
<!--<script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>-->
<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.css">
<!-- Toastr -->
<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.min.css">
<!-- Toastr -->
<script src="~/adminlte/plugins/toastr/toastr.min.js"></script>

@*<div class="modal-body">*@

<form asp-action="Save" asp-controller="Profile" id="form-setpass" method="post">
    <p>Masukkan masukkan password baru!</p>
    <div class="form-group col-10 mx-auto">
        <input type="hidden" asp-for="id" value="@Model.id" />
        <input type="hidden" asp-for="customer_id" value="@Model.customer_id" />
        <input type="hidden" asp-for="biodata_id" value="@Model.biodata_id" />
        <input type="hidden" asp-for="fullname" value="@Model.fullname" />
        <input type="hidden" asp-for="dob" value="@Model.dob" />
        <input type="hidden" asp-for="mobile_phone" value="@Model.mobile_phone" />
        <input type="hidden" asp-for="email" value="@Model.email" />

        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password*</label>
            <input type="password" asp-for="password" class="form-control" id="pass1" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="validatePass1"></span>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Masukkan ulang password*</label>
            <input type="password" class="form-control" id="pass2" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="validatePass2"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info btn-submit">Simpan</button>
        </div>
    </div>
</form>
@*</div>*@

<script>
    $(".btn-submit").click(function () {
        alert("alert")
        var passPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@@!%&*?])[A-Za-z\d#$@@!%&*?]{8,30}$/;
        var password1 = $("#pass1").val();
        var password2 = $("#pass2").val();
        var dataform = $("#form-setpass").serialize();
        if (password1 == "" && password2 == "") {
            $("#validatePass1").html('* Password tidak boleh kosong')
            $("#validatePass1").show();
            $("#validatePass2").html('* Password tidak boleh kosong')
            $("#validatePass2").show();
            return false;
        }
        else if (password1 == "" && password2 != "") {
            $("#validatePass1").html('* Password tidak boleh kosong')
            $("#validatePass1").show();
            return false;
        }
        else if (password1 != "" && password2 == "") {
            $("#validatePass2").html('* Masukkan ulang password')
            $("#validatePass2").show();
            return false;
        }
        else if (password1 != password2) {
            $("#validatePass2").html('* Password tidak sama')
            $("#validatePass2").show();
            return false;
        }
        else if (!password1.match(passPattern)) {
            $("#validatePass1").html('* Password tidak memenuhi standar (minimal 8 karakter, harus mengandung huruf besar, huruf kecil, angka, dan special character)')
            $("#validatePass1").show();
            if (password2 == "") {
                $("#validatePass2").html('* Password tidak boleh kosong')
                $("#validatePass2").show();
            }
            return false;
        }
        else if (password1.match(passPattern) != password2) {
            $("#validatePass2").html('* Password tidak sama')
            $("#validatePass2").show();
            return false;
        }


        //$("#id-body").empty();
        //$("#id-body").load('/Home/Register/', respon.dataform);
        //$("#modal-default").modal("show");

        $.ajax({

            url: '/Profile/SaveConfirmed/',
            dataType: 'json',
            data: dataform,
            method: 'post',
            success: function (respon) {
                if (respon.status == "success") {
                    toastr.success('Password Berhasil diperbaharui!')
                    setTimeout(function () {
                        window.location.href = "/Profile/Index/";
                    }, 1000);
                }
                else {
                    toastr.error("error : " + respon.message)
                }
            }
        })

    })


</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>
