﻿@model MiniProject262.ViewModels.VMCusWallet
@{
    ViewData["Title"] = "Input Pin";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Masukkan Pin</h2>
    <form id="form-pin">
        <div class="form-group col-8 mx-auto">
            <span class="font-italic test" style="color:red;display:none" id="validatePin"></span>
        </div>
        <div class="form-group col-8 mx-auto">
            <input type="hidden" asp-for="customer_id">
            <input type="hidden" asp-for="input_attempt">
            <input type="text" name="pin" id="pin">
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info" id="btn-conf" style="width: 115px; height: 42px; font-size: 1rem">Ok</button>
        </div>
    </form>
</div>

<script>
    $("#pin").pincodeInput({
        inputs: 6, keydown: function () {
            $("#validatePin").hide();
        }
    });

    $("#btn-conf").click(function () {
        var pinn = $("#pin").val();
        var dataVal = $("#form-pin").serialize();
        if (pinn == "") {
            $("#validatePin").html('* silahkan masukkan pin anda')
            $("#validatePin").show();
            return false;
        }
        else if (pinn.length > 0 && pinn.length < 6) {
            $("#validatePin").html('* silahkan masukkan 6 digit pin anda')
            $("#validatePin").show();
            return false;
        }
        else {
            $.ajax({
                url: '/Profile/CheckPin',
                dataType: 'json',
                data: dataVal,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        if (respon.messages == null) {
                            $("#id-body").empty();
                            $("#id-body").load('/Profile/AutenSuccess');
                            $("#modal-default").modal("show");
                            if ($("#body1").innerHTML != "") {
                                $("#btn-cancel").prop("disabled", false);
                                $("#btn-ok").prop("disabled", false);
                            }
                            else {
                                $("#btn-cancel").prop("disabled", true);
                                $("#btn-ok").prop("disabled", true);
                            }
                            setTimeout(function () {
                                $("#modal-default").modal("hide");
                            }, 3000);
                        }
                        else {
                            $("#id-body").empty();
                            $("#id-body").load('/Profile/AutenFailed');
                            $("#modal-default").modal("show");
                            setTimeout(function () {
                                window.location.href = '/Home/Logout';
                            }, 3000);
                        }
                    }
                    else {
                        var input = parseInt($("#input_attemptt").val());
                        var result = input + 1;
                        $("#input_attemptt").val(result);
                        var resultt = $("#input_attemptt").val();
                        $("#input_attempt").val(resultt);
                        /*console.log(input)*/
                        $("#validatePin").html(respon.message)
                        $("#validatePin").show();
                    }
                }
            })
        }
    })
</script>