﻿@model MiniProject262.ViewModels.VMDetailDokter
@using Microsoft.AspNetCore.Http;

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="../../dist/img/user4-128x128.jpg"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@Context.Session.GetString("username")</h3>

                        <p class="text-muted text-center">Since @Context.Session.GetInt32("tahun")</p>


                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Tentang Saya</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Tindakan Medis</strong>

                        @foreach (var efg in ViewBag.EFG)
                        {
                            <p class="text-muted">
                                @efg.tindakanMedis
                            </p>
                        }
                        <hr>
                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Riwayat Praktek</strong>

                        @foreach (var item in ViewBag.ABC)
                        {
                            <div>
                                <h5>
                                    <b> @item.rumahSakit,@item.namaLokasi</b>
                                </h5>
                                <div class="form-group">
                                    <label class="text-muted small">@Model.str</label>
                                    <label class="text-muted small float-right">
                                        @item.tahun -
                                        @if (item.deleted_on == null)
                                        {
                                            <label>sekarang</label>
                                        }
                                        @if (item.deleted_on != null)
                                        {
                                            <label>@item.deleted_on</label>
                                        }
                                    </label>
                                </div>
                            </div>
                        }
                        <hr>
                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> pendidikan</strong>

                        @foreach (var bcd in ViewBag.BCD)
                        {
                            <div>
                                <h5>
                                    <b> @bcd.institution_name</b>
                                </h5>
                                <div class="form-group">
                                    <label class="text-muted small">@bcd.major</label>
                                    <label class="text-muted small float-right">@bcd.start_year</label>
                                </div>
                            </div>
                        }
                        <hr>
                        <hr>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>