﻿@using Microsoft.AspNetCore.Http;
<!-- Profile Image -->
<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="img-fluid img-circle"
                 src="~/adminlte/dist/img/user4-128x128.jpg"
                 alt="User profile picture">
        </div>

        <h3 class="profile-username text-center"> @Context.Session.GetString("username")</h3>

        <p class="text-muted text-center">Since @Context.Session.GetInt32("tahun")</p><br />
        <br />

        <div style="text-align:center">
            <a asp-action="Pasien" asp-controller="Profile"><b>Pasien</b></a>
        </div>
        <div style="text-align:center">
            <a href="#"><b>Pembelian Obat</b></a>
        </div>
        <div style="text-align:center">
            <a href="#"><b>Rencana Kedatangan</b></a>
        </div>
        <div style="text-align:center">
            <a href="#"><b>Riwayat Chat Dokter</b></a>
        </div>
    </div>
    <!-- /.card-body -->
</div>