﻿@model MiniProject262.ViewModels.VMPasien

@{
    Layout = null;

}

<h4>Tambah Pasien</h4>

<div class="container-fluid">

    <div class="card card-primary mx-auto">
        <!-- form start -->
        <form asp-action="TambahPasien" id="create-form" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label>Nama Lengkap*</label>
                    <input type="text" class="form-control" asp-for="fullname" placeholder="Nama Lengkap">
                    <span style="color:red;display:none" id="validatefullname"></span>
                </div>
                <div class="form-group">
                    <label>Tanggal Lahir</label>
                    <input type="date" class="form-control" asp-for="dob" placeholder="dd/mm/yyyy">
                    <span style="color:red;display:none" id="validatedob"></span>
                </div>

                <div class="form-group row" id="itemList">
                    <label class="col-6 mx-auto">Jenis Kelamin*</label>
                    <div class=" form-check col-2 mx-auto">
                        <input class="form-check-input" type="radio" asp-for="gender" value="M" id="gender1">
                        <label class="form-check-label" for="gender1">
                            Pria
                        </label>
                    </div>
                    <div class="form-check col-2 mx-auto">
                        <input class="form-check-input" type="radio" asp-for="gender" value="F" id="gender2">
                        <label class="form-check-label" for="gender2">
                            Wanita
                        </label>
                    </div>
                    <span style="color:red;display:none" id="validategender"></span>
                </div>
                <div class="form-group">
                    <label> Golongan Darah/Rhesus</label>
                    <div class="row ">
                        <select class="form-control col-6 mx-auto" asp-for="blood_group_id" asp-items="@(new SelectList(ViewBag.message,"id","code"))"></select><br />
                        <div class=" form-check col-2 mx-auto">
                            <input class="form-check-input" type="radio" asp-for="rhesus_type" value="Rh+" id="rhesus1">
                            <label class="form-check-label" for="rhesus1">
                                Rh+
                            </label>
                        </div>
                        <div class="form-check col-2 mx-auto">
                            <input class="form-check-input" type="radio" asp-for="rhesus_type" value="Rh-" id="rhesus2">
                            <label class="form-check-label" for="rhesus2">
                                Rh-
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label>Tinggi Badan</label>
                            <div class="input-group mx-auto">
                                <input type="text" class="form-control " asp-for="height" placeholder="Tinggi Badan">
                                <div class="input-group-append col-2">
                                    <div>
                                        cm
                                    </div>
                                </div>
                                <span asp-validation-for="height" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4 mx-auto">
                            <label>Berat Badan</label>
                            <div class="input-group mx-auto">
                                <input type="text" class="form-control" asp-for="weight" placeholder="Berat Badan">
                                <div class="input-group-append col-2">
                                    <div>
                                        kg
                                    </div>
                                </div>
                                <span asp-validation-for="weight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Relasi*</label>
                        <select class="form-control" asp-for="customer_relation_id" asp-items="@(new SelectList(ViewBag.relation,"id","name"))">
                            <option value="" disabled selected>--pilih--</option>
                        </select>
                        <span style="color:red;display:none" id="validaterelasi"></span>
                    </div><br />
                    <div class="card-footer float-right">
                        <button class="btn btn-warning" data-dismiss="modal">Batal</button>
                        <button type="button" id="btn-regis" class="btn btn-primary">Simpan</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $("#create-form").validate({
    //        rules: {
    //            gender: {
    //                required: true

    //            },
    //        },
    //        messages: {
    //            gender: {
    //                required: "*Golongan darah tidak boleh kosong!"
    //            }

    //        }
    //    })
    //})
    $("#customer_relation_id").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#customer_relation_id").val(selected);
    })


    $("#btn-regis").click(function () {
        debugger
        var fn = $("#fullname").val();
        var dob = $("#dob").val();
        var relation = $("#customer_relation_id").val();
        /* var gen = $("#gender").val();*/
        var gen = $("#itemList input:radio:checked").val();
        if (gen == undefined) {
            gen = ""
        }
        if (fn == "" && dob == "" && gen == "" && relation == null) {
            $("#validatefullname").html('Nama Tidak boleh kosong!')
            $("#validatefullname").show();
            $("#validatedob").html('Tanggal lahir tidak boleh kosong!')
            $("#validatedob").show();
            $("#validategender").html('Jenis kelamin tidak boleh kosong!')
            $("#validategender").show();
            $("#validaterelasi").html('Relasi tidak boleh kosong!')
            $("#validaterelasi").show();
            return false;
        }

        if (fn == "") {
            $("#validatefullname").html('Nama Tidak boleh kosong!')
            $("#validatefullname").show();
            return false;
        }
        else if (dob == "") {
            $("#validatedob").html('Tanggal lahir tidak boleh kosong!')
            $("#validatedob").show();
            return false;
        }
        else if (gen == "") {
            $("#validategender").html('Jenis kelamin tidak boleh kosong!')
            $("#validategender").show();
            return false;
        }
        else if (relation == null) {
            $("#validaterelasi").html('Relasi tidak boleh kosong!')
            $("#validaterelasi").show();
            return false;
        }
        $("#create-form").submit();

    })
</script>