﻿@model IEnumerable<MiniProject262.ViewModels.VMSpesialisasiDokter>

@{
}
<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 style="color: #17a2b8"><b>Detail Dokter</b></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right mr-4">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Doctor Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <!-- Profile Image -->

                    <div class="text-center">
                        <img class="img-fluid img-circle col-6"
                             src="~/adminlte/dist/img/Screenshot 2021-09-30 at 18-52-53 上白石 萌歌 ( moka____k) • Instagram photos and videos.png"
                             alt="User profile picture">

                        <!-- /.card-body -->
                    </div>
                    <br />
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-outline">
                        <div class="card-header  bg-info">
                            <h3 class="card-title"><i class="fas fa-book mr-2"></i>Tindakan Medis</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card card-primary">
                        <div class="card-header bg-info">
                            <h3 class="card-title"><i class="fas fa-building mr-2"></i>Riwayat Praktek</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card card-primary">
                        <div class="card-header bg-info">
                            <h3 class="card-title"><i class="fas fa-pencil-ruler mr-2"></i>Pendidikan</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#spesialisasi" data-toggle="tab">Spesialisasi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#tindakan" data-toggle="tab">Tindakan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#aktifitas" data-toggle="tab">Aktifitas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#konsultasi" data-toggle="tab">Konsultasi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#pengaturan" data-toggle="tab">Pengaturan</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane " id="spesialisasi">
                                    <form asp-action="AddSpesialisasi" method="get">
                                        @foreach (var item in Model)
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="info-box" style="background-color: #17a2b8">
                                                        <span class="info-box-icon" style="background-color: #17a2b8">
                                                            <i class="fas fa-user-md" style="color:white"></i>
                                                        </span>
                                                        <div class="info-box-content" style="background-color: #17a2b8">
                                                            <span class="info-box-text text-white">
                                                                @item.name
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8"></div>
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />



                                            @if (ViewBag.ls != null)//SALAHH (DIDALAM MODEL TIDAK NULL, ADA DATA YANG DIBAWA DARI TAMBAHSPESIALISASIDOKTER)
                                            {
                                                <a class="btn btn-primary btn-lg" data-id="@item.id" id="btn-edit" style="border-radius:50%; float:right">
                                                    <i class="fas fa-pen" style="color:white">

                                                    </i>
                                                </a>
                                            }
                                        }

                                        @if (ViewBag.ls == null) { 
                                            <a class="btn btn-primary btn-lg" data-id="@ViewBag.idDoc" id="btn-add" style="border-radius:50%; float:right">
                                                <i class="fas fa-plus" style="color:white">

                                                </i>
                                            </a>
                                        }
                                    </form>
                                </div>
                                <div class="tab-pane " id="tindakan">Tindakan</div>
                                <div class="tab-pane " id="aktifitas">Aktifitas</div>
                                <div class="tab-pane " id="konsultasi">Konsultasi</div>
                                <div class="tab-pane " id="pengaturan">Pengaturan</div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </section>   <!-- /.row -->
</div>



<div class="modal fade" id="modal-default" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- jQuery -->
<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/adminlte/dist/js/demo.js"></script>


<script>
    $("#btn-add").click(function () {
        alert("alert")
        $("#id-body").empty();
        $("#id-body").load('/Profile/AddSpesialisasi');
        $("#modal-default").modal("show");
    })

    $("#btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Profile/EditSpesialisasi?id=' + id);
        $("#modal-default").modal("show");
    })
</script>