﻿@model MiniProject262.ViewModels.VMAlamat

@{
    Layout = null;

}


<div class="container-fluid">

    <div class="card card-primary mx-auto">
        <div class="card-header bg-info"><h4>Tambah Alamat</h4></div>

        <!-- form start -->
        <form asp-action="TambahAlamat" id="create-form" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label>Label Alamat*</label>
                    <input type="text" class="form-control" asp-for="label" placeholder="Rumah,kantor dll">
                    <span style="color:red;display:none" id="validatefullname"></span>
                </div>
                <div class="form-group">
                    <label>Nama Penerima</label>
                    <input type="text" class="form-control" asp-for="recipient" placeholder="Nama Penerima">
                    <span style="color:red;display:none" id="validatedob"></span>
                </div>
                <div class="form-group">
                    <label>Nomor penerima</label>
                    <input type="text" class="form-control" asp-for="recipient_phone_number" placeholder="No.Penerima">
                    <span style="color:red;display:none" id="validatedob"></span>
                </div>

                <div class="form-group">
                    <label> Wilayah Kec/Kota</label>
                    <select class="form-control" asp-for="location_id" asp-items="@(new SelectList(ViewBag.lokasi,"id","wilayah"))">
                        <option value="" disabled selected>Cari kecamatan/Kota</option>
                    </select>
                    <span style="color:red;display:none" id="validatedob"></span>
                </div>

                <div class="form-group">
                    <label>Kode Pos</label>
                    <input type="text" class="form-control" asp-for="postal_code" placeholder="Kode Pos">
                    <span style="color:red;display:none" id="validatedob"></span>
                </div>

                <div class="form-group">
                    <label>Alamat</label>
                    <textarea class="form-control" asp-for="address" placeholder="Alamat"></textarea>
                    <span style="color:red;display:none" id="validatedob"></span>
                </div>
                <br />
                <div class="card-footer float-right">
                    <button class="btn btn-warning" data-dismiss="modal">Batal</button>
                    <button type="submit" id="btn-tbalamat" class="btn btn-primary">Simpan</button>
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                label: {
                    required: true
                },
                recipient: {
                    required: true
                },
                recipient_phone_number: {
                    required: true,
                    number: true
                },
                location_id: {
                    required: true
                },
                address: {
                    required: true
                },
            },
            messages: {
                gender: {
                    required: "*Golongan darah tidak boleh kosong!"
                },
                label: {
                    required: "*Tidak boleh kosong!"
                },
                recipient: {
                    required: "*Tidak boleh kosong!"
                },
                recipient_phone_number: {
                    required: "*Tidak boleh kosong!",
                    number:"Hanya bisa di isi oleh angka!"
                },
                location_id: {
                    required: "*Tidak boleh kosong!"
                },
                address: {
                    required: "*Tidak boleh kosong!"
                },

            }
        })
    })


</script>


<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 100;
        color: red;
    }
</style>