﻿@model MiniProject262.ViewModels.VMCusWallet
@{
    ViewData["Title"] = "Tarik saldo success";
    Layout = null;
}

<div class="modal-body">
    <button type="button" class="close float-right" id="clo" data-dismiss="modal" aria-label="Close">
        <span class="text-info" aria-hidden="true">&times;</span>
    </button>
    <h2 class="text-info">Tarik Saldo</h2>
    <br>
    <div class="form-group col-8 mx-auto text-center">
        <h5>Proses penarikan saldo berhasil</h5>
        <h5 class="text-bold">OTP anda : @Model.otp</h5>
        <p class="text-muted font-italic">* OTP akan kadaluarsa setelah 1 jam</p>
    </div>
</div>

<script>
    $("#clo").click(function () {
        setTimeout(function () {
            window.location.reload();
        }, 1000);
    });
</script>