﻿@model IEnumerable<MiniProject262.ViewModels.VMCusWallet>

@{
    ViewData["Title"] = "Tarik Saldo";
    var data = Html.Raw(Json.Serialize(Model));
    var data1 = Html.Raw(Json.Serialize(ViewBag.wdn));
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <partial name="ProfileCard" />
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Alamat">Alamat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#withdraw" data-toggle="tab">Tarik Saldo</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane" id="activity">
                            @*Kosong*@
                        </div>
                        <div class="tab-pane" id="timeline">
                            @*Kosong*@
                        </div>
                        <div class="active tab-pane" id="withdraw">
                            <div class="row justify-content-center">
                                <div class="card col-md-5" style="border: 1px solid #17a2b8; margin-right:5px">
                                    <div class="card-body" id="leftpage" style="height: 400px;">
                                        <p>Saldo saat ini, @String.Format("{0:C}", ViewBag.saldo)</p>
                                        <input type="hidden" id="saldo" value="@ViewBag.saldo">
                                        <div class="row justify-content-center">
                                            @foreach (var item in ViewBag.wdn)
                                            {
                                                if (item.nominal <= ViewBag.saldo)
                                                {
                                                    <button type="button" class="btn btn-sm btn-info m-1" style="width:95.74px; height:31px;" data-id="@item.id" value="@item.nominal" id="@item.id">@String.Format("{0:C}", item.nominal)</button>
                                                }
                                            }
                                            @foreach (var items in Model)
                                            {
                                                @if (items.cus_nominal != null && items.cus_nominal <= ViewBag.saldo)
                                                {
                                                    <button type="button" class="btn btn-sm btn-info m-1" style="width:95.74px; height:31px;" data-id="@items.cus_nominal_id" value="@items.cus_nominal" id="@items.cus_nominal">@String.Format("{0:C}", items.cus_nominal)</button>
                                                }
                                            }
                                            <button type="button" class="btn btn-sm btn-info m-1" style="width:95.74px; height:31px; display:none" id="btn-other-val"></button>
                                            <button type="button" class="btn btn-sm btn-info m-1" data-id="@ViewBag.idcus" id="btn-other">Nominal Lain</button>
                                        </div>
                                    </div>
                                    <div class="card-footer" style="height:60px">
                                    </div>
                                </div>
                                <div class="card col-md-5" style="border: 1px solid #17a2b8; margin-left:5px">
                                    <form id="formpin">
                                        <div class="card-body" id="rightpage" style="height: 400px;">
                                            <div class="col-sm-12 mx-auto">
                                                <span id="body1"></span>
                                                <br><br>
                                                <input type="hidden" id="input_attemptt" name="input_attempt" value="0">
                                                <input type="hidden" name="customer_id" value="@ViewBag.idcus">
                                                <input type="hidden" name="balance" value="@ViewBag.saldo">
                                                <input type="hidden" id="nomi" name="nominal" value="">
                                                <input type="hidden" id="cusn" name="cus_nominal" value="">
                                                <input type="hidden" id="amount" name="amount" value="">
                                                <input type="hidden" id="wal" name="wallet_default_nominal_id" value="">
                                                <input type="hidden" id="custom_nid" name="cus_nominal_id" value="">
                                                <button type="button" class="btn btn-sm btn-info col-sm-12" id="btn-con" style="display:none;">Lanjutkan</button>
                                            </div>
                                        </div>
                                        <div class="card-footer" style="height:60px">
                                            <div class="float-right">
                                                <button type="button" id="btn-cancel" class="btn btn-sm btn-info" style="width:65px; height:31px; margin-right:6px" disabled>Cancel</button>
                                                <button type="button" id="btn-ok" class="btn btn-sm btn-info" style="width:65px; height:31px;" disabled>Ok</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-defaultt" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="border:2px solid #17a2b8; border-radius:10px">
            <div class="modal-body" id="id-bodyy">
                <p>One fine body&hellip;</p>
            </div>
        </div>
         @*/.modal-content*@ 
    </div>
     @*/.modal-dialog*@ 
</div>

<link href="~/lib/bootstrap/dist/css/bootstrap-pincode-input.css" rel="stylesheet">
<script src="~/lib/bootstrap/dist/js/bootstrap-pincode-input.js"></script>
<script>
    $(document).ready(function () {
        $.each(@data1, function (index, item) {
            var nom = item.id;

            $("#" + nom + "").click(function () {
                var nominal = $(this).html();
                var result = $(this).val();
                var nomid = $(this).data("id");
                document.getElementById("body1").innerHTML = "Anda akan melakukan penarikan saldo sebesar " + nominal;
                $("#nomi").val(result);
                $("#cusn").val("");
                var resultt = $("#nomi").val();
                $("#amount").val(resultt);
                $("#wal").val(nomid);
                $("#custom_nid").val("");
                $("#btn-con").show();
            });

            //if ($("#body1").innerHTML != "") {
            //    $("#btn-cancel").prop("disabled", false);
            //    $("#btn-ok").prop("disabled", false);
            //}
            //else {
            //    $("#btn-cancel").prop("disabled", true);
            //    $("#btn-ok").prop("disabled", true);
            //}
        });

        $.each(@data, function (index, item) {
            var cusnom = item.cus_nominal;
            $("#" + cusnom + "").click(function () {
                var cus_nom = $(this).html();
                var resultcus = $(this).val();
                var cnid = $(this).data("id");
                document.getElementById("body1").innerHTML = "Anda akan melakukan penarikan saldo sebesar " + cus_nom;
                $("#nomi").val("");
                $("#cusn").val(resultcus);
                var resulttcus = $("#cusn").val();
                $("#amount").val(resulttcus);
                $("#wal").val("");
                $("#custom_nid").val(cnid);
                $("#btn-con").show();
            });
        });

        $("#btn-other-val").click(function () {
            var othnom = $(this).html();
            var resultocus = $(this).val();
            document.getElementById("body1").innerHTML = "Anda akan melakukan penarikan saldo sebesar " + othnom;
            $("#nomi").val("");
            $("#cusn").val(resultocus);
            var resulttocus = $("#cusn").val();
            $("#amount").val(resulttocus);
            $("#wal").val("");
            $("#custom_nid").val("");
            $("#btn-con").show();
        });

        $('a[data-toggle="tab"]').on('hidden.bs.tab', function () {
            document.getElementById("body1").innerHTML = "";
            $("#btn-cancel").prop("disabled", true);
            $("#btn-ok").prop("disabled", true);
            $("#btn-con").hide();
        });

        $("#btn-cancel").click(function () {
            document.getElementById("body1").innerHTML = "";
            $("#btn-cancel").prop("disabled", true);
            $("#btn-ok").prop("disabled", true);
            $("#btn-con").hide();
        });

        $("#btn-ok").click(function () {
            var dataFormm = $("#formpin").serialize();
            $.ajax({
                url: '/Profile/WithdrawConfirmed',
                dataType: 'json',
                data: dataFormm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        //setTimeout(function () {
                        //    window.location.reload();
                        //}, 1000);
                        $("#id-bodyy").empty();
                        $("#id-bodyy").load('/Profile/WdSuccess/' + respon.data);
                        $("#modal-defaultt").modal("show");
                    }
                    else {
                        toastr.error("Tarik saldo gagal")
                    }
                }
            })
        })

        $("#btn-other").click(function () {
            var cusId = $(this).data("id");
            $("#id-body").empty();
            $("#id-body").load('/Profile/CustomNom/' + cusId);
            $("#modal-default").modal("show");
        });

        $("#btn-con").click(function () {
            var cusid = $("#formpin").serialize();
            $("#id-body").empty();
            $("#id-body").load('/Profile/PinView', cusid);
            $("#modal-default").modal("show");
        });

        //$("#body1").on("change", function () {
        //    $("#btn-cancel").prop("disabled", true);
        //    $("#btn-ok").prop("disabled", true);
        //});
    });
</script>