﻿@model MiniProject262.Models.m_payment_method

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<form asp-action="Create" id="create-form" data-ajax-method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="name" class="control-label">Nama Pembayaran*</label>
        <input type="text" id="name" name="name" class="form-control col-12" />
        <span asp-validation-for="name" id="validate-name" style="color:red;display:none" class="text-danger"></span>
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">BATAL</button>
        <input type="submit" value="TAMBAH" class="btn btn-primary" />
    </div>
</form>



<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>


<!-- jQuery Validation -->
<!--<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>-->

<script type="text/javascript">
    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                name: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "nama tidak boleh kosong"
                }
            },
            submitHandler: function (form) {
                var dataform = $(form).serialize();
                form.submit();
            }

        });
    });
</script>