﻿@model MiniProject262.Models.m_payment_method

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}


    <div>
        <h5>Anda akan menghapus cara pembayaran @Model.name ?</h5>
    </div>
    <form asp-action="Delete">
        <div class="float-lg-right">
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="name" />
            <input type="hidden" asp-for="created_by" />
            <input type="hidden" asp-for="created_on" />
            <input type="hidden" asp-for="modified_by" />
            <input type="hidden" asp-for="modified_on" />


            <button type="button" class="btn btn-secondary" data-dismiss="modal">BATAL</button>
            <input type="submit" value="HAPUS" class="btn btn-danger" />
        </div>
    </form>

