﻿
@model PageinatedList<MiniProject262.Models.m_payment_method>
@{
    ViewData["Title"] = "Index";

}
<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <div class="pb-2">
                        <h1 class="card-title">Cara Pembayaran</h1>
                    </div>

                    <div>
                        <div class="input-group">
                            <form asp-action="Index" method="get" id="form-search">

                                <div class="form-group pt-4">
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="myInput" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search by Nama" />
                                        <button type="submit" class="btn btn-default mr-2 btn-sm">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        @Html.DropDownList("pSize", new SelectList(ViewBag.pageSize, "Value", "Text"), new { @class = "form-control col-sm-3", @id = "pSize" })
                                        <div>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="button fas fa-sort text-white ml-2">A/Z</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="ml-auto pt-4">
                                <button class="btn btn-primary float-right btn-sm" id="btn-create">Tambah</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap bg-info">
                        <thead>
                            <tr>
                                <th>
                                    Nama
                                </th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white" id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-8">@Html.DisplayFor(modelItem => item.name)</td>
                                    <td>
                                        <button class="btn btn-primary btn-edit" data-id="@item.id">UBAH</button>
                                        <button class="btn btn-danger btn-delete" data-id="@item.id">HAPUS</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="float-right">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-pSize="@ViewData["CurrentpSize"]"
               class="btn btn-default fas fa-arrow-alt-circle-left @prevDisabled">
            </a>
            <a>
                @Model.PageIndex
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-pSize="@ViewData["CurrentpSize"]"
               class="btn btn-default fas fa-arrow-alt-circle-right @nextDisabled">
            </a>
        </div>
    </div>
</div>


<div class="modal" id="modal-default" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title bg-info">TAMBAH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title bg-info">UBAH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-edit">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-hapus" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title bg-info">HAPUS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-hapus">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/m_payment_method/Create');
        $("#modal-default").modal("show");
    })
    $(".btn-edit").click(function () {
        var id = $(this).data("id");
        $("#id-body-edit").empty();
        $("#id-body-edit").load('/m_payment_method/Edit/' + id);
        $("#modal-edit").modal("show");
    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");
        $("#id-body-hapus").empty();
        $("#id-body-hapus").load('/m_payment_method/Delete/' + id);
        $("#modal-hapus").modal("show");
    })
    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#pSize").val(selected);
        $("#form-search").submit();
    })
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })
    $(document).ready(function () {
		var role = @ViewBag.dummy;
		if (role == 5) {
			$("#contentWrapper").addClass("content-wrapper");
		}
		else {
			$("#contentWrapper").addClass("container-fluid");
		}
	})
</script>
