﻿@model MiniProject262.Models.m_role

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div>
    <div>
        <h3>Tambah Hak Akses</h3>
    </div>
    <div class="container-fluid">
        <form id="create-form" asp-action="Create" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label for="recipient-name">Nama*</label>
                    <input id="namee" type="text" asp-for="name" class="form-control" size="1" style="border:1px solid #17a2b8">
                    <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Kode*</label>
                    <input id="codee" type="text" asp-for="code" class="form-control" style="border:1px solid #17a2b8">
                    <span class="font-italic" style="color:red;display:none" id="divMessageR"></span>
                </div>
                <div style="float:right">
                    <button type="submit" style="margin-right:20px" class="btn btn-danger" asp-action="Index">Batal</button>
                    <button type="button" class="btn btn-primary btn-submit">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>

    <script>
        //$("#create").click(function () {
        //    var nama = $("#nama").val();
        //    var kode = $("#kode").val();
        //    if (nama == "") {
        //        $("#validateNama").html('* Nama tidak boleh kosong')
        //        $("#validateNama").show();


        //    }
        //    if (kode == "") {
        //        $("#validateKode").html('* Kode tidak boleh kosong')
        //        $("#validateKode").show();
        //        return false;
        //    }
        //    $("#create-form").submit();
        //})
        //$("#nama").on("keyup", function () {
        //    $("#validateNama").hide();
        //});
        //$("#kode").on("keyup", function () {
        //    $("#validateKode").hide();
        //});

        $(document).ready(function () {
            $("#create-form").validate({
                rules: {
                    name: {
                        required: true
                    },
                    code: {
                        required: true
                    }

                },
                messages: {
                    name: {
                        required: "*Nama tidak boleh kosong!"
                    },
                    code: {
                        required: "*Kode tidak boleh kosong!"
                    }

                }
            })
        })

        $(".btn-submit").click(function () {
            var Nama = $("#namee").val();
            var Code = $("#codee").val();
            $.ajax({
                method: 'post',
                url: '/m_role/ValidateName/',
                data: { cekNama: Nama , cekKode: Code },
                
                

            }).done(function (msg) {
                if (msg == 1) {
                    $("#divMessage").html('*Nama sudah terdaftar')
                    $("#divMessage").show();
                    return false;
                } else if (msg == 2) {
                    $("#divMessageR").html('*Role sudah terdaftar')
                    $("#divMessageR").show();
                    return false;

                }


                $("#create-form").submit();
            })
        })


        $("#namee").on("keyup", function () {
            $("#divMessage").hide();
        });


        $("#codee").on("keyup", function () {
            $("#divMessageR").hide();
        });
    </script>

    <style>
        label.error {
            color: red;
            font-size: 1rem;
            display: block;
            margin-top: 5px;
            font-style: italic;
        }

        input.error, textarea.error {
            border: 1px dashed red;
            font-weight: 100;
            color: red;
            font-style: italic;
        }
    </style>


