﻿@model MiniProject262.Models.m_role

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div>
    <div>
        <h3>Hapus!</h3>
        <form asp-action="Delete" id="create-form">
            <p style="text-align:center;" >Anda akan menghapus @Model.name</p>
            <div class="card-body">
                <input type="hidden" asp-for="id" />
                <input type="hidden" asp-for="name" />
                <input type="hidden" asp-for="code" />
                <input type="hidden" asp-for="created_by" />
                <input type="hidden" asp-for="created_on" />
                <input type="hidden" asp-for="modified_by" />
                <input type="hidden" asp-for="modified_on" />
                <div style="float:right">
                    <button type="submit" style="margin-right:20px" class="btn btn-danger" asp-action="Index">Tidak</button>
                    <input type="submit" value="Ya" class="btn btn-primary" id="edit" />
                </div>
            </div>
        </form>
    </div>
</div>


