﻿@model MiniProject262.Models.m_role

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div>
    <div>
        <h3>Ubah Hak Akses</h3>
        <form asp-action="Edit" id="create-form">
            <div class="card-body">
                <input type="hidden" asp-for="id" />
                <input type="hidden" asp-for="created_by" />
                <input type="hidden" asp-for="created_on" />
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nama*</label>
                    <input name="name" asp-for="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Kode*</label>
                    <input name="code" asp-for="code" class="form-control" />
                </div>
                <div style="float:right">
                    <button type="submit" style="margin-right:20px" class="btn btn-primary" asp-action="Index">Batal</button>
                    <input type="submit" value="Simpan" class="btn btn-primary" id="edit" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                code: {
                    required: true
                },
                name: {
                    required: true
                }

            },
            messages: {
                code: {
                    required: "*Kode tidak boleh kosong!"
                },
                name: {
                    required: "* Nama tidak boleh kosong!"
                }

            }
        })
    })
</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
        font-style: italic;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 100;
        color: red;
        font-style: italic;
    }
</style>
