﻿@model PageinatedList<MiniProject262.Models.m_role>

@{
    ViewData["Title"] = "Index";

}



<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-info">
                        <div> <h3 style="color:white">Hak Akses</h3></div>
                        <button type="button" class="btn btn-light col-md-1 float-right" id="btn-create">
                            Tambah
                        </button>
                        <form asp-action="Index" method="get" id="form-search">

                            <div class="input-group input-group-sm float-left" style="width: 220px">
                                <input class="form-control" type="search" placeholder="Search By Nama" id="myInput" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div>
                                <h7 style="color:white">Row of page : @Html.DropDownList("pSize", new SelectList(ViewBag.pageSize, "Value", "Text"), new { @class = "form-control col-sm-1", @style = "width:63px;height:33px", @id = "pSize" }) </h7>
                            </div>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Nama
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="fas fa-sort"></a>
                                </th>
                                <th>
                                    Kode
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.code)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-edit text-white" data-id="@item.id">Update</a>
                                        <a class="btn btn-danger btn-delete text-white" data-id="@item.id">Hapus</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pSize="@ViewData["CurrentpSize"]"
                       class="btn btn-default @prevDisabled">
                        <i class="fas fa-arrow-left"></i>

                    </a>
                    <a>
                        @Model.PageIndex
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pSize="@ViewData["CurrentpSize"]"
                       class="btn btn-default @nextDisabled">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" style="margin-right:20px;margin-top:20px" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
		var role = @ViewBag.dummy;
		if (role == 200) {
			$("#contentWrapper").addClass("content-wrapper");
		}
		else {
			$("#contentWrapper").addClass("container-fluid");
		}
    })
    </script>
<script>

    $("#btn-create").click(function () {


        $("#id-body").empty();
        $("#id-body").load('/m_role/Create');
        $("#modal-default").modal("show");



        //$.ajax({
        //    url: '/Categories/Create',
        //    success: function (respon) {
        //         $("#id-body").empty();
        //         $("#id-body").append(respon);
        //         $("#modal-default").modal("show");
        //    }

        //})
    })

    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_role/Edit/' + id);
        $("#modal-default").modal("show");
    })

    $(".btn-details").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_role/Details?id=' + id);
        $("#modal-default").modal("show");
    })

    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_role/Delete/' + id);
        $("#modal-default").modal("show");
    })

    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#pSize").val(selected);
        $("#form-search").submit();
    })

    $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>
