﻿@{
    ViewData["Title"] = "CariDokter";
}
@model PageinatedList<MiniProject262.ViewModels.VMCariDokter>
@using Microsoft.AspNetCore.Http;

<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">
        <input id="roleStats" type="hidden" value="@Context.Session.GetInt32("idrole")" />
        <input id="userName" type="hidden" value="@Context.Session.GetString("username")" />
        <input id="userId" type="hidden" value="@Context.Session.GetInt32("iduser")" />
        <div class="card">
            <div class="card-header">
                <div class="text-center col-12">
                    <div class="input-group">
                        <h5 class="mr-2">Hasil Pencarian berdasarkan kata kunci:  </h5>
                        @if (ViewBag.Filter1 != null && ViewBag.Filter3 != null)
                        {
                            <button class=" btn bg-fuchsia mr-2"> Nama Dokter: @ViewBag.Filter1 </button>
                        }
                        @if (ViewBag.Filter2 != null && ViewBag.Filter3 != null)
                        {
                            <button class="btn bg-gradient-maroon mr-2"> Lokasi: @ViewBag.Filter2 </button>
                        }
                        @if (ViewBag.Filter4 != null && ViewBag.Filter3 != null)
                        {
                            <button class="btn bg-purple mr-2"> Tindakan Medis: @ViewBag.Filter4 </button>
                        }

                        @if (ViewBag.Filter3 != null)
                        {
                            <button class="btn bg-gradient-red mr-2"> Spesialisasi: @ViewBag.Filter3</button>
                        }
                    </div>
                    <div class="input-group">
                        <button class="btn btn-outline-info float-right ml-auto" id="btn-create">Cari Ulang</button>
                    </div>
                </div>
            </div>
            <div class="card card-solid">
                <div class="=card-body pb-0">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            @*@foreach (var abc in ViewBag.YNT)
                                {
                                    if (abc.DoctorBackup_id == item.doctor_id)
                                    {
                                        @abc.jamAkhir1
                                    }

                                }*@
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="card bg-light">
                                    <div class="card-header text-muted ">
                                        <h5 style="color: #17a2b8">
                                            <b>

                                                @item.specialization

                                            </b>
                                        </h5>
                                        <p>

                                            @foreach (var mario in ViewBag.MARIO)
                                            {

                                                @if (mario.doctor_id == item.doctor_id)
                                                {
                                                    @mario.tahun
                                                    break;

                                                }
                                            }


                                            tahun pengalaman
                                        </p>
                                    </div>

                                    <div class="card-body pt-0 bg-info">
                                        <div class="row">
                                            <div class="col-7">
                                                <br />
                                                <h2 class="lead"><b> @item.fullname </b></h2>

                                                @*<div class="form-group">
                                                        @foreach (var idx in ViewBag.USEE)
                                                        {
                                                            if (idx.id == item.id)
                                                            {
                                                                <label class="text-sm mr-1">

                                                                    @idx.tindakanMedis

                                                                </label>
                                                            }
                                                        }
                                                    </div>*@
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    @foreach (var abc in ViewBag.APL)
                                                    {
                                                        if (abc.id == item.id)
                                                        {
                                                            <li class="small" style="color: white">
                                                                <span class="fa-li"><i class="fas fa-lg fa-building" style="color: white"></i></span>
                                                                @abc.rumahSakit (@abc.full_address, @abc.namaLokasi)
                                                            </li>
                                                        }

                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-5 text-center">
                                                @if (item.image == null)
                                                {
                                                    <img src="~/adminlte/dist/img/Screenshot 2021-09-30 at 18-52-53 上白石 萌歌 ( moka____k) • Instagram photos and videos.png" alt="" class="img-circle img-fluid profile-user-img">
                                                }
                                                else
                                                {
                                                    <img src="~/mediaUpload/@item.image" alt="" class="img-fluid img-circle" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-info">
                                        <div>

                                            @foreach (var LGC in ViewBag.LGC)
                                            {
                                                ViewBag.KLMN = 0;

                                                @if (LGC.DoctorBackup_id == item.id)
                                                {                                                 


                                                    @if (LGC.day == "Senin" && ViewBag.JAM <= LGC.jamAkhir1 && ViewBag.JAM >= LGC.jamAwal1)
                                                    {
                                                        ViewBag.UCO += 1;
                                                        @if (ViewBag.UCO == ViewBag.DAY)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-teal mr-2 ml-4 col-5">
                                                                <i class="fas fa-comments"></i> Chat
                                                            </a>
                                                            ViewBag.KLMN += 1;
                                                            ViewBag.UCO -= 1;
                                                            break;

                                                        }

                                                        ViewBag.UCO -= 1;

                                                    }

                                                    else if (LGC.day == "Selasa" && ViewBag.JAM <= LGC.jamAkhir1 && ViewBag.JAM >= LGC.jamAwal1)
                                                    {
                                                        ViewBag.UCO += 2;
                                                        @if (ViewBag.UCO == ViewBag.DAY)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-teal mr-2 ml-4 col-5">
                                                                <i class="fas fa-comments"></i> Chat
                                                            </a>
                                                            ViewBag.KLMN += 1;
                                                            ViewBag.UCO -= 2;
                                                            break;
                                                        }

                                                        ViewBag.UCO -= 2;

                                                    }

                                                    else if (LGC.day == "Rabu")
                                                    {
                                                        ViewBag.UCO += 3;
                                                        @if (ViewBag.UCO == ViewBag.DAY && ViewBag.JAM <= LGC.jamAkhir1 && ViewBag.JAM >= LGC.jamAwal1)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-teal mr-2 ml-4 col-5">
                                                                <i class="fas fa-comments"></i> Chat
                                                            </a>
                                                            ViewBag.KLMN += 1;
                                                            ViewBag.UCO -= 3;
                                                            break;
                                                        }
                                                        ViewBag.UCO -= 3;

                                                    }
                                                    else if (LGC.day == "Kamis")
                                                    {
                                                        ViewBag.UCO += 4;
                                                        @if (ViewBag.UCO == ViewBag.DAY && ViewBag.JAM <= LGC.jamAkhir1 && ViewBag.JAM >= LGC.jamAwal1)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-teal mr-2 ml-4 col-5">
                                                                <i class="fas fa-comments"></i> Chat
                                                            </a>
                                                            ViewBag.KLMN += 1;
                                                            ViewBag.UCO -= 4;
                                                            break;
                                                        }

                                                        ViewBag.UCO -= 4;

                                                    }
                                                    else if (LGC.day == "Jumat")
                                                    {
                                                        ViewBag.UCO += 5;
                                                        @if (ViewBag.UCO == ViewBag.DAY && ViewBag.JAM <= LGC.jamAkhir1 && ViewBag.JAM >= LGC.jamAwal1)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-teal mr-2 ml-4 col-5">
                                                                <i class="fas fa-comments"></i> Chat
                                                            </a>
                                                            ViewBag.KLMN += 1;
                                                            ViewBag.UCO -= 5;
                                                            break;
                                                        }

                                                        ViewBag.UCO -= 5;

                                                    }
                                                    else if (LGC.day == "Sabtu" && ViewBag.JAM <= LGC.jamAkhir1 && ViewBag.JAM >= LGC.jamAwal1)
                                                    {
                                                        ViewBag.UCO += 6;
                                                        @if (ViewBag.UCO == ViewBag.DAY)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-teal mr-2 ml-4 col-5">
                                                                <i class="fas fa-comments"></i> Chat
                                                            </a>
                                                            ViewBag.KLMN += 1;
                                                            ViewBag.UCO -= 6;
                                                            break;
                                                        }

                                                        ViewBag.UCO -= 6;

                                                    }
                                                    else if (LGC.day == "Minggu" && ViewBag.JAM <= LGC.jamAkhir1 && ViewBag.JAM >= LGC.jamAwal1)
                                                    {
                                                        ViewBag.UCO += 7;
                                                        @if (ViewBag.UCO == ViewBag.DAY)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-teal mr-2 ml-4 col-5">
                                                                <i class="fas fa-comments"></i> Chat
                                                            </a>
                                                            ViewBag.KLMN += 1;
                                                            ViewBag.UCO -= 7;
                                                            break;
                                                        }

                                                        ViewBag.UCO -= 7;

                                                    }


                                                }


                                            }
                                            @if (ViewBag.UCO != ViewBag.DAY&& ViewBag.KLMN==0)
                                            {
                                            <a href="#" class="btn btn-sm btn-primary mr-2 ml-4 col-5">
                                                Offline
                                            </a>

                                            }
                                            <a class="btn btn-sm bg-gradient-pink mr-1 btn-janji col-5" data-id="@item.doctor_id">
                                                <i class="fas fa-user"></i> Buat Janji
                                            </a>
                                        </div>
                                        <div class="card-footer bg-info">
                                            <a asp-controller="m_doctor" asp-action="Details" asp-route-id="@item.doctor_id" class="btn btn-sm btn-outline-light mr-1 btn-block">
                                                Lihat Info Lebih Banyak
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

        </div>
        <div class="float-right">
            <a asp-action="CariDokter"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-currentFilter1="@ViewData["CurrentFilter1"]"
               asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
               asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
               asp-route-pSize="@ViewData["CurrentpSize"]"
               class="btn btn-outline-info @prevDisabled">
                Sebelumnya
            </a>
            <a asp-action="CariDokter"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-currentFilter1="@ViewData["CurrentFilter1"]"
               asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
               asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
               asp-route-pSize="@ViewData["CurrentpSize"]"
               class="btn btn-outline-info @nextDisabled">
                Selanjutnya
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    @*<script type="text/javascript">
            $(document).ready(function () {
                $("#create-form").validate({
                    rules: {
                        specialization: {
                            required: true
                        },
                        spesial: {
                            required: true
                        }
                    },
                    messages: {
                        specialization: {
                            required: "Field tidak boleh kosong"
                        },
                        spesial: {
                            required: "Field tidak boleh kosong"
                        }
                    },
                    submitHandler: function (form) {
                        var dataform = $(form).serialize();
                        form.submit();
                    }

                });
            });

        </script>*@
</div>

<!--<div class="modal fade" id="example_Modal" tabindex="-1" role="dialog" aria-labelledby="example_ModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-body">-->
				<!-- Preloader -->
				<!--<div id="modal-preloader">
					<div class="modal-preloader_status">
						<div class="modal-preloader_spinner">
							<div class="d-flex justify-content-center">
								<div class="spinner-border" role="status"></div>
							</div>
						</div>
					</div>
				</div>-->
				<!-- End Preloader -->
			<!--</div>
		</div>
	</div>
</div>-->

<script type="text/javascript">
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Home/Create')
        $("#modal-default").modal("show");
    })

    $("#btn-login").click(function () {
        $(".modal-title").text("Login Med.Id");
        $("#id-body").empty();
        $("#id-body").load('/Home/Login');
        $("#modal-default").modal("show");
    })

    $(".btn-janji").click(function () {
        var role = $("#roleStats").val();
        var username = $("#userName").val();
		var userid = $("#userId").val();
        alert(role);
        alert(username);
		alert(userid);
        var id = $(this).data("id");
        if (role == 0) {
            toastr.error('Harap Login terlebih dahulu');
            $(".modal-title").text("Login Med.Id");
            $("#id-body").empty();
            $("#id-body").load('/Home/Login');
            $("#modal-default").modal("show");
        }
        if (role != 0) {
            $(".modal-title").text("Buat Janji");
            $("#id-body").empty();
            $("#id-body").load('/t_appointment/Index/' + id);
            $("#modal-default").modal("show");
        }
    })
</script>