﻿@model MiniProject262.ViewModels.VMCariDokter

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

<div>
    <div>
        <h2 style="color: #17a2b8"><b>Cari Dokter</b></h2>
        <br />
        <form asp-action="CariDokter" id="create-form" method="get">
            <div>
                <label style="color: #17a2b8">Nama Dokter</label><br />
                <input type="text" name="namadok" value="@ViewData["CurrentFilter"]" class="form-control" />
            </div>
            <div class="form-group">
                <label style="color: #17a2b8">Lokasi</label>
                <select id="IdCategory" name="lokasi" value="@ViewData["CurrentFilter1"]" class="form-control" asp-items="@(new SelectList(ViewBag.ListLoc,"name","name"))"></select>
            </div>
            <div class="form-group">
                <label style="color: #17a2b8">Spesialisasi</label>
                @*<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" />*@
                <select id="search-text" name="spesial" value="@ViewData["CurrentFilter2"]" class="form-control" asp-items="@(new SelectList(ViewBag.ListSpec,"name","name"))"></select>
            </div>
            <div class="form-group">
                <label style="color: #17a2b8">Tindakan Medis</label>
                @*<input type="text" name="SearchString" value="@ViewData["CurrentFilter3"]" class="form-control float-right" />*@
                <select id="IdCategory" name="tindakanmedis" value="@ViewData["CurrentFilter3"]" class="form-control" asp-items="@(new SelectList(ViewBag.LisDocTreat,"name","name"))"></select>
         
            </div>
            <div class="form-group">
                <br />
                <button data-id="id" id="btn-search" type="submit" class="btn btn-info col-4 float-right">Cari</button>
                <button type="reset" class="btn btn-outline-primary col-4" onclick="this.form.reset();return false">Atur Ulang</button>
            </div>
        </form>
    </div>
    <script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $("#btn-search").click(function () {
        $(".error").hide();
        var hasError = false;
        var searchVal = $("#search-text").val();
        if (searchVal == ' ') {
            $("#search-text").after('<span class="error" style="color:red"><i>Pilihan Spesialisasi Harus Diisi</i></span>');
            hasError = true;
        }
        if (hasError == true) { return false; }
    });
</script>