﻿@model MiniProject262.ViewModels.VMUser
@{
    Layout = null;
}

<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- jQuery Validation -->
<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>

<div class="modal-body">
    <h3 class="text-info">Set Password</h3>

    <form asp-action="CreatePassConfirm" asp-controller="Home" id="form-setpass" method="post">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password*</label>
            @*<input type="password" asp-for="password" class="form-control" id="pass1" style="border:1px solid #17a2b8">*@
            <div class="input-group">
                <input type="password" class="form-control" id="pass1" asp-for="password" style="border:1px solid #17a2b8; border-right:none">
                <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-info border-left-0">
                        <i toggle="#password-field" class="far fa-eye toggle-password"></i>
                    </div>
                </div>
            </div>
            <span class="font-italic" style="color:red;display:none" id="validatePass1"></span>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Masukkan ulang password*</label>
            <input type="password" class="form-control" id="pass2" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="validatePass2"></span>
        </div>
        <input type="hidden" asp-for="email" />
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info btn-submit" >Simpan</button>
        </div>
    </form>
</div>

<script>
    const togglePassword = document.querySelector('.toggle-password');
    const password = document.querySelector('#pass1');
    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye / eye slash icon
        $(this).toggleClass("fa-eye fa-eye-slash");
    });
</script>

<script>
    $(".btn-submit").click(function () {
        alert("alert")
        var passPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@@!%&*?])[A-Za-z\d#$@@!%&*?]{8,30}$/;
        var password1 = $("#pass1").val();
        var password2 = $("#pass2").val();
        var dataform = $("#form-setpass").serialize();
        if (password1 == "" && password2 == "") {
            $("#validatePass1").html('* Password tidak boleh kosong')
            $("#validatePass1").show();
            $("#validatePass2").html('* Password tidak boleh kosong')
            $("#validatePass2").show();
            return false;
        }
        else if (password1 == "" && password2 != "") {
            $("#validatePass1").html('* Password tidak boleh kosong')
            $("#validatePass1").show();
            return false;
        }
        else if (password1 != "" && password2 == "") {
            $("#validatePass2").html('* Masukkan ulang password')
            $("#validatePass2").show();
            return false;
        }
        else if (password1 != password2) {
            $("#validatePass2").html('* Password tidak sama')
            $("#validatePass2").show();
            return false;
        }
        else if (!password1.match(passPattern)) {
            $("#validatePass1").html('* Password tidak memenuhi standar (minimal 8 karakter, harus mengandung huruf besar, huruf kecil, angka, dan special character)')
            $("#validatePass1").show();
            if (password2 == "") {
                $("#validatePass2").html('* Password tidak boleh kosong')
                $("#validatePass2").show();
            }
            return false;
        }
        else if (password1.match(passPattern) != password2) {
            $("#validatePass2").html('* Password tidak sama')
            $("#validatePass2").show();
            return false;
        }


        //$("#id-body").empty();
        //$("#id-body").load('/Home/Register/', respon.dataform);
        //$("#modal-default").modal("show");
        debugger;
        $.ajax({
            
            url: '/Home/CreatePassConfirm/',
            dataType: 'json',
            data: dataform,
            method: 'post',
            success: function (respon) {
                if (respon.status == "success") {
                    toastr.success('Password!')

                    $("#id-body").empty();
                    $("#id-body").load('/Home/Register/', respon.data);
                    $("#modal-default").modal("show");
                }
                else {
                    toastr.error("error : " + respon.message)
                }
            }
        })
    })

    $("#pass1").on("keyup", function () {
        $("#validatePass1").hide();
    });
    $("#pass2").on("keyup", function () {
        $("#validatePass2").hide();
    })


</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>
