﻿@model MiniProject262.Models.m_user
@{

    ViewData["Title"] = "EmailCheck";
    Layout = null;
}

<!--<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>-->
<!-- jQuery Validation -->
<!--<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>-->
<!-- jQuery UI 1.11.4 -->
<!--<script src="~/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>-->
<!-- Toastr -->
<!--<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.css">-->
<!-- Toastr -->
<!--<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.min.css">-->
<!-- Toastr -->
<!--<script src="~/adminlte/plugins/toastr/toastr.min.js"></script>-->

<div class="modal-body">
    <h3 class="text-info">Daftar</h3>

    <form id="form-transaction" asp-action="ValidateEmail"  method="post">
        <p class="col-form-label">Masukan email Anda, Kami akan melakukan pengecekan</p>
        <div class="form-group">
            <label class="col-form-label">Email*</label>
            <input type="text" class="form-control" id="txt-email" asp-for="email" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info btn-submit" id="login">Kirim OTP</button>
        </div>
    </form>
</div>


<div class="modal fade" id="modal-default" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    //$("#login").click(function () {
    //    var email = $("#email").val();
    //    if (email == "") {
    //        $("#validateEmail").html('* email tidak boleh kosong')
    //        $("#validateEmail").show();

    //    }

    //})
    //$("#email").on("keyup", function () {
    //    $("#validateEmail").hide();
    //});

    $(".btn-submit").click(function () { 
        var email = $("#txt-email").val();
        if (email == "") {
            $("#divMessage").html('* email tidak boleh kosong')
            $("#divMessage").show();
            return false;
        }
        $.ajax({
            method: 'post',
            url: '/Home/ValidateEmail/',
            data: { cekEmail: email },

        }).done(function (msg) {
            if (msg == 1) {
                $("#divMessage").html('Error : Duplicate Email Id Found.')
                $("#divMessage").show();
                return false;
            } else {
                var dataform = $("#form-transaction").serialize();
                $.ajax({
                    url: '/Home/SendOTP',
                    dataType: 'json',
                    data: dataform,
                    method: 'post',
                    success: function (respon) {
                        if (respon.status == "success") {
                            toastr.success('otp!')

                            $("#id-body").empty();
                            $("#id-body").load('/Home/VerifyOTP/', respon.data);
                            $("#modal-default").modal("show");
                        }
                        else {
                            toastr.error("error : " + respon.message)
                        }
                    }
                })
            }

        })

    })

    $("#txt-email").on("keyup", function () {
        $("#divMessage").hide();
    });
</script>
