﻿@model MiniProject262.Models.m_admin
@using Microsoft.AspNetCore.Http;

@inject MiniProject262.Utils.MenuMaster menus
@{ var namecustomer = Context.Session.GetString("customername");
	var idrole = Context.Session.GetInt32("idrole");
	var getcards = menus.GetMenuOption(idrole);
}

@{
	ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
	<div class="container-fluid shadow p-3 mb-5 bg-white rounded">
		<div class="row">
			@foreach (var menu in getcards.Where(a => a.m_menu_parent_id == 1))
			{
				<div class="col-sm">
					<div class="card" style="width: 15rem;">
						<img class="card-img-top" src="~/adminlte/dist/img/@menu.big_icon" alt="Card image cap">
						<div class="card-body">
							<a class="btn btn-info btn-block text-white btn-cari" onclick='urlMenu("@menu.url")'>@menu.m_menu_name</a>
						</div>
					</div>
				</div>
			}

			@*@foreach (var parent in getmenus.Where(a => a.m_menu_parent_id == 0))
		{
			@foreach (var child in getmenus.Where(a => a.m_menu_parent_id == parent.m_menu_id))
			{
				<div class="col-sm">
					<div class="card" style="width: 15rem;">
						<img class="card-img-top" src="..." alt="Card image cap">
						<div class="card-body">
							<a class="btn btn-info btn-block text-white btn-cari">@child.m_menu_name</a>
						</div>
					</div>
				</div>
			}
		}*@
		</div>
	</div>
</div>

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content" style="border:2px solid #17a2b8; border-radius:10px">
			<div class="modal-body" id="id-body">
				<p>One fine body&hellip;</p>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<script type="text/javascript">
	function urlMenu(pageURL) {
		$("#id-body").empty();
		$("#id-body").load(pageURL);
		$("#modal-default").modal("show");
	}

	//alert(window.sessionStorage.getItem('totalHarga'));
	//alert(window.sessionStorage.getItem('totalBarang'));

	//let hari = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
	//sessionStorage.setItem("hariTest", JSON.stringify(hari));
	var getObat = JSON.parse(sessionStorage.getItem("obatList"));

	for (var i = 0; i < getObat.length; i++) {
		console.log(getObat);
		alert(getObat[i].id);
		alert(getObat[i].qty);
		alert(getObat[i].price);
	}

	//var storedArray = JSON.parse(sessionStorage.getItem("idBarang"));
	//var i;
	//for (i = 0; i < storedArray.length; i++) {
	//	alert(storedArray[i]);
	//}

	//const obj = { name: 'redd', age: 23 };
	//sessionStorage.setItem('person', JSON.stringify(obj));

	//var objt = { name: 'redday', age: 23 };
	//sessionStorage.setItem('personal', JSON.stringify(objt));
	//var objt = { name: 'reddz', age: 23 };
	//sessionStorage.setItem('personal', JSON.stringify(objt));

	//alert(sessionStorage.getItem('person'));
	//alert(sessionStorage.getItem('personal'));

	//$(".btn-cari").click(function () {
	//	$("#id-body").empty();
	//	$("#id-body").load(pageURL);
	//	$("#modal-default").modal("show");
	//})
</script>