﻿@model MiniProject262.ViewModels.VMUser

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Masuk</h2>
    <form asp-action="Login" asp-controller="Home" id="form-login">
        <div class="col-sm-10 mx-auto">
            <span class="font-italic test" style="color:red;display:none" id="validateEmPass"></span>
        </div>
        <div class="form-group col-10 mx-auto">
            <label for="recipient-name" class="col-form-label">E-mail*</label>
            <input type="text" class="form-control" id="email" name="email" style="border:1px solid #17a2b8">
            <span class="font-italic test" style="color:red;display:none" id="validateEmail"></span>
        </div>
        <div class="form-group col-10 mx-auto">
            <label for="message-text" class="col-form-label">Password*</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" style="border:1px solid #17a2b8; border-right:none">
                <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-info border-left-0">
                        <i toggle="#password-field" class="far fa-eye toggle-password"></i>
                    </div>
                </div>
            </div>
            <span class="font-italic test" style="color:red;display:none" id="validatePass"></span>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info" id="login" style="padding:10px 50px">Masuk</button>
        </div>
    </form>
    <br>
    <div class="text-center">
        <a id="forgotpass" href="#" data-id="66" data-toggle="modal">Lupa password?</a><br>
        <small>atau</small><br>
        <a id="register" href="#" data-toggle="modal">Belum memiliki akun? Daftar</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        const togglePassword = document.querySelector('.toggle-password');
        const password = document.querySelector('#password');
        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            $(this).toggleClass("fa-eye fa-eye-slash");
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#login").click(function () {
			var pageURL = $(location).attr("href");
            var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            var email = $("#email").val();
            var pass = $("#password").val();
            var dataForm = $("#form-login").serialize();
            if (email == "" && pass == "") {
                $("#validateEmail").html('* silahkan isi email anda')
                $("#validateEmail").show();
                $("#validatePass").html('* silahkan isi password anda')
                $("#validatePass").show();
                return false;
            }
            else if (email == "" && pass != "") {
                $("#validateEmail").html('*  silahkan isi email anda')
                $("#validateEmail").show();
                return false;
            }
            else if (!email.match(emailPattern)) {
                $("#validateEmail").html('* email yang dimasukkan tidak valid')
                $("#validateEmail").show();
                if (pass == "") {
                    $("#validatePass").html('* silahkan isi password anda')
                    $("#validatePass").show();
                }
                return false;
            }
            else if (email.match(emailPattern) && pass == "") {
                $("#validatePass").html('* silahkan isi password anda')
                $("#validatePass").show();
                return false;
            }
            //else if (email == "" && pass != "") {
            //    $("#validateEmail").html('* email tidak boleh kosong')
            //    $("#validateEmail").show();
            //    return false;
            //}
            $.ajax({
                url: '/Home/Login',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        toastr.success('Login Success </br>Welcome, ' + respon.data)

                        setTimeout(function () {
                            window.location.href = pageURL;
                        }, 2000);
                    }
                    else {
                        /*toastr.error("Login Failed </br> " + respon.message)*/
                        if (respon.message != null) {
                            $("#validateEmPass").html(respon.message)
                            $("#validateEmPass").show();
                        }
                        //if (respon.messages != null && pass != "") {
                        //    $("#validatePass").html(respon.messages)
                        //    $("#validatePass").show();
                        //}
                    }
                }
            })
        })
    })
    $(document).ready(function () {
        $("#email").on("keyup", function () {
            $("#validateEmail").hide();
            $("#validateEmPass").hide();
        });
    });
    $(document).ready(function () {
        $("#password").on("keyup", function () {
            $("#validatePass").hide();
            $("#validateEmPass").hide();
        });
    })
</script>

<script>
    $(document).ready(function () {
        $("#register").click(function () {
            $(".modal-title").text("Register Med.Id");
            $("#id-body").empty();
            $("#id-body").load('/Home/EmailCheck');
        })
    })

    $(document).ready(function () {
        $("#forgotpass").click(function () {
            var token = $(this).data("id");
            $(".modal-title").remove();
            $("#id-body").empty();
            $("#id-body").load('/Home/VerifEmail/' + token);
        })
    })

    $(document).ready(function () {
        $("#modal-default").on("hidden.bs.modal", function () {
            $("#id-body").removeData();
        });
    });
</script>

@*<script>
        $(document).ready(function () {
            $("#form-login").validate({
                errorClass: "error fail-alert",
                validClass: "valid success-alert",
                rules: {
                    email: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    email: {
                        required: "* Silahkan isi email anda"
                    },
                    password: {
                        required: "* Silahkan isi password anda"
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                    /*alert("Form successful submitted!");*/
                }
            })
        })
    </script>*@

@*<script>
        $(".toggle-password").addEventListener('click', function (e) {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>*@
