﻿@model MiniProject262.ViewModels.VMUser

@{
    ViewData["Title"] = "OTP";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Verifikasi E-mail</h2>
    <form id="form-otp">
        <input type="hidden" id="otpval" value="@Model.otp" />
        <div class="form-group col-10 mx-auto">
            <p>Masukkan kode OTP yang telah dikirimkan ke email anda</p>
            <input type="text" class="form-control text-center" id="otpbox" maxlength="6" style="border:1px solid #17a2b8">
            <span class="font-italic test" style="color:red;display:none" id="validateOtp"></span>
        </div>
        <div class="form-group col-10 mx-auto text-center">
            <ul class="col-10 mx-auto">
                <li id="txt" style="list-style:none">
                    Kirim ulang kode OTP dalam <span id="timer1"></span>
                </li>
            </ul>
            <button type="button" class="btn btn-sm btn-info" id="resOTP" data-toggle="modal" style="display:none">Resend OTP</button>
        </div>
        <div id="timer"></div>
        <div class="d-flex justify-content-center">
            <input type="hidden" asp-for="id" value="@Model.id" />
            <input type="hidden" asp-for="email" value="@Model.email" />
            <button type="button" class="btn btn-lg btn-info" id="confOTP" data-toggle="modal" style="padding:10px 30px">Konfirmasi OTP</button>
        </div>
    </form>
</div>

<script>
    var countDownDate = new Date();
    countDownDate.setSeconds(countDownDate.getSeconds() + 90)
    countDownDate = countDownDate.getTime()

    var countDownDate1 = new Date();
    countDownDate1.setMinutes(countDownDate1.getMinutes() + 1)
    countDownDate1 = countDownDate1.getTime()

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

        $("#modal-default").on("hidden.bs.modal", function () {
            clearInterval(x);
        });
        //$("#id-body").on("change", function () {
        //    clearInterval(x);
        //});
        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
            //$("#txt").show();
            //$("#timer1").show();
            $("#otpval").val("");
        }
    }, 1000);

    var y = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate1 - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("timer1").innerHTML = minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        $("#modal-default").on("hidden.bs.modal", function () {
            clearInterval(y);
        });
        //$("#id-body").on("change", function () {
        //    clearInterval(x);
        //});
        if (distance < 0) {
            clearInterval(y);
            document.getElementById("timer1").innerHTML = "EXPIRED";
            $("#txt").hide();
            $("#timer1").hide();
            $("#resOTP").show();
        }
    }, 1000);

    function StopTimer() {
        clearInterval(x)
        clearInterval(y)
    }
</script>

<script>
    $(document).ready(function () {
        $("#confOTP").click(function () {
            var dataForm = $("#form-otp").serialize();
            var otpbox = $("#otpbox").val();
            var otpval = $("#otpval").val();

            if (otpbox == "") {
                $("#validateOtp").html('* silahkan isi kode otp anda')
                $("#validateOtp").show();
                return false;
            }
            else if (otpval == "") {
                $("#validateOtp").html('* kode OTP kadaluarsa, silahkan kirim ulang OTP')
                $("#validateOtp").show();
                return false;
            }
            else if (otpval != "" && otpbox != otpval) {
                $("#validateOtp").html('* kode OTP yang anda masukkan salah')
                $("#validateOtp").show();
                return false;
            }
            else {
                StopTimer();
                $.ajax({
                    url: '/Home/SetPassword',
                    dataType: 'json',
                    data: dataForm,
                    method: 'post',
                    success: function (respon) {
                        if (respon.status == "success") {
                            $(".modal-title").remove();
                            $("#id-body").empty();
                            $("#id-body").load('/Home/SetPass', respon.data);
                        }
                        else {
                            toastr.error("OTP gagal")
                        }
                    }
                })
            }
        })
    })

    $(document).ready(function () {
        $("#otpbox").on("keyup", function () {
            $("#validateOtp").hide();
        });
    });

    $(document).ready(function () {
        $("#form-otp").keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    });

    $(document).ready(function () {
        $("#resOTP").click(function () {
            $(this).prop("disabled", true);
            var dataForm = $("#form-otp").serialize();
            StopTimer();
            $.ajax({
                url: '/Home/sendMail',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        toastr.success('Kode OTP telah dikirim ulang ke email anda')
                        $(".modal-title").remove();
                        $("#id-body").empty();
                        $("#id-body").load('/Home/OTP', respon.data);
                        $("#modal-default").modal("show");
                    }
                    else {
                        toastr.error("OTP gagal")
                    }
                }
            })
        })
    })

    $(document).ready(function () {
        $("#modal-default").on("hidden.bs.modal", function () {
            $("#id-body").removeData();
        });
    });
</script>