﻿@model MiniProject262.ViewModels.VMUser
@{
    Layout = null;
}

<div class="modal-body" id="modal-default">
    <h3 class="text-info">Daftar</h3>

    <form asp-action="RegisterConfirm" id="form-register" data-ajax-method="POST">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nama Lengkap*</label>
            <input type="text" asp-for="fullname" class="form-control" id="namee" style="border:1px solid #17a2b8">
            <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nomor handphone</label>
            <div class="input-group">
                <div class="input-group-append">
                    <div class="input-group-text form-control" style="border: 1px solid #17a2b8;border-right:none">
                        +62
                    </div>
                </div>
                <input type="text" asp-for="mobile_phone" class="form-control" id="txt-email" style="border:1px solid #17a2b8">
            </div>
            <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
        </div>
        <input type="hidden" asp-for="password" />
        <input type="hidden" asp-for="email" />
        @*<div class="form-group">
                <label for="recipient-name" class="col-form-label">Password</label>
                <input type="password" asp-for="password" class="form-control" id="txt-email" style="border:1px solid #17a2b8">
                <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
            </div>*@
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Daftar Sebagai</label>
            <select class="form-control" style="border:1px solid #17a2b8" id="roleid" asp-for="role_id" asp-items="@(new SelectList(ViewBag.lc,"id","name"))"></select>
            <span class="font-italic" style="color:red;display:none" id="divMessageR"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info btn-submit" id="login">Simpan</button>
        </div>
    </form>
</div>

<script>
    //$(document).ready(function () {
    //    $("#form-register").validate({
    //        rules: {
    //            fullname: {
    //                required: true
    //            }
    //        },
    //        messages: {
    //            fullname: {
    //                required: "* Nama Tidak Boleh Kosong"
    //            }
    //        }
    //    });
    //})
    $(document).ready(function () {
        $(".btn-submit").click(function () {
            debugger;
            var email = $("#namee").val();
            var idrole = $("#roleid").val();

            if (email == "" && idrole == 0) {
                $("#divMessage").html('* Nama tidak boleh kosong')
                $("#divMessage").show();
                $("#divMessageR").html('* Role Tidak Boleh Kosong')
                $("#divMessageR").show();
                return false;

            } else if (email == "") {
                $("#divMessage").html('* Nama tidak boleh kosong')
                $("#divMessage").show();
                return false;

            } else if (idrole == 0) {
                $("#divMessageR").html('* Role Tidak Boleh Kosong')
                $("#divMessageR").show();
                return false;

            

            }

            $("#form-register").submit();
        })
    })

    $(document).ready(function () {
        $("#namee").on("keyup", function () {
            $("#divMessage").hide();
        });
    });

    $(document).ready(function () {
        $("#roleid").change(function () {
            $("#divMessageR").hide();
        });
    });
</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>
