﻿@model MiniProject262.ViewModels.VMUser

@{
    ViewData["Title"] = "Set Password";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Set Password</h2>
    <form id="form-setpass" method="post">
        <div class="form-group col-10 mx-auto">
            <p>Masukkan password baru untuk akun anda</p>
            <label for="message-text" class="col-form-label">Password*</label>
            <div class="input-group">
                <input type="password" class="form-control" id="new_password" name="new_password" style="border:1px solid #17a2b8; border-right:none">
                <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-info border-left-0">
                        <i toggle="#password-field" class="far fa-eye toggle-password"></i>
                    </div>
                </div>
            </div>
            <span class="font-italic test" style="color:red;display:none" id="validatePass"></span>
        </div>
        <div class="form-group col-10 mx-auto">
            <label for="message-text" class="col-form-label">Masukkan ulang password*</label>
            <div class="input-group">
                <input type="password" class="form-control" id="confpassword" name="confpassword" style="border:1px solid #17a2b8; border-right:none">
                <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-info border-left-0">
                        <i toggle="#password-field" class="far fa-eye toggle-confpassword"></i>
                    </div>
                </div>
            </div>
            <span class="font-italic test" style="color:red;display:none" id="validateConPass"></span>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <input type="hidden" asp-for="id" value="@Model.id" />
            <input type="hidden" asp-for="email" value="@Model.email" />
            <input type="hidden" asp-for="password" value="@Model.password" />
            <input type="hidden" asp-for="old_password" value="@Model.old_password" />
            <input type="hidden" asp-for="reset_for" value="@Model.reset_for" />
            <input type="hidden" asp-for="modified_on" value="@Model.modified_on" />
            <button type="button" class="btn btn-lg btn-info" id="setpass" style="padding:10px 30px">Set Password</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        const togglePassword = document.querySelector('.toggle-password');
        const password = document.querySelector('#new_password');
        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            $(this).toggleClass("fa-eye fa-eye-slash");
        });
    });
</script>

<script>
    $(document).ready(function () {
        const toggleconfPassword = document.querySelector('.toggle-confpassword');
        const confpassword = document.querySelector('#confpassword');
        toggleconfPassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = confpassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confpassword.setAttribute('type', type);
            // toggle the eye / eye slash icon
            $(this).toggleClass("fa-eye fa-eye-slash");
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#setpass").click(function () {
            var dataForm = $("#form-setpass").serialize();
            var passPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@~#^$!%*?&])[A-Za-z\d@@~#^$!%*?&]{8,}$/;
            var newp = $("#new_password").val();
            var confp = $("#confpassword").val();
            if (newp == "") {
                $("#validatePass").html('* silahkan masukkan password baru anda')
                $("#validatePass").show();
                return false;
            }
            else if (newp.length > 0 && newp.length < 8) {
                $("#validatePass").html('* password minimal 8 karakter')
                $("#validatePass").show();
                return false;
            }
            else if (!newp.match(passPattern)) {
                $("#validatePass").html('* password harus mengandung huruf besar, huruf kecil, angka, dan spesial karakter')
                $("#validatePass").show();
                return false;
            }
            else if (confp == "") {
                $("#validateConPass").html('* silahkan masukkan ulang password baru anda')
                $("#validateConPass").show();
                return false;
            }
            else if (confp != newp && confp != "") {
                $("#validateConPass").html('* password tidak sama')
                $("#validateConPass").show();
                return false;
            }
            $.ajax({
                url: '/Home/SetPassConfirmed',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        toastr.success('Set password berhasil')
                        setTimeout(function () {
                            window.location.href = "/Home/Index/";
                        }, 1000);
                    }
                    else {
                        toastr.error("Password gagal diubah")
                    }
                }
            })
        })
    })

    $(document).ready(function () {
        $("#form-setpass").keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    });

    $(document).ready(function () {
        $("#new_password").on("keyup", function () {
            $("#validatePass").hide();
        });
    });

    $(document).ready(function () {
        $("#confpassword").on("keyup", function () {
            $("#validateConPass").hide();
        });
    });
</script>