﻿@model MiniProject262.ViewModels.VMUser

@{
    ViewData["Title"] = "Verifikasi Email";
    Layout = null;
}

<div class="modal-body">
    <h2 class="text-info">Lupa Password</h2>
    <form id="form-verif">
        <p>Masukkan email Anda. Kami akan melakukan pengecekan</p>
        <div class="form-group col-10 mx-auto">
            <label for="recipient-name" class="col-form-label">e-mail*</label>
            <input type="text" class="form-control" id="email" name="email" style="border:1px solid #17a2b8">
            <span class="font-italic test" style="color:red;display:none" id="validateEmail"></span>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-info" id="sendOTP" data-toggle="modal" style="padding:10px 50px">Kirim OTP</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#sendOTP").click(function () {
            /*var token = $(this).data("id");*/
            var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            var email = $("#email").val();
            var dataForm = $("#form-verif").serialize();
            if (email == "") {
                $("#validateEmail").html('* silahkan isi email anda')
                $("#validateEmail").show();
                return false;
            }
            else if (!email.match(emailPattern)) {
                $("#validateEmail").html('* email yang dimasukkan tidak valid')
                $("#validateEmail").show();
                return false;
            }
            $("#sendOTP").prop("disabled", true);
            $.ajax({
                url: '/Home/sendMail',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        toastr.success('Kode OTP telah dikirim ke email anda')
                        $(".modal-title").remove();
                        $("#id-body").empty();
                        $("#id-body").load('/Home/OTP', respon.data);
                        $("#modal-default").modal("show");
                    }
                    else {
                        /*toastr.error("Login Failed </br> " + respon.message)*/
                        if (respon.message != null && email != "") {
                            $("#validateEmail").html(respon.message)
                            $("#validateEmail").show();
                            $("#sendOTP").prop("disabled", false);
                        }
                    }
                }
            })
        })
    })

    $(document).ready(function () {
        $("#email").on("keyup", function () {
            $("#validateEmail").hide();
        });
    });

    $(document).ready(function () {
        $("#form-verif").keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>