﻿@model MiniProject262.ViewModels.VMUser
@{ 

    Layout = null;

}


<head>
    <title>Verify OTP</title>
</head>
<body>
    @*<div id="demo"> </div>*@
    <h3 class="text-info">Verifikasi E-mail</h3>
    <form id="form-verify">
        <p>Masukan kode OTP yang telah dikirimkan ke email anda</p>
        <div>
            OTP: @Model.otp 
            <input type="hidden" class="form-control" id="otp" name="otp" value="@Model.otp">
            <input type="hidden" class="form-control" asp-for="email" value="@Model.email">
            <input type="text" class="form-control" id="text" name="text" />
            <span style="color:red;display:none" id="validateOTP"></span>
            <div class="form-group col-10 mx-auto text-center">
                <ul class="col-12 mx-auto">
                    <li id="txt" style="list-style:none">
                        Kirim ulang kode OTP dalam <span id="demo1"></span>
                    </li>
                </ul>
                <div id="demo" style="display:none"></div>
                <button type="button" class="btn btn-sm btn-info" id="resOTP" data-toggle="modal" style="display:none">Resend OTP</button>
            </div>
            <button type="button" id="btn-regis" class="btn btn-primary btn-block">Konfirmasi OTP</button>
        </div>
    </form>
</body>

<script>


        // Set the date we're counting down to
        var countDownDate = new Date();
        countDownDate.setSeconds(countDownDate.getSeconds() + 50)
        countDownDate = countDownDate.getTime()
        // Update the count down every 1 second
        // Set the date we're counting down to
        var countDownDate1 = new Date();
        countDownDate1.setSeconds(countDownDate1.getSeconds() + 30)
        countDownDate1 = countDownDate1.getTime()
        // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate1 - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo1").innerHTML = minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo1").innerHTML = "EXPIRED";
            $("#txt").hide();
            $("#demo1").hide();
            $("#resOTP").show();
            
        }
    }, 1000);
    function StopTimer() {
        clearInterval(x)
    }

    var y = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(y);
            document.getElementById("demo").innerHTML = "EXPIRED";
            $("#otp").val("");
        }
    }, 1000);



    $("#btn-regis").click(function () {
        var id = $("#otp").val();
        var text = $("#text").val();

        if (text == id) {
            $("#validateOTP").html('Otp succes')
            $("#validateOTP").show();

        }
        else if (id == "") {
            $("#validateOTP").html('OTP Kadaluarsa')
            $("#validateOTP").show();
            return false;
        }
        else {
            $("#validateOTP").html('Otp error')
            $("#validateOTP").show();
            return false;
        }
        StopTimer();

        var dataform = $("#form-verify").serialize();
        $("#id-body").empty();
        $("#id-body").load('/Home/CreatePassword/', dataform);
        $("#modal-default").modal("show");
        //$.ajax({
        //    url: '/Home/Register/',
        //    data: dataform,
        //    success: function (respon) {
                
                
        //    }
        //})


    })

    $(document).ready(function () {
        $("#resOTP").click(function () {
            var dataForm = $("#form-verify").serialize();
            StopTimer();
            $.ajax({
                url: '/Home/SendOTP',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "success") {
                        toastr.success('Kode OTP telah dikirim ulang ke email anda')
                        $(".modal-title").remove();
                        $("#id-body").empty();
                        $("#id-body").load('/Home/VerifyOTP', respon.data);
                        $("#modal-default").modal("show");
                    }
                    else {
                        toastr.error("OTP gagal")
                    }
                }
            })
        })
    })

    $(document).ready(function () {
        $("#modal-default").on("hidden.bs.modal", function () {
            $("#id-body").removeData();
        });
    });

</script>
