﻿@model MiniProject262.Models.m_medical_facility_category

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<div class="card card-primary">
    <div class="card-header bg-info">
        <h3 class="card-title" style="color:white">UBAH</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Edit" id="create-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="created_by" />
        <input type="hidden" asp-for="created_on" />
        <div class="card-body">
            <div class="form-group">
                <label asp-for="name" class="control-label">Nama</label>
                <input asp-for="name" class="form-control" id="name" name="name" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card-footer">
            <input type="submit" value="Simpan" class="btn btn-primary float-lg-right" />
            <button data-dismiss="modal" class="btn btn-danger col-2">Batal</button>
        </div>
    </form>
    <!-- jQuery Validation -->
    <script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                name: {
                    required: true,

                }
            },
            messages: {
                name: {
                    required: "nama tidak boleh kosong"
                }
            },
            submitHandler: function (form) {
                var dataform = $(form).serialize();
                form.submit();
            }

        });
    });
</script>
<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>