﻿@model MiniProject262.ViewModels.VMJanji
@using Microsoft.AspNetCore.Http;

@{
	ViewData["Title"] = "Buat Janji";
	Layout = null;
}

<!--<div id="contentWrapper" class="pt-2">
	<div class="container-fluid">
		<input id="roleStats" type="hidden" value="@Context.Session.GetString("role")" />
		<input id="userName" type="hidden" value="@Context.Session.GetString("username")" />
		<input id="userId" type="hidden" value="@Context.Session.GetInt32("iduser")" />
		<form id="formz" asp-action="Create" data-ajax-method="POST">
			<div class="form-group d-flex justify-content-center align-items-center">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top rounded" style="width:100px; height: 100px;" src="~/adminlte/dist/img/kappa.png" alt="Card image cap">
					<div class="card-body">
						<label>@Html.DisplayFor(model => model.doctor_id)</label><br />
						<input id="doctorId" type="hidden" value="@Html.DisplayFor(model => model.doctor_id)" />
						<label>@Html.DisplayFor(model => model.fullname)</label><br />
						<label>@Html.DisplayFor(model => model.specialization)</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="Pasien">Pilih Pasien</label>
				<select id="listKeluarga" asp-for="customer_id" class="form-control"></select>
			</div>

			<div class="form-group">
				<label for="Doctor_Office">Pilih Fasilitas Kesehatan</label>
				<select id="listFaskes" asp-for="doctor_office_id" class="form-control"></select>
			</div>

			<div class="form-group">
				<label for="exampleFormControlSelect1">Waktu Kedatangan</label>
				<input id="appDate" asp-for="appointment_date" type="datetime-local" class="form-control" disabled />
				<span class="text-danger"></span>
			</div>

			<div class="form-group">
				<label for="exampleFormControlSelect1">Pilih Tindakan Medis</label>
				<select id="listTreat" asp-for="doctor_office_treatment_id" class="form-control" disabled></select>
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="doctor_office_schedule_id" class="form-control" value="1" />
			<input type="hidden" asp-for="created_by" class="form-control" value="@Context.Session.GetInt32("iduser")" />
			<input type="hidden" asp-for="created_on" class="form-control" value="@DateTime.Now" />
			<input type="hidden" asp-for="is_delete" class="form-control" value="False" />

			<div class="form-group">
				<button id="btnSubmitt" type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-info">-->
				@*<h4 class="modal-title">Default Modal</h4>*@
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="body-spinner">
				<div class="d-flex justify-content-center">
					<div class="spinner-border" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
		</div>-->
		<!-- /.modal-content -->
	<!--</div>-->
	<!-- /.modal-dialog -->
<!--</div>-->

@*<script type="text/javascript">
	$(document).ready(function () {
		var id = $("#userId").val();
		$.ajax({
			url: '/t_appointment/GetKeluarga',
			datatype: 'json',
			data: { id: id },
			success: function (respon) {
				$("#listKeluarga").empty()
				$('#listKeluarga').append(
					$.each(respon, function (index, respon) {
						$('#listKeluarga').append("<option value='" + respon.id + "'>" + respon.fullname + "</option>");
					})
				)
			}
		})
	})

	$(document).ready(function () {
		var id = $("#doctorId").val();
		debugger;
		$.ajax({
			url: '/t_appointment/GetFaskes',
			datatype: 'json',
			data: { id: id },
			success: function (respon) {
				$("#listFaskes").empty()
				$('#listFaskes').append(
					$.each(respon, function (index, respon) {
						$('#listFaskes').append("<option value='" + respon.id + "'>" + respon.name + "</option>");
					})
				)
			}
		})
	})

	$(document).ready(function () {
		var id = $("#doctorId").val();
		debugger;
		$.ajax({
			url: '/t_appointment/GetTreat',
			datatype: 'json',
			data: { id: id },
			success: function (respon) {
				$("#listTreat").empty()
				$('#listTreat').append(
					$.each(respon, function (index, respon) {
						$('#listTreat').append("<option value='" + respon.id + "'>" + respon.name + "</option>");
					})
				)
			}
		})
	})

	$(document).ready(function () {
		var id = $("#doctorId").val();
		debugger;
		$.ajax({
			url: '/t_appointment/GetSchedule',
			datatype: 'json',
			data: { id: id },
			success: function (respon) {
				$.each(respon, function (index, respon) {
					var day = respon.day;
					var start = respon.time_schedule_start;
					var end = respon.time_schedule_end;

					alert(day);
					alert(start);
					alert(end);
				})
			}
		})
	})

	$("#listFaskes").change(function () {
		$("#appDate").removeAttr("disabled");
		$("#listTreat").removeAttr("disabled");
	})

	$("#btnSubmit").click(function () {
		var dataForm = $("#form-janji").serialize();
		debugger;
		$.ajax({
			url: '/t_appointment/Create',
			method: 'post',
			dataType: 'json',
			data: dataForm,
			success: function (response) {
				if (response.message == "success") {
					setTimeout(function () {
						window.location.href="Home/Index";
					}, 2000);
				}
				else {
					alert(response.message);
				}
			}
		})
	})
</script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
