﻿@model MiniProject262.Models.t_appointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>t_appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="customer_id" class="control-label"></label>
                <input asp-for="customer_id" class="form-control" />
                <span asp-validation-for="customer_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctor_office_id" class="control-label"></label>
                <input asp-for="doctor_office_id" class="form-control" />
                <span asp-validation-for="doctor_office_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctor_office_schedule_id" class="control-label"></label>
                <input asp-for="doctor_office_schedule_id" class="form-control" />
                <span asp-validation-for="doctor_office_schedule_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctor_office_treatment_id" class="control-label"></label>
                <input asp-for="doctor_office_treatment_id" class="form-control" />
                <span asp-validation-for="doctor_office_treatment_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointment_date" class="control-label"></label>
                <input asp-for="appointment_date" class="form-control" />
                <span asp-validation-for="appointment_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_by" class="control-label"></label>
                <input asp-for="created_by" class="form-control" />
                <span asp-validation-for="created_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_on" class="control-label"></label>
                <input asp-for="created_on" class="form-control" />
                <span asp-validation-for="created_on" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_by" class="control-label"></label>
                <input asp-for="modified_by" class="form-control" />
                <span asp-validation-for="modified_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_on" class="control-label"></label>
                <input asp-for="modified_on" class="form-control" />
                <span asp-validation-for="modified_on" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deleted_by" class="control-label"></label>
                <input asp-for="deleted_by" class="form-control" />
                <span asp-validation-for="deleted_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deleted_on" class="control-label"></label>
                <input asp-for="deleted_on" class="form-control" />
                <span asp-validation-for="deleted_on" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_delete" /> @Html.DisplayNameFor(model => model.is_delete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
