﻿@model MiniProject262.ViewModels.VMJanji
@using Microsoft.AspNetCore.Http;

@{
	ViewData["Title"] = "Buat Janji";
	Layout = null;
}

<style>
	.cardTop {
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
	}

	.cardTop img {
		width: 30%;
		border-top-right-radius: 0;
		border-bottom-left-radius: calc(0.25rem - 1px);
	}
</style>

<div id="contentWrapper" class="pt-2">
	<div class="container-fluid">
		<input id="roleStats" type="hidden" value="@Context.Session.GetString("idrole")" />
		<input id="userName" type="hidden" value="@Context.Session.GetString("username")" />
		<input id="userId" type="hidden" value="@Context.Session.GetInt32("iduser")" />
		<form id="form-janji" data-ajax-method="POST">
			<div class="cardTop">
				<img src="~/adminlte/dist/img/kappa.png" style="width:100px; height: 100px;" alt="Card image cap" />
				<div class="card-body">
					<input id="doctorId" type="hidden" value="@Html.DisplayFor(model => model.doctor_id)" />
					<label>@Html.DisplayFor(model => model.fullname)</label><br />
					<label>@Html.DisplayFor(model => model.specialization)</label>
					<p>
						@foreach (var item in ViewBag.pengalaman)
						{
							@if (item.doctor_id == Model.doctor_id)
							{
								@item.tahun
								break;
							}
						}
						tahun pengalaman
					</p>
				</div>
			</div>

			<div class="form-group">
				<label for="Pasien">Pilih Pasien</label>
				<select id="listKeluarga" asp-for="customer_id" class="form-control"></select>
				<span class="font-italic test" style="color:red;display:none" id="validatePasien"></span>
			</div>

			<div class="form-group">
				<label for="Doctor_Office">Pilih Fasilitas Kesehatan</label>
				<select id="listFaskes" asp-for="doctor_office_id" class="form-control"></select>
				<span class="font-italic test" style="color:red;display:none" id="validateFaskes"></span>
			</div>

			<div class="form-group">
				<label for="exampleFormControlSelect1">Waktu Kedatangan</label>
				<input id="appDate" type="datetime" asp-for="appointment_date" class="form-control" disabled />
				<span class="font-italic test" style="color:red;display:none" id="validateTanggal"></span>
			</div>

			<div class="form-group">
				<label for="exampleFormControlSelect1">Pilih Tindakan Medis</label>
				<select id="listTreat" asp-for="doctor_office_treatment_id" class="form-control" disabled></select>
				<span class="font-italic test" style="color:red;display:none" id="validateTreat"></span>
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="doctor_office_schedule_id" class="form-control" value="1" />
			<input type="hidden" asp-for="created_by" class="form-control" value="@Context.Session.GetInt32("iduser")" />
			<input type="hidden" asp-for="created_on" class="form-control" value="@DateTime.Now" />
			<input type="hidden" asp-for="is_delete" class="form-control" value="False" />

			<div class="form-group">
				<button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
				<button id="btn-Submit" type="button" value="Create" class="btn btn-primary float-right" data-toggle="modal">Buat Janji</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	//$(document).ready(function () {
	//	$('#datepicker').datepicker();
	//});

	$(document).ready(function () {
		var id = $("#userId").val();
		$.ajax({
			url: '/t_appointment/GetKeluarga',
			datatype: 'json',
			data: { id: id },
			success: function (respon) {
				$("#listKeluarga").empty()
				$('#listKeluarga').append(
					$.each(respon, function (index, respon) {
						$('#listKeluarga').append("<option value='" + respon.id + "'>" + respon.fullname + "</option>");
					})
				)
			}
		})
	})

	$(document).ready(function () {
		var id = $("#doctorId").val();
		debugger;
		$.ajax({
			url: '/t_appointment/GetFaskes',
			datatype: 'json',
			data: { id: id },
			success: function (respon) {
				$("#listFaskes").empty()
				$('#listFaskes').append(
					$.each(respon, function (index, respon) {
						$('#listFaskes').append("<option value='" + respon.id + "'>" + respon.name + "</option>");
					})
				)
			}
		})
	})

	$(document).ready(function () {
		var id = $("#doctorId").val();
		debugger;
		$.ajax({
			url: '/t_appointment/GetTreat',
			datatype: 'json',
			data: { id: id },
			success: function (respon) {
				$("#listTreat").empty()
				$('#listTreat').append(
					$.each(respon, function (index, respon) {
						$('#listTreat').append("<option value='" + respon.id + "'>" + respon.name + "</option>");
					})
				)
			}
		})
	})

	$(document).ready(function () {
		$("#listFaskes").change(function () {
			var id = $("#doctorId").val();
			$.ajax({
				url: '/t_appointment/GetSchedule',
				datatype: 'json',
				data: { id: id },
				success: function (respon) {
					let hari = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
					let intHari = [0, 1, 2, 3, 4, 5, 6];
					let test = [];

					$.each(respon, function (index, respon) {
						const tgl = hari.indexOf(respon.day);
						const tglFix = intHari.indexOf(tgl);
						intHari.splice(tglFix, 1);

						test.push({ id: index, hari: tgl, start: respon.time_schedule_start, end: respon.time_schedule_end });
					});

					jQuery.datetimepicker.setLocale('id');
					jQuery('#appDate').datetimepicker({
						minDate: 0,
						disabledWeekDays: intHari,
						timepickerScrollbar: true,
						onSelectDate: function (ct, $input) {
							for (let i = 0; i < test.length; i++) {
								if (test[i].hari == ct.getDay()) {
									this.setOptions({
										minTime: test[i].start,
										maxTime: test[i].end
									});
								}
							}
						}
					});
				}
			})
		})
	})

	$("#listFaskes").change(function () {
		$("#appDate").removeAttr("disabled");
		$("#listTreat").removeAttr("disabled");
		$("#btnSubmit").show();
	})

	$("#btn-Submit").click(function () {
		var pageURL = $(location).attr("href");
		var dataForm = $("#form-janji").serialize();
		let hari = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
		var id = $("#doctorId").val();
		var kel = $("#listKeluarga");
		var faskes = $("#listFaskes").val();
		var treat = $("#listTreat");
		var day = new Date($("#appDate").val());
		var hariFix = hari[day.getDay()];
		var dtFix = day.getFullYear() + "-" + (day.getMonth() + 1) + "-" + day.getDate() + " " + day.getHours() + ":0" + day.getMinutes() + ":0" + day.getSeconds() + ".0000000";

		if (kel.val() == 0) {
			alert(kel.val());
			$("#validatePasien").html('* silahkan pilih data pasien')
			$("#validatePasien").show();
			return false;
		}
		else {
			$("#validatePasien").hide();
		}

		if (faskes == 0) {
			$("#validateFaskes").html('* silahkan pilih fasilitas kesehatan')
			$("#validateFaskes").show();
			return false;
		}
		else {
			$("#validateFaskes").hide();
		}

		if (treat.val() == 0) {
			$("#validateTreat").html('* silahkan pilih penanganan medis')
			$("#validateTreat").show();
			return false;
		}
		else {
			$("#validateTreat").hide();
		}

		$.ajax({
			url: '/t_appointment/CheckSlot',
			method: 'get',
			dataType: 'json',
			data: dataForm,
			/*data: { faskes: faskes, hariFix: hariFix, dtFix: dtFix },*/
			success: function (response) {
				if (response.status == "success") {
					toastr.success('Janji berhasil dibuat');

					setTimeout(function () {
						window.location.href = pageURL;
					}, 2000);
				}
				else {
					$("#validateTanggal").html('* jadwal sudah penuh silakan pilih jadwal lain')
					$("#validateTanggal").show();
					$("#modal-default").modal("show");
					//$("#modal-default").modal("show");
				}
			}
		})

		//$.ajax({
		//	url: '/t_appointment/CreateConfirmed',
		//	method: 'post',
		//	dataType: 'json',
		//	data: dataForm,
		//	/*data: { faskes: faskes, hariFix: hariFix, dtFix: dtFix },*/
		//	success: function (response) {
		//		if (response.status == "success") {
		//			window.location.href = '/Home/Index';
		//		}
		//		else {
		//			alert(response.status);
		//		}
		//	}
		//})
	})
</script>