﻿@{
	ViewData["Title"] = "CariDokter";
}
@model PageinatedList<MiniProject262.ViewModels.VMCariDokter>
@using Microsoft.AspNetCore.Http;

<div id="contentWrapper" class="pt-2">
	<div class="container-fluid">
		<input id="roleStats" type="hidden" value="@Context.Session.GetString("role")" />
		<input id="userName" type="hidden" value="@Context.Session.GetString("username")" />
		<input id="userId" type="hidden" value="@Context.Session.GetInt32("iduser")" />
		<div class="card">
			<div class="card-header">
				<div class="text-center col-12">
					<div class="input-group">
						<h5>Hasil Pencarian berdasarkan kata kunci:  </h5>
						@if (ViewBag.Filter1 != null && ViewBag.Filter3 != null)
						{
							<button class="bg-fuchsia mr-2"> Nama Dokter: @ViewBag.Filter1 </button>

						}
						@if (ViewBag.Filter2 != null && ViewBag.Filter3 != null)
						{
							<button class="btn bg-gradient-maroon mr-2"> Lokasi: @ViewBag.Filter2 </button>
						}
						@if (ViewBag.Filter4 != null && ViewBag.Filter3 != null)
						{
							<button class="btn bg-purple mr-2"> Tindakan Medis: @ViewBag.Filter4 </button>
						}

						@if (ViewBag.Filter3 != null)
						{
							<button class="btn bg-gradient-red mr-2"> Spesialisasi: @ViewBag.Filter3</button>
						}
					</div>
					<div class="input-group">
						<button class="btn btn-outline-info float-right ml-auto" id="btn-create">Cari Ulang</button>
					</div>
				</div>
			</div>
			<div class="card card-solid">
				<div class="=card-body pb-0">
					<div class="row d-flex align-items-stretch">
						@foreach (var item in Model)
						{
							<div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch">
								<div class="card bg-light">
									<div class="card-header text-muted border-bottom-0">
										<h5 style="color: #17a2b8"><b>@item.specialization</b></h5>
									</div>
									<div class="card-body pt-0 bg-info">
										<div class="row">
											<div class="col-7">
												<br />
												<h2 class="lead"><b> @item.fullname </b></h2>
												<p class="text-sm"><b> @item.tindakanMedis</b></p>
												<ul class="ml-4 mb-0 fa-ul text-muted">
													<li class="small" style="color: white">
														<span class="fa-li"><i class="fas fa-lg fa-building" style="color: white"></i></span>
														@item.rumahSakit (@item.full_address, @item.namaLokasi)
													</li>
												</ul>
											</div>
											<div class="col-5 text-center">
												<img src="~/adminlte/dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
											</div>
										</div>
									</div>
									<div class="card-footer bg-info">
										<div class="text-right">
											<a href="#" class="btn btn-sm bg-teal mr-1">
												<i class="fas fa-comments"></i> Chat
											</a>
											<a class="btn btn-sm bg-gradient-pink mr-1 btn-janji" data-id="@item.doctor_id">
												<i class="fas fa-user"></i> Buat Janji
											</a>
											<a href="#" class="btn btn-sm btn-outline-light mr-1">
												Lihat Info Lebih Banyak
											</a>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
		@{
			var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
			var nextDisabled = !Model.HasNextPage ? "disabled" : "";
		}
		<div class="float-right">
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.PageIndex - 1)"
			   asp-route-currentFilter="@ViewData["CurrentFilter"]"
			   asp-route-pSize="@ViewData["CurrentpSize"]"
			   class="btn btn-default far fa-caret-square-left  @prevDisabled">
			</a>
			<a>
				<b>@Model.PageIndex</b>
			</a>
			<a asp-action="Index"
			   asp-route-pageNumber="@(Model.PageIndex + 1)"
			   asp-route-currentFilter="@ViewData["CurrentFilter"]"
			   asp-route-pSize="@ViewData["CurrentpSize"]"
			   class="btn btn-default far fa-caret-square-right @nextDisabled">
			</a>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-info">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="id-body">
				<p>One fine body&hellip;</p>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	<script type="text/javascript">
		$(document).ready(function () {
			$("#create-form").validate({
				rules: {
					specialization: {
						required: true
					},
					spesial: {
						required: true
					}
				},
				messages: {
					specialization: {
						required: "Field tidak boleh kosong"
					},
					spesial: {
						required: "Field tidak boleh kosong"
					}
				},
				submitHandler: function (form) {
					var dataform = $(form).serialize();
					form.submit();
				}

			});
		});

	</script>
</div>

<script type="text/javascript">
	$("#btn-create").click(function () {
		$("#id-body").empty();
		$("#id-body").load('/VMCariDokter/Create')
		$("#modal-default").modal("show");
	})

	$(document).ready(function () {
		var role = $("#roleStats").val();
		if (role == "Admin") {
			$("#contentWrapper").addClass("content-wrapper");
		}
		else if (role == "Dokter") {
			$("#contentWrapper").addClass("content-wrapper");
		}
	})

	$("#btn-login").click(function () {
		$(".modal-title").text("Login Med.Id");
		$("#id-body").empty();
		$("#id-body").load('/Home/Login');
		$("#modal-default").modal("show");
	})

	$(".btn-janji").click(function () {
		var role = $("#roleStats").val();
		var id = $(this).data("id");
		if (role == "") {
			$(".modal-title").text("Login Med.Id");
			$("#id-body").empty();
			$("#id-body").load('/Home/Login');
			$("#modal-default").modal("show");
		}
		if (role == "User") {
			$(".modal-title").text("Buat Janji");
			$("#id-body").empty();
			$("#id-body").load('/t_appointment/Index/' + id);
			$("#modal-default").modal("show");
		}
	})
</script>