﻿@model MiniProject262.ViewModels.VMCariDokter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VMCariDokter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parent_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parent_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location_level_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location_level_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_facility_category_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_facility_category_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.full_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.full_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.abbreviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.abbreviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mdeical_facility_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mdeical_facility_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.biodata_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.biodata_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.str)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.str)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mobile_phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobile_phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image_path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specialization_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialization_id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
