﻿@model MiniProject262.ViewModels.VMCariDokter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VMCariDokter</h4>
    <hr />
    <dl class="row">
        <div class="form-group">
            <label> loaksi </label>
            <br>
            <select asp-for="location_id" class="form-control" asp-items="@(new SelectList(ViewBag.ListSpec,"id","name"))"></select>
        </div>
        <div class="form-group">
            <label for="Price">nama</label>
            <br>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search by Nama" />
            <br>
            <span asp-validation-for="fullname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label> spesialisasi </label>
            <br>
            <select id="IdVariant" asp-for="specialization_id" class="form-control" asp-items="@(new SelectList(ViewBag.ListVariant,"id","name"))"></select>
        </div>
        <div class="form-group">
            <label> tindakan medis </label>
            <br>
            <select id="IdVariant" asp-for="treatId" class="form-control" asp-items="@(new SelectList(ViewBag.LisDocTreat,"id","name"))"></select>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
