﻿@model MiniProject262.ViewModels.VMCariDokter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VMCariDokter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="parent_id" class="control-label"></label>
                <input asp-for="parent_id" class="form-control" />
                <span asp-validation-for="parent_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location_level_id" class="control-label"></label>
                <input asp-for="location_level_id" class="form-control" />
                <span asp-validation-for="location_level_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medical_facility_category_id" class="control-label"></label>
                <input asp-for="medical_facility_category_id" class="form-control" />
                <span asp-validation-for="medical_facility_category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location_id" class="control-label"></label>
                <input asp-for="location_id" class="form-control" />
                <span asp-validation-for="location_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="full_address" class="control-label"></label>
                <input asp-for="full_address" class="form-control" />
                <span asp-validation-for="full_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_code" class="control-label"></label>
                <input asp-for="phone_code" class="form-control" />
                <span asp-validation-for="phone_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fax" class="control-label"></label>
                <input asp-for="fax" class="form-control" />
                <span asp-validation-for="fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="abbreviation" class="control-label"></label>
                <input asp-for="abbreviation" class="form-control" />
                <span asp-validation-for="abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctor_id" class="control-label"></label>
                <input asp-for="doctor_id" class="form-control" />
                <span asp-validation-for="doctor_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mdeical_facility_id" class="control-label"></label>
                <input asp-for="mdeical_facility_id" class="form-control" />
                <span asp-validation-for="mdeical_facility_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="specialization" class="control-label"></label>
                <input asp-for="specialization" class="form-control" />
                <span asp-validation-for="specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="biodata_id" class="control-label"></label>
                <input asp-for="biodata_id" class="form-control" />
                <span asp-validation-for="biodata_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="str" class="control-label"></label>
                <input asp-for="str" class="form-control" />
                <span asp-validation-for="str" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullname" class="control-label"></label>
                <input asp-for="fullname" class="form-control" />
                <span asp-validation-for="fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobile_phone" class="control-label"></label>
                <input asp-for="mobile_phone" class="form-control" />
                <span asp-validation-for="mobile_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image_path" class="control-label"></label>
                <input asp-for="image_path" class="form-control" />
                <span asp-validation-for="image_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="specialization_id" class="control-label"></label>
                <input asp-for="specialization_id" class="form-control" />
                <span asp-validation-for="specialization_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
