﻿@model IEnumerable<MiniProject262.ViewModels.VMCariDokter>

@{
    ViewData["Title"] = "Index";
}


<!--<div class="card card-solid">
    <div class="=card-body pb-0">
        <div class="row d-flex align-items-stretch">
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                <div class="card bg-light">
                    <div class="card-header text-muted border-bottom-0">
                        Spesialis Anak
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>Dokter panjang kan ya</b></h2>-->
@*<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>*@
<!--<ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> RS Mitra (jati asih, Bekasi)</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> RS Mitra (jati asih, Bekasi)</li>
                    </ul>
                </div>
                <div class="col-5 text-center">
                    <img src="~/adminlte/dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a href="#" class="btn btn-sm bg-teal">
                    <i class="fas fa-comments"></i> Chat
                </a>
                <a href="#" class="btn btn-sm btn-primary">
                    <i class="fas fa-user"></i> Buat Janji
                </a>
                <a href="#" class="btn btn-sm btn-outline-info">
                    Lihat Info Lebih Banyak
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
    <div class="card bg-light">
        <div class="card-header text-muted border-bottom-0">
            Spesialis Anak
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>Dokter panjang kan ya</b></h2>-->
@*<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>*@
<!--<ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> RS Mitra (jati asih, Bekasi)</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> RS Mitra (jati asih, Bekasi)</li>
                                </ul>
                            </div>
                            <div class="col-5 text-center">
                                <img src="~/adminlte/dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-lightblue">
                        <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                                <i class="fas fa-comments"></i> Chat
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Buat Janji
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-light">
                                Lihat Info Lebih Banyak
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

@*<div>
    <div class="input-group">
        <div>
            <form asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search by Nama" />
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="ml-auto">
            <button class="btn btn-outline-light float-right" id="btn-create">Tambah</button>
        </div>
    </div>
</div>*@


@foreach (var item in Model)
{
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
        <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
                @item.specialization
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>@item.fullname</b></h2>
                        <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <img src="~/adminlte/dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> View Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
}
