﻿@model MiniProject262.Models.m_blood_group

@{
    ViewData["Title"] = "Create";
    Layout = null;

}

<h4>Tambah Golongan Darah</h4>

<div class="container-fluid">
    <div class="card card-primary mx-auto">
        <!-- form start -->
        <form asp-action="Create" id="create-form" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label>Kode*</label>
                    <input type="text" class="form-control" asp-for="code" placeholder="Kode Golongan Darah">
                    <span asp-validation-for="code" id="validatecode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Deskripsi</label>
                    <input type="text" class="form-control" asp-for="description" placeholder="Deskripsi">
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="float-right">
                    <button class="btn btn-warning" data-dismiss="modal">Batal</button>
                    <button type="button" id="simpan" class="btn btn-primary">Simpan</button>
                </div>

            </div>
        </form>
    </div>
</div>

@*<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>*@

<script>
    $(document).ready(function () {
        $("#simpan").click(function () {
            debugger
            var code = $("#code").val();
            var dataForm = $("#create-form").serialize();
            if (code == "") {
                $("#validatecode").html("*Golongan darah tidak boleh kosong!")
                $("#validatecode").show()
                return false
            }
            $.ajax({
                url: '/m_blood_group/Create',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "error") {
                        $("#validatecode").html(respon.message)
                        $("#validatecode").show()
                    } else {

                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                }
            })
        })
    })


    //jQuery.validator.addMethod("lettersonly", function (value, element) {
    //    return this.optional(element) || /^[a-z]+$/i.test(value);
    //}, "*Jangan masukan angka!");

    //$(document).ready(function () {
    //    $("#create-form").validate({
    //        rules: {
    //            code: {
    //                required: true,
    //                lettersonly: true
    //            },
    //        },
    //        messages: {
    //            code: {
    //                required: "*Golongan darah tidak boleh kosong!"
    //            }

    //        }
    //    })
    //})

</script>

@*<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 100;
        color: red;
    }
</style>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
