﻿@model MiniProject262.Models.m_blood_group

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<div class="border-bottom">
    <h2>Hapus!</h2>
</div>

<h3>Apakah anda ingin menghapus golongan darah @Model.code?</h3>
<div>
    <form asp-action="Delete">
        <div class="float-right">
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="code" />
            <input type="hidden" asp-for="description" />
            <input type="hidden" asp-for="created_by" />
            <input type="hidden" asp-for="created_on" />
            <input type="hidden" asp-for="modified_by" />
            <input type="hidden" asp-for="modified_on" />
            <a class="btn btn-warning" asp-action="Index">Tidak</a>
            <input type="submit" value="Ya" class="btn btn-danger" /> 
        </div>
    </form>
</div>
