﻿@model MiniProject262.Models.m_blood_group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>m_blood_group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modified_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modified_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modified_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted_on)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted_on)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_delete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_delete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
