﻿@model MiniProject262.Models.m_blood_group

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}


<h4>Ubah Golongan Darah</h4>
<div class="container-fluid">
    <div class="card card-primary mx-auto">
        <!-- form start -->
        <form asp-action="Edit" id="edit-form" data-ajax-method="POST">
            <div class="card-body">
                <input type="hidden" asp-for="id" />
                <input type="hidden" asp-for="created_by" />
                <input type="hidden" asp-for="created_on" />

                <div class="form-group">
                    <label>Kode*</label>
                    <input type="text" class="form-control" asp-for="code" placeholder="Kode Golongan Darah">
                    <span asp-validation-for="code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Deskripsi</label>
                    <input type="text" class="form-control" asp-for="description" placeholder="Deskripsi">
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="float-right">
                    <button class="btn btn-warning" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>

            </div>
        </form>
    </div>
</div>


<script>

    jQuery.validator.addMethod("lettersonly", function (value, element) {
        return this.optional(element) || /^[a-z]+$/i.test(value);
    }, "*Jangan masukan angka!");

    $(document).ready(function () {
        $("#edit-form").validate({
            rules: {
                code: {
                    required: true,
                    lettersonly: true
                }

            },
            messages: {
                code: {
                    required: "*Golongan darah tidak boleh kosong!"
                }

            }
        })
    })

</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 100;
        color: red;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
