﻿@using Microsoft.AspNetCore.Http;

@model IEnumerable<MiniProject262.ViewModels.VMBlood>

@{
    ViewData["Title"] = "Index";
}

<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-info">
                        <div> <h3 style="color:white">Golongan Darah</h3></div>
                        <button type="button" class="btn btn-light col-md-1 float-right" id="btn-create">
                            Tambah
                        </button>
                        <form asp-action="Index" method="get">
                            <div class="input-group input-group-sm float-left" style="width: 150px;">
                                <input id="myInput" type="search" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search..." />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead style="Background: #5ACCDE; color: white ">
                                <tr>
                                    <th>
                                        nama pembuat
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.code)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.description)
                                    </th>
                                    <th class="col-2">
                                        Action
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.fullname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.description)
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-edit" style="color:white" data-id="@item.id">Ubah</a> |
                                            <a class="btn btn-danger btn-delete" style="color:white" data-id="@item.id">Hapus</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>



        </div>
    </div>
</div>
<!-- /.row -->


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--JQUERY OPEN MODAL-->
<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/m_blood_group/Create');
        $("#modal-default").modal("show");
    })
    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_blood_group/Edit?id=' + id);
        $("#modal-default").modal("show");

    })

    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_blood_group/Delete?id=' + id);
        $("#modal-default").modal("show");

    })

</script>
<script type="text/javascript">
	$(document).ready(function () {
		var role = @ViewBag.dummy;
		if (role == 200) {
			$("#contentWrapper").addClass("content-wrapper");
		}
		else {
			$("#contentWrapper").addClass("container-fluid");
		}
	})
</script>