﻿@model MiniProject262.Models.m_location_level

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div>
    <div>
        <h3>Tambah Level Lokasi</h3>
    </div>
    <div class="container-fluid">
        <form id="create-form" asp-action="Create" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label for="recipient-name">Nama*</label>
                    <input id="name" type="text" asp-for="name" class="form-control" size="1" style="border:1px solid #17a2b8">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nama Singkat</label>
                    <input name="abbreviation" type="text" asp-for="abbreviation" class="form-control" style="border:1px solid #17a2b8">
                </div>
                <div style="float:right">
                    <button type="submit" style="margin-right:20px" class="btn btn-primary" asp-action="Index">Batal</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                name: {
                    required: true
                }

            },
            messages: {
                name: {
                    required: "*Nama level lokasi harus diisi"
                }

            }
        })
    })
</script>
