﻿@model PageinatedList<MiniProject262.Models.m_location_level>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color:#e0eff3">
                    <div class="container-fluid">
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-left" style="background-color:#e0eff3">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Level Location
                                    </li>
                                </ol>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                    </div>
                    <a class="btn btn-primary bg-transparent border-0" style="float: right; color: #17a2b8" id="btn-create">
                        <i class="fas fa-plus" style="width:11px;height:12px"></i> Create
                    </a>
                    <form asp-action="Index" method="get">
                        <div class="form-actions no-color">
                            <p>
                                <input type="text" placeholder="Search By Nama" id="myInput" name="SearchString" value="@ViewData["CurrentFilter"]" />
                            </p>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="fas fa-sort"></a>
                                </th>
                                <th>
                                    Nama Singkat
                                    <a asp-action="Index" class="fas fa-sort"></a>
                                </th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.abbreviation)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-edit text-white" data-id="@item.id">Update</a>
                                        <a class="btn btn-primary btn-delete text-white" data-id="@item.id">Hapus</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pSize="@ViewData["CurrentpSize"]"
                       class="btn btn-default @prevDisabled">
                        <i class="fas fa-arrow-left"></i>

                    </a>
                    <a>
                        @Model.PageIndex
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pSize="@ViewData["CurrentpSize"]"
                       class="btn btn-default @nextDisabled">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" style="margin-right:20px;margin-top:20px" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
		var role = @ViewBag.dummy;
		if (role == 200) {
			$("#contentWrapper").addClass("content-wrapper");
		}
		else {
			$("#contentWrapper").addClass("container-fluid");
		}
	})

    $("#btn-create").click(function () {


        $("#id-body").empty();
        $("#id-body").load('/m_location_level/Create');
        $("#modal-default").modal("show");



        //$.ajax({
        //    url: '/Categories/Create',
        //    success: function (respon) {
        //         $("#id-body").empty();
        //         $("#id-body").append(respon);
        //         $("#modal-default").modal("show");
        //    }

        //})
    })

    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_location_level/Edit/' + id);
        $("#modal-default").modal("show");
    })

    $(".btn-details").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_location_level/Details?id=' + id);
        $("#modal-default").modal("show");
    })

    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_location_level/Delete/' + id);
        $("#modal-default").modal("show");
    })

    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#pSize").val(selected);
        $("#form-search").submit();
    })

    $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.abbreviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.created_by)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.created_on)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modified_by)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modified_on)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.deleted_by)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.deleted_on)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.is_delete)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.abbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_on)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modified_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modified_on)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_on)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_delete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
