﻿@using Microsoft.AspNetCore.Http;

<input id="roleStat" type="hidden" value="@Context.Session.GetInt32("idrole")" />
<nav id="navbar-top" class="navbar navbar-expand navbar-white navbar-light">
	<!-- Left navbar links -->
	<ul id="pushNav" class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		</li>
	</ul>

	<a id="logoNav" asp-controller="Home" asp-action="Index" class="brand-link">
		<img src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light text-light">Med.Id</span>
	</a>

	<div class="navbar-nav my-2 my-lg-0 ml-auto">
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Cari Dokter atau Faskes" aria-label="Search" style="width: 600px">
			<div class="input-group-append">
				<button class="btn btn-light btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
			</div>
		</form>
	</div>

	<!-- Right navbar links -->
	<ul class="navbar-nav ml-auto">
		<!-- Navbar Search -->
		<li class="nav-item">
			<ul id="notLogged" class="navbar-nav">
				<li class="nav-item active mr-2">
					<button type="button" id="btn-register" class="btn btn-light btn-outline-primary" data-toggle="modal">Daftar<span class="sr-only">(current)</span></button>
				</li>
				<li class="nav-item">
					<button type="button" id="btn-login" class="btn btn-info btn-outline-light" data-toggle="modal">Masuk</button>
				</li>
			</ul>
			<ul id="loggedIn" class="navbar-nav">
				<li class="nav-item">
					<a class="btn btn-info btn-outline-danger" asp-action="Logout" asp-controller="Home">Keluar</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content" style="border:2px solid #17a2b8; border-radius:10px">
			<div class="modal-body" id="id-body">
				<p>One fine body&hellip;</p>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<div class="modal fade" id="modal-loading">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" style="width: 48px">
			<span class="fa fa-spinner fa-spin fa-3x"></span>
		</div>
	</div>
	<!-- /.modal-dialog -->
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<script type="text/javascript">
	$(document).ready(function () {
		var role = $("#roleStat").val();
		if (role != 0) {
			$("#navbar-top").addClass("main-header");
			$("#navbar-top").removeClass("navbar-white");
			$("#navbar-top").addClass("bg-gradient-info");
			$('#logoNav').remove();
			$('#notLogged').remove();
		}
		else {
			$("#navbar-top").removeClass("main-header");
			$("#navbar-top").removeClass("navbar-white");
			$("#navbar-top").addClass("bg-gradient-info");
			$("#pushNav").remove();
			$('#loggedIn').remove();
		}
	})

	$("#btn-register").click(function () {
		$(".modal-title").text("Register Med.Id");
		$("#id-body").empty();
		$("#id-body").load('/Home/EmailCheck');
		$("#modal-default").modal("show");
	})

	$("#btn-login").click(function () {
		$(".modal-title").text("Login Med.Id");
		$("#id-body").empty();
		$("#id-body").load('/Home/Login');
		$("#modal-default").modal("show");
	})
</script>

@*<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
			<a class="navbar-brand" href="#">
				<img src="~/adminlte/dist/img/kappa.png" width="35px" height="35px" />
				</a>
				<form class="form-inline my-2 my-lg-0 ml-auto">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 750px">
					<div class="input-group-append">
						<button class="btn btn-light btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
					</div>
				</form>

				<div class="ml-auto">
					<ul class="navbar-nav">
						<li class="nav-item active mr-2">
							<a class="btn btn-light btn-outline-primary" href="#">Daftar<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="btn btn-info btn-outline-light" href="#">Masuk</a>
						</li>
					</ul>
				</div>
		</nav>*<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
		<a class="navbar-brand" href="#">
			<img src="~/adminlte/dist/img/kappa.png" width="35px" height="35px" />
		</a>
		<form class="form-inline my-2 my-lg-0 ml-auto">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 750px">
			<div class="input-group-append">
				<button class="btn btn-light btn-outline-success my-2 my-sm-0" type="submit"></button>
			</div>
		</form>

		<div class="ml-auto">
			<ul class="navbar-nav">
				<li class="nav-item active mr-2">
					<a class="btn btn-light btn-outline-primary" href="#"><span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="btn btn-info btn-outline-light" href="#"></a>
				</li>
			</ul>
		</div>
	</nav>*@
