﻿@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MiniProject262</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />

	<script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
	<script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Tempusdominus Bootstrap 4 -->
	<link rel="stylesheet" href="~/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- JQVMap -->
	<link rel="stylesheet" href="~/adminlte/plugins/jqvmap/jqvmap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="~/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="~/adminlte/plugins/daterangepicker/daterangepicker.css">
	<!-- summernote -->
	<link rel="stylesheet" href="~/adminlte/plugins/summernote/summernote-bs4.min.css">
	<!-- Toastr -->
	<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.css">
	<!-- Toastr -->
	<link rel="stylesheet" href="~/adminlte/plugins/toastr/toastr.min.css">
	<link rel="stylesheet" href="~/adminlte/plugins/datetimepicker-master/jquery.datetimepicker.css" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<input id="roleStat" type="hidden" value="@Context.Session.GetInt32("idrole")" />
		<partial name="_Header" />
		@if (@Context.Session.GetInt32("idrole") != null)
		{
			<partial name="_Sidebar" />
		}

		<div id="contentWrapper" class="pt-2">
			@RenderBody()
		</div>

		<footer id="footerWrapper" class="container-fluid">
			<div class="float-right d-none d-sm-block">
				<b>Version</b> 1.0
			</div>
			<strong>Copyright © 2021 <a asp-controller="Home" asp-action="Index">Med.Id MiniProject 262</a>.</strong>
		</footer>

		@*<input id="datetimepicker" type="text">*@
	</div>

	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="~/adminlte/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="~/adminlte/plugins/sparklines/sparkline.js"></script>
	<!-- JQVMap -->
	<script src="~/adminlte/plugins/jqvmap/jquery.vmap.min.js"></script>
	<script src="~/adminlte/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="~/adminlte/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="~/adminlte/plugins/moment/moment.min.js"></script>
	<script src="~/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="~/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	<script src="~/adminlte/plugins/summernote/summernote-bs4.min.js"></script>
	<!-- overlayScrollbars -->
	<script src="~/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/adminlte/dist/js/adminlte.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/adminlte/dist/js/demo.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="~/adminlte/dist/js/pages/dashboard.js"></script>
	<!-- Toastr -->
	<script src="~/adminlte/plugins/toastr/toastr.min.js"></script>
	<script src="~/adminlte/plugins/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>

	@RenderSection("Scripts", required: false)
</body>

</html>

<script type="text/javascript">
	var role = $("#roleStat").val();
	$("#footerWrapper").hide(); 
	if (role != 0) { //kalo error null diganti 0 ada something wrong
		$("#contentWrapper").addClass("content-wrapper");
		$("#footerWrapper").show();
		$("#footerWrapper").addClass("main-footer");
	}

	//jQuery('#datetimepicker').datetimepicker({
	//	disabledDates: ['01.01.2014', '02.01.2014', '03.01.2014', '04.01.2014', '05.01.2014', '06.01.2014'], formatDate: 'd.m.Y'
	//});
</script>