﻿@using Microsoft.AspNetCore.Http;
@inject MiniProject262.Utils.MenuMaster menus

@{ var namecustomer = Context.Session.GetString("customername");
    var idrole = Context.Session.GetInt32("idrole");
    var iduser = Context.Session.GetInt32("iduser");
    var getmenus = menus.GetMenuMaster(idrole); }


<aside id="asideBar" class="main-sidebar sidebar-dark-white bg-gradient-info elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Med.Id</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/kappa.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Context.Session.GetString("username")</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @foreach (var parent in getmenus.Where(a => a.m_menu_parent_id == 0))
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <p>
                                @parent.m_menu_name
                                <i class="right fas fa-angle-left"></i> 
                            </p>
                        </a>
                        @foreach (var child in getmenus.Where(a => a.m_menu_parent_id == parent.m_menu_id))
                        {
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" onclick='urlMenu("@child.url")'>
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>@child.m_menu_name</p>
                                    </a>
                                </li>
                            </ul>
                            }
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script type="text/javascript">
	function urlMenu(pageURL) {
		$("#id-body").empty();
		$("#id-body").load(pageURL);
		$("#modal-default").modal("show");
	}
</script>