﻿@model MiniProject262.ViewModels.VMLocation
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="modal-body" id="modal-default">
    <h3 class="text-info">Tambah Lokasi</h3>

    <form asp-action="Create" id="create-form" data-ajax-method="POST">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Level Lokasi*</label>
            <select class="form-control" style="border:1px solid #17a2b8" id="location_level_id" asp-for="location_level_id" asp-items="@(new SelectList(ViewBag.ld,"id","name"))"></select>
            <span class="font-italic" style="color:red;display:none" id="divMessageL"></span>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Wilayah</label>
            <select class="form-control" style="border:1px solid #17a2b8" id="IdWilayah" asp-for="id"></select>
            <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nama*</label>
            <input type="text" asp-for="nameLocation" class="form-control" id="name" style="border:1px solid #17a2b8">
            <span class="font-italic" asp-validation-for="nameLocation" style="color:red;display:none" id="divMessageN"></span>
        </div>
        <div class="d-flex justify-content-between">
            @*<button class="btn btn-warning" data-dismiss="modal">Batal</button>*@
            <button class="btn btn-lg btn-info btn-danger" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-lg btn-info btn-submit btn-submit" id="btn-sub">Simpan</button>
        </div>
    </form>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<script>
    $("#location_level_id").change(function () {

        var IdLevel = $(this).val();
        $.ajax({
            url: '/m_location/GetDataVariantAjax',
            dataType: 'json',
            data: { idLoc: IdLevel },
            success: function (respon) {
                var parentMap = {}
                $("#IdWilayah").empty()
                var y = "";
                var z = "";

                $.each(respon, function (index, resp) {
                    console.log(resp);

                    if (resp.parent_id == 2) {
                        parentMap[resp.id] = resp.wilayah
                        /*y = resp.wilayah*/


                    }

                    if (resp.parent_id == 0) {
                        /*parentMap[resp.parent_id] = resp.wilayah*/
                        z = resp.wilayah

                    }

                })

                $.each(respon, function (index, resp) {
                    var x = resp.location_level_id
                    if (resp.parent_id == 0 && IdLevel == 2) {
                        $('#IdWilayah').append("<option value='" + resp.id + "'>" + resp.wilayah + " </option>")
                    }

                    if (IdLevel == 3 && x == 2) {
                        $('#IdWilayah').append("<option value='" + resp.id + "'>" + resp.wilayah + ', ' + z + "</option>")
                    }

                    if (IdLevel == 4 && x == 3) {
                        $('#IdWilayah').append("<option value='" + resp.id + "'>" + resp.wilayah + ', ' + parentMap[resp.parent_id] + "</option>")
                    }
                })
            }
        })
    })

    $(document).ready(function () {
        $("#btn-sub").click(function () {
            var dataForm = $("#create-form").serialize();
            var searchVal = $("#location_level_id").val();
            var aa = $("#name").val();
                if (aa == "" && searchVal == 0) {
                    $("#divMessageN").html('*Nama tidak boleh kosong')
                    $("#divMessageN").show();
                    $("#divMessageL").html('*Pilihan Level Lokasi Harus Diisi')
                    $("#divMessageL").show();
                    return false;
                }
                else if (searchVal == 0 && aa != "") {
                    $("#divMessageL").html('*Pilihan Level Lokasi Harus Diisi')
                    $("#divMessageL").show();
                    return false;
                } else if (aa == "" && searchVal != 0) {
                    $("#divMessageN").html('*Nama tidak boleh kosong')
                    $("#divMessageN").show();
                    return false;
                }
            $.ajax({
                url: '/m_location/Create',
                dataType: 'json',
                data: dataForm,
                method: 'post',
                success: function (respon) {
                    console.log(respon)
                    if (respon.status == "error") {
                        $("#divMessageN").html(respon.message)
                        $("#divMessageN").show()
                    } else {
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                }
            })
        })
    })

    $(document).ready(function () {
        $("#name").on("keyup", function () {
            $("#divMessageN").hide();
        });
    });

    $(document).ready(function () {
        $("#location_level_id").change(function () {
            $("#divMessageL").hide();
        });
    });
</script>


@*<script>
        $(document).ready(function () {
            $("#btn-sub").click(function () {
                //$(".error").hide();
                //var hasError = false;
                var dataForm = $("#create-form").serialize();
                //var searchVal = $("#location_level_id").val();
                //var aa = $("#name").val();
                //if (aa == "" && searchVal == 0) {
                //    $("#divMessageN").html('*Nama tidak boleh kosong')
                //    $("#divMessageN").show();
                //    $("#divMessageL").html('*Pilihan Level Lokasi Harus Diisi')
                //    $("#divMessageL").show();
                //    //$("#name").after('<span class="error" style="color:red"><i>Nama Harus Diisi</i></span>');
                //    //$("#location_level_id").after('<span class="error" style="color:red"><i><b>*Pilihan Level Lokasi Harus Diisi</b></i></span>');
                //    return false;
                //}
                //else if (searchVal == 0 && aa != "") {
                //    $("#divMessageL").html('*Pilihan Level Lokasi Harus Diisi')
                //    $("#divMessageL").show();
                //    /*$("#location_level_id").after('<span class="error" style="color:red"><i><b>*Pilihan Level Lokasi Harus Diisi</b></i></span>');*/
                //    return false;
                //} else if (aa == "" && searchVal != 0) {
                //    $("#divMessageN").html('*Nama tidak boleh kosong')
                //    $("#divMessageN").show();
                //   /* $("#name").after('<span class="error" style="color:red"><i>Nama Harus Diisi</i></span>');*/
                //    return false;
                //}

                $.ajax({
                    url: '/m_location/Create',
                    dataType: 'json',
                    data: dataForm,
                    method: 'post',
                    success: function (respon) {
                        if (respon.status == "error") {
                            $("#divMessageN").html(respon.message)
                            $("#divMessageN").show()
                        } else {

                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    }
                })
                //if (hasError == true) { return false; }
            })
        })
        $(document).ready(function () {
            $("#name").on("keyup", function () {
                $("#divMessageN").hide();
            });
        });

        $(document).ready(function () {
            $("#location_level_id").change(function () {
                $("#divMessageL").hide();
            });
        });
    </script>*@

@*<script>
    
</script>*@
@*<script>
        $(document).ready(function () {
            $("#btn-sub").click(function () {
                var dataForm = $("#create-form").serialize();
                $.ajax({
                    url: '/m_location/Create',
                    dataType: 'json',
                    data: dataForm,
                    method: 'post',
                    success: function (respon) {
                        if (respon.status == "error") {
                            $("#divMessage").html(respon.message)
                            $("#divMessage").show()
                        } else {

                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    }
                })
            })
        })
    </script>*@
@*<script>
        $(document).ready(function () {
            $("#create-form").validate({
                rules: {
                    name: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "*Nama Harus Diiisi"
                    }
                },
                submitHandler: function (form) {
                    var dataform = $(form).serialize();
                    form.submit(dataform);
                }

            });
        });
    </script>
    <style>
        label.error {
            color: red;
            font-size: 1rem;
            display: block;
            margin-top: 5px;
            font-style: italic;
        }

        input.error, textarea.error {
            border: 1px dashed red;
            font-weight: 100;
            color: red;
            font-style: italic;
        }
    </style>*@