﻿@model MiniProject262.ViewModels.VMLocation

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<div>
    <div>
        <h3 style="color:#2D9CDB">Hapus Lokasi</h3>
        <form method="post" id="delete-form" data-ajax-method="POST">
            <p style="text-align:center;">Anda yakin akan menghapus lokasi</p>
            <p style="text-align:center;">'@Model.nameLocation' ? </p>
            <span id="validatecode" class="text-danger"></span>
            <div class="card-body">
                <input type="hidden" asp-for="id" />
                <input type="hidden" asp-for="nameLocation" />
                <input type="hidden" asp-for="parent_id" />
                <input type="hidden" asp-for="location_level_id" />
                <input type="hidden" asp-for="created_by" />
                <input type="hidden" asp-for="created_on" />
                <input type="hidden" asp-for="modified_by" />
                <input type="hidden" asp-for="modified_on" />
                <div class="row mb-2">
                    <div class="d-flex justify-content-center col-md-6">
                        <button type="button" style="background-color:transparent;width:100px" class="btn btn-primary text-primary btn-dlt">Hapus</button>
                    </div>
                    <div class="d-flex justify-content-center col-md-6">
                        <button type="submit" style="width:100px" class="btn btn-primary text-white" asp-action="Index">Batal</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btn-dlt").click(function () {
            alert("test")
            debugger;
            var dataform = $("#delete-form").serialize();
            $.ajax({
                url: '/m_location/Delete',
                dataType: 'json',
                data: dataform,
                method: 'post',
                success: function (respon) {
                    if (respon.status == "error") {
                        $("#id-body").empty();
                        $("#id-body").load('/m_Location/FalseDelete/', dataform);
                        $("#modal-default").modal("show");
                    } else {

                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);


                    }
                }

            })
        })
    })
</script>


@*//}).done(function (msg) {
    //    if (msg == 0) {
    //        $("#id-body").empty();
    //        $("#id-body").load('/m_Location/FalseDelete/', dataform);
    //        $("#modal-default").modal("show");
    //    } else {
    //        window.location.href = "/m_location/Delete", dataform;
    /*$.ajax({*/
    //method: 'post',
    //url: '/m_location/Delete/',
    //data: dataform,
    /*})*/*@