﻿@model MiniProject262.Models.m_location

@{
    ViewData["Title"] = "FalseDelete";
    Layout = null;
}

<div>
    <div>
        <h3>Hapus Lokasi</h3>
        <form asp-action="CheckLocation" id="create-form">
            <p style="text-align:center;">Tidak dapat menghapus Lokasi </p>
            <p style="text-align:center;"> '@Model.name' </p>
            <p style="text-align:center;">Lokasi tersebut masih digunakan</p>
            <div class="card-body">
                <div style="float:right">
                    <button type="submit" style="margin-right:20px" class="btn btn-primary" asp-action="Index">Kembali</button>
                </div>
            </div>
        </form>
    </div>
</div>
