﻿@model PageinatedList<MiniProject262.ViewModels.VMLocation>

@{
    ViewData["Title"] = "Index";
}

<div id="contentWrapper">
    <section class="content-header" style="background-color:#d4f5fa">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item">
                            <a asp-action="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>Location</a>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        @*<button type="button" class="btn btn-primary" style="float: right; border: none; background-color: transparent; color:#17a2b8" id="btn-create">
                <i class="fas fa-plus">  Tambah</i>
            </button>*@
        <button type="button" class="btn btn-light col-md-1 float-right" style="border:thin;background-color: transparent; width:100px; margin-top: 10px; margin-bottom: 5px;margin-left:10px" id="btn-create">
            <i class="fas fa-plus" style="color: #17a2b8"> </i> Tambah
        </button>
        <form asp-action="Index" id="form-search" method="get">
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group float-left" style="border: #17a2b8; width: 200px;margin-top:10px;margin-bottom:5px">
                        <input type="text" class="form-control" placeholder="cari berdasarkan Nama" id="myInput" name="SearchString" value="@ViewData["CurrentFilter"]">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="margin-top:10px">
                        <select class="form-control" id="location_level_id" name="SearchString1" style="border:1px solid #17a2b8" value="@ViewBag.loclev" asp-items="@(new SelectList(ViewBag.ListLocLevel,"id","name"))"></select>
                        @*@Html.DropDownList("sortOrder", new SelectList(ViewBag.sort, "Value", "Text"), new { @class = "form-control", @id = "SortOrder" })*@
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>
            @*<div class="form-group">

                    <span class="font-italic" style="color:red;display:none" id="divMessage"></span>
                </div>*@
            @*@Html.DropDownList("pSize", new SelectList(ViewBag.ListLocLevel, "Value", "Text"), new { @class = "form-control col-sm-1", @id = "pSize" })*@
            @*<div class="input-group input-group-sm float-left" style="border: #17a2b8; width: 200px;margin-top:50px;margin-bottom:10px">
                    <select class="form-control" style="border:1px solid #17a2b8" id="location_level_id" asp-items="@(new SelectList(ViewBag.ListLocLevel,"id","name"))"></select>
                </div>*@
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" style="color:#17a2b8">
                        Name
                    </th>
                    <th class="text-center" style="color:#17a2b8">
                        Level Lokasi
                    </th>
                    <th class="text-center" style="color:#17a2b8">
                        Wilayah
                    </th>
                    <th class="text-center" style="color:#17a2b8;">
                        #
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">

                @foreach (var item in Model.Where(b => b.parent_id != 0))
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.nameLocation)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.nameLocationLevel)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.wilayah)
                        </td>
                        <td>
                            <div class="row">
                                <div class="col col-sm-6">
                                    <button type="button" class="btn btn-primary align-content-center btn-edit text-center" style="background-color:transparent;border:none;float:right" data-id="@item.id">
                                        <i class="fas fa-pen center" style="color:#17a2b8"></i>
                                    </button>
                                </div>
                                <div class="col col-sm-6">
                                    <button type="button" class="btn btn-danger align-content-center btn-delete text-center" style="background-color:transparent;border:none;float:left;" data-id="@item.id">
                                        <i class="fas fa-trash" style="color:#17a2b8"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-currentFilter1="@ViewData["CurrentFilter1"]"
           asp-route-pSize="@ViewData["CurrentpSize"]"
           class="btn btn-default @prevDisabled">
            <i class="fas fa-arrow-left"></i>

        </a>
        <a>
            @Model.PageIndex
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-currentFilter1="@ViewData["CurrentFilter1"]"
           asp-route-pSize="@ViewData["CurrentpSize"]"
           class="btn btn-default @nextDisabled">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" style="margin-right:20px;margin-top:20px" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        alert("alert")
		var role = @ViewBag.dummy;
		if (role == 200) {
			$("#contentWrapper").addClass("content-wrapper");
		}
		else {
			$("#contentWrapper").addClass("container-fluid");
		}
    })
</script>
<script>
    $("#btn-create").click(function () {
        alert("alert")
        $("#id-body").empty();
        $("#id-body").load('/m_location/Create');
        $("#modal-default").modal("show");



        //$.ajax({
        //    url: '/Categories/Create',
        //    success: function (respon) {
        //         $("#id-body").empty();
        //         $("#id-body").append(respon);
        //         $("#modal-default").modal("show");
        //    }

        //})
    })

    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_location/Edit?id=' + id);
        $("#modal-default").modal("show");
    })

    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/m_location/Delete?id=' + id);
        $("#modal-default").modal("show");
    })

    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#pSize").val(selected);
        $("#form-search").submit();
    })

    $("#Spesial").change(function () {
        var selected = $(this).children("option:selected").val()
        $("#Spesial").val(selected);
        $("#form-search").submit();
    })

    //$("#myInput").on("keyup", function () {
    //    var value = $(this).val().toLowerCase();
    //    $("#myTable tr").filter(function () {
    //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //    });
    //});
</script>

@*$(".btn-delete").click(function () {
    var id = $(this).data("id");
    $.ajax({
        method: 'post',
        url: '/m_location/Delete/',
        data: { cekId: id },

    }).done(function (msg) {
        if (msg == 1) {
            $("#id-body").empty();
            $("#id-body").load('/m_location/Delete?id=' + id);
            $("#modal-default").modal("show");
        }
        else {
            $("#id-body").empty();
            $("#id-body").load('/m_location/Edit?id=' + id);
            $("#modal-default").modal("show");

        }*@
