﻿@*@model IEnumerable<MiniProject262.Models.m_menu>*@

@model IEnumerable<MiniProject262.ViewModels.VMMenuRole>

@{ Layout = null;
    var data = Html.Raw(Json.Serialize(ViewBag.dataMenu));
    var menu = Html.Raw(Json.Serialize(Model)); ;
}


<div class="container-fluid">
    <div class="bg-info card-header">
        <h2 style="color:white">Masuk</h2>
    </div>

    <form asp-action="AturAkses" name="vmmenurole" id="vmmenurole" data-ajax-method="POST">
        <div class="card-body">

            <div class="errorTxt"></div>
            <ul>


                @foreach (var parent in Model.Where(a => a.m_menu_parent_id == 0))
                {
                    <li>

                        <input type="checkbox" class="chk-parent" value="@parent.m_menu_id" name="terpilih" id="ckparent_@parent.m_menu_id" />
                        <label>@parent.m_menu_name</label>
                        @foreach (var item in Model.Where(a => a.m_menu_parent_id == parent.m_menu_id))
                        {
                            <ul>
                                <li>
                                    <input type="checkbox" value="@item.m_menu_id" class="chk" name="terpilih" id="ckchild_@item.m_menu_id" />
                                    <label>@item.m_menu_name</label>
                                </li>
                            </ul>
                        }

                    </li>
                }

            </ul>
        </div>
        <div class="card-footer">
            @*<input type="hidden" value="@ViewBag.idrole" id="idrole" />*@
            <button class="btn btn-warning" data-dismiss="modal">Batal</button>
            <button type="submit" id="btn-save" class="btn btn-primary float-right" data-id="@ViewBag.idrole">Simpan</button>
        </div>

    </form>

</div>


<script>
    $(document).ready(function () {

          $.each(@data, function (index, item) {
              var idmenu = item.m_menu_id
            $("#ckparent_" + idmenu + "").attr('checked', true)
            $("#ckchild_" + idmenu + "").attr('checked', true)
          });
    });


    $(document).ready(function () {
        $("#vmmenurole").validate({
            rules: {
                terpilih: {
                    required: true
                }

            },
            messages: {
                terpilih: {
                    required: "Pilih minimal 1 menu !"
                }
            },
            errorElement: 'div',
            errorLabelContainer: '.errorTxt'
        })
    })




    /*var arr = [];*/

    //$("#btn-save").click(function () {
    //    debugger
    //    var a = $('.chk').val();
    //    if (this.checked) {
    //        var value = $(this).val();
    //        var parent = $(".chk-parent").val();

    //        var idx = arr.indexof(parent)

    //        if (idx == -1) {
    //            arr.push(parent)
    //        }
    //        console.log(arr)

    //    } else {
    //        arr = [];
    //    }

    //})


    //$("#btn-save").click(function () {
    //    debugger
    //    var idrole = $("#idrole").val()
    //    var dataForm = arr.join(",");
    //    $.ajax({
    //        url: '/HakAkses/AturAkses',
    //        datatype: 'json',
    //        method: 'post',
    //        data: { data: dataForm, idrole: idrole },
    //        success: function (respon) {

    //            alert("test")
    //        }
    //    })
    //})


        $.each(@menu, function (index, item) {
            var parent = item.m_menu_parent_id
            var idmenu = 0;
            if (parent == 0) {
               idmenu = item.m_menu_id
            }

            $("#ckparent_" + idmenu + "").change(function () {
                if (this.checked) {
                    $.each(@menu, function (index, para) {

                        var parant = para.m_menu_parent_id
                        if (parant == idmenu) {
                            var idchild = para.m_menu_id
                        }
                        $("#ckchild_" + idchild + "").prop('checked', true)
                    })
                } else {
                     $.each(@menu, function (index, param) {

                        var parant = param.m_menu_parent_id
                        if (parant == idmenu) {
                            var idchild = param.m_menu_id
                         }
                         $("#ckchild_" + idchild + "").prop('checked', false)
                    })
                }

            })
        })


    $.each(@menu, function (index, item) {
        var parent = item.m_menu_parent_id
        var idmenu = 0;
        if (parent != 0) {
            idmenu = item.m_menu_id //2
        }
        $("#ckchild_" + idmenu + "").change(function () {
            debugger
            if (this.checked) {
                $.each(@menu, function (index, para) {
                    var idmenus = para.m_menu_id
                    if (parent == idmenus) {
                        var idchild = para.m_menu_id
                    }
                    $("#ckparent_" + idchild + "").prop('checked', true)
                })
            }else {
                $.each(@menu, function (index, param) {
                    var idmenus = param.m_menu_id
                        if (parent == idmenus) {
                            var idchild = param.m_menu_id
                    }
                    var temp = $("#ckparent_" + idchild + "").is(":checked")
                    if (temp == true) {
                        return false
                    } else {
                        $("#ckparent_" + idchild + "").prop('checked', false)
                    }

                    })
                }


        })
    })
      @*$.each(@data, function (index, item) {
          var parent = item.m_menu_parent_id
          if (parent == 0) {
             var idmenu = item.m_menu_id
          }
         var parent =   $("#ckparent_" + idmenu + "").is(":checked")
          var child = $("#ckchild_" + idmenu + "").is(":checked")

          $("#btn-save").click(function () {
              if (parent == true) {
                  $.each(@menu, function (index, para) {
                  })
                  $("#vmmenurole").submit()
              }
              else if (parent == false && child == false)
              {
                  $("#validatecheckbox").html('Pilih minimal 1 menu !')
                  $("#validatecheckbox").show();
                  return false
              }
          })
      });*@



    //$("#btn-save").click(function () {
    //    debugger
    //    var check = $(".chk").prop("checked")
    //    if (check == false) {
    //        $("#validatecheckbox").html('Pilih minimal 1 menu !')
    //        $("#validatecheckbox").show();
    //        return false
    //    }
    //})



</script>
@*$('#select_all').on('click', function () {
    if (this.checked) {
        $('.checkbox').each(function () {
            this.checked = true;
        });
    } else {
        $('.checkbox').each(function () {
            this.checked = false;
        });
    }*@

<style>
    div.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 100;
        color: red;
    }
</style>