﻿@model PageinatedList<MiniProject262.Models.m_role>

@{
    ViewData["Title"] = "Index";
}



<div id="contentWrapper" class="pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                  

                    <div class="card-header bg-info">
                        <h3>Hak Akses</h3>
                        <form asp-action="Index" method="get">
                            <div class="input-group input-group-sm float-left" style="width: 150px;">
                                <input id="myInput" type="search" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search..." />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead style="Background: #5ACCDE; color: black">
                                <tr>
                                    <th>
                                       Nama
                                    </th>
                                    <th>
                                        Kode
                                    </th>
                                    <th class="col-2">
                                        Action
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.code)
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-edit" style="color:white" data-id="@item.id">ATUR</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>



        </div>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="float-right">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pSize="@ViewData["CurrentpSize"]"
           class="btn btn-default fas fa-arrow-alt-circle-left @prevDisabled">
        </a>
        <a>
            @Model.PageIndex
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-pSize="@ViewData["CurrentpSize"]"
           class="btn btn-default fas fa-arrow-alt-circle-right @nextDisabled">
        </a>
    </div>
</div>

<!-- /.row -->


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/HakAkses/AturAkses/' + id);
        $("#modal-default").modal("show");

    })
</script>